@mixin include() {
	.wp-block-navigation.is-style-unitone {
		.wp-block-navigation__submenu-container {
			.wp-block-navigation-item {
				background-color: var(--wp--preset--color--unitone-accent);
				color: var(--wp--preset--color--white);

				.wp-block-navigation__submenu-container,
				.wp-block-navigation-item {
					background-color: inherit;
					color: inherit;
				}
			}
		}

		.wp-block-navigation__submenu-container {
			border: none;
		}

		.has-child {
			.wp-block-navigation__submenu-container {
				border: none;

				.wp-block-navigation__submenu-container {
					@media (min-width: 782px) {
						top: 0;
					}
				}
			}
		}

		.wp-block-navigation__submenu-icon {
			background-color: transparent;
		}

		// Global navigation
		// .wp-block-navigation__responsive-container:not(.is-menu-open) {
		// 	.wp-block-navigation__responsive-container-content {
		// 		> .wp-block-navigation__container,
		// 		> .wp-block-page-list {
		// 			> .wp-block-navigation-item {
		// 				> .wp-block-navigation__submenu-container {
		// 					border: none;
		// 					font-weight: normal;

		// 					.wp-block-navigation__submenu-container {
		// 						top: 0;
		// 					}

		// 					.wp-block-navigation-item {
		// 						&:hover,
		// 						&:active,
		// 						&:focus {
		// 							background-color: rgba(255, 255, 255, 0.1);
		// 						}
		// 					}
		// 				}
		// 			}
		// 		}
		// 	}
		// }

		// Global navigation (Horizontal)
		&.is-horizontal {
			.wp-block-navigation__responsive-container:not(.is-menu-open) {
				.wp-block-navigation__responsive-container-content {
					> .wp-block-navigation__container,
					> .wp-block-navigation__container > .wp-block-page-list,
					> .wp-block-page-list {
						> .wp-block-navigation-item {
							> .wp-block-navigation__submenu-container {
								transform: translateX(-50%);
								left: 50%;
							}
						}
					}
				}
			}
		}

		// Global navigation (Vertical)
		&.is-vertical {
			.wp-block-navigation__responsive-container:not(.is-menu-open) {
				.wp-block-navigation__responsive-container-content {
					> .wp-block-navigation__container,
					> .wp-block-navigation__container > .wp-block-page-list,
					> .wp-block-page-list {
						> .wp-block-navigation-item {
							&.has-child {
								padding-right: 1em;
							}

							> .wp-block-navigation__submenu-container {
								left: 100%;
								top: 0;
							}
						}
					}
				}
			}
		}
	}
}

.has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog {
	margin-top: 0;
}
