@mixin include() {
	.wp-block-post-terms.is-style-badge {
		display: flex;
		flex-wrap: wrap;
		gap: var(--unitone--s-2);
		background-color: transparent !important;

		a {
			display: inline-block;
			border-radius: var(--unitone--global--border-radius);
			padding: calc(var(--unitone--s-2) / 2) var(--unitone--s-2);
			text-decoration: none;
		}

		.wp-block-post-terms__separator {
			display: none;
		}
	}
}
