@mixin block-styles() {
	.wp-block-post-terms.is-style-badge {
		background-color: var(--wp--preset--color--black);
		border-radius: 4px;

		> a {
			display: inline-block;
			padding: calc(var(--unitone--s-2) / 2) var(--unitone--s-2);
			text-decoration: none;
		}
	}
}
