.wp-block-image {
	--unitone--drop-shadow: none;
	--unitone--overlay-color: transparent;
	--unitone--overlay-gradient: none;
	--unitone--overlay-opacity: .6;
	--unitone--overlay-radius: 0px;

	&[data-unitone-layout~="-overlay"] {
		display: grid;

		&::after {
			grid-row: 1 / 2;
			content: '';
			position: absolute;
			inset: 0;
			z-index: auto !important;
			background-image: var(--unitone--overlay-gradient);
			background-color: var(--unitone--overlay-color);
			border-radius: var(--unitone--overlay-radius);
			opacity: var(--unitone--overlay-opacity);
			pointer-events: none;
		}
	}

	img {
		filter: drop-shadow(var(--unitone--drop-shadow));
	}
}

.wp-block-image.is-style-rounded[data-unitone-layout~="-overlay"]::after {
	border-radius: 9999px;
}

:root :where(.wp-block-image.is-style-cover) {
	display: block;
	height: 100% !important;
	width: 100% !important;

	:where(img) {
		height: 100% !important;
		width: 100% !important;
		object-fit: cover !important;
	}

	:where(figcaption) {
		display: none !important;
	}

	.components-resizable-box__container,
	> div:not([class]) {
		height: 100% !important;
		width: 100% !important;
		max-height: 100% !important;
		max-width: 100% !important;
		vertical-align: bottom;
	}
}
