.swiper-buttons,
.swiper-pagination {
	pointer-events: none;
}

.swiper-fade .swiper-slide {
	pointer-events: initial;
}

.unitone-slider-pagination {
	position: absolute;
	inset: calc(100% + .5em) auto auto;
	z-index: 3;
	display: flex;
	flex-wrap: wrap;
	gap: var(--unitone--s-2);
	padding: var(--unitone--s-2);
	background: #fff;
	border: 1px solid rgb(221, 221, 221);

	> * {
		flex: 0 1 auto;
		justify-content: center;
		width: 42px;
		height: 42px !important;
	}

	> .components-button:not(.is-primary) {
		background-color: white;
	}
}

.unitone-slider {
	visibility: visible !important;
}

.unitone-slider__wrapper {
	transition: transform .5s ease-in-out;

	> *:not(:last-child) {
		margin-right: var(--unitone--gap);
	}
}

.unitone-slider__canvas {
	> .unitone-slider__wrapper {
		contain: layout;
	}

	&.swiper-fade {
		> .unitone-slider__wrapper {
			contain: initial;
		}
	}
}

.unitone-slider-thumbnails {
	> * {
		aspect-ratio: 4 / 3;
		background-image: repeating-linear-gradient(
			-60deg,
			rgb(255 255 255 / .25),
			rgb(0 0 0 / .25) 1px,
			transparent 0,
			transparent 4px
		);
		zoom: 1;
	}
}

[data-unitone-swiper-centered-slides="true"][data-unitone-swiper-loop="true"] {
	.unitone-slider__wrapper {
		&::before {
			content: '';
			display: block;
			position: absolute;
			inset: 0 calc(100% + var(--unitone--gap)) 0 -200%;
			background-image: repeating-linear-gradient(
				-60deg,
				rgb(255 255 255 / .25),
				rgb(0 0 0 / .25) 1px,
				transparent 0,
				transparent 4px
			);
		}
	}
}

[data-type="unitone/slide"] {
	&:not(.is-selected) {
		> .block-list-appender:only-child {
			pointer-events: none;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				border: 1px dashed;
				pointer-events: none;
			}

			.block-editor-inserter {
				opacity: 0;
			}
		}
	}
}

