@import '../../../node_modules/swiper/swiper.scss';
@import '../../../node_modules/swiper/modules/autoplay.scss';
@import '../../../node_modules/swiper/modules/effect-fade.scss';
@import '../../../node_modules/swiper/modules/navigation.scss';
@import '../../../node_modules/swiper/modules/pagination.scss';

.unitone-slider {
	--unitone--gap: var(--unitone--global--gap);
	--unitone--controls-gap: var(--unitone--global--text-gap);
	--unitone--slide-width: 100%;
	--unitone--thumbnails-gap: var(--unitone--s-2);
	--unitone--thumbnails-columns: 4;
	--swiper-navigation-size: .5em;
	--swiper-navigation-color: var(--wp--preset--color--unitone-accent);
	--swiper-navigation-background-color: transparent;
	--swiper-buttons-gap: var(--unitone--global--text-gap);
	--swiper-pagination-color: var(--wp--preset--color--unitone-accent);
	--swiper-pagination-gap: var(--unitone--global--text-gap);
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-bullet-active-color: currentColor;
	--swiper-pagination-bullet-inactive-color: rgba(0 0 0 / .2);
	--swiper-pagination-bullet-horizontal-gap: var(--swiper-pagination-gap);
	--swiper-pagination-progressbar-active-color: currentColor;
	--swiper-pagination-progressbar-inactive-color: rgba(0 0 0 / .2);

	max-width: 100%;
	position: relative;
	z-index: auto !important;

	&--hide-outside {
		.unitone-slider__canvas {
			overflow: hidden;
		}
	}

	&__canvas-wrapper,
	&__canvas {
		position: relative;
	}

	&__canvas {
		&[data-unitone-swiper-autoplay-delay="0"] {
			.swiper-wrapper {
				transition-timing-function:linear;
			}
		}
	}

	&__wrapper {
		z-index: auto;
		user-select: none;
	}

	&__slide {
		display: flex;
		flex-direction: column;
		height: auto;
		width: min(100%, var(--unitone--slide-width));
	}

	.swiper-buttons {
		display: flex;
		flex-wrap: nowrap;
		gap: var(--swiper-buttons-gap);
		justify-content: center;
		pointer-events: none;

		&--alignment\:top {
			margin-bottom: var(--unitone--controls-gap);
		}

		&--alignment\:top-inside {
			position: absolute;
			inset: 0 0 auto;
			z-index: 1;
		}

		&--alignment\:center {
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			z-index: 1;
			transform: translateY(-50%);
		}

		&--alignment\:bottom-inside {
			position: absolute;
			inset: auto 0 0;
			z-index: 1;
		}

		&--alignment\:bottom {
			margin-top: var(--unitone--controls-gap);
		}

		&--justification\:left {
			justify-content: flex-start;
		}

		&--justification\:center {
			justify-content: center;
		}

		&--justification\:right {
			justify-content: flex-end;
		}

		&--justification\:space-between {
			justify-content: space-between;
		}

		&--justification\:space-between-expanded {
			justify-content: space-between;

			.swiper-button-prev {
				translate: -100% 0;

				@media (min-width: 960px) {
					translate: calc(-100% - var(--unitone--s-1)) 0;
				}
			}

			.swiper-button-next {
				translate: 100% 0;

				@media (min-width: 960px) {
					translate: calc(100% + var(--unitone--s-1)) 0;
				}
			}
		}

		&.has-background-color {
			gap: 0;

			.swiper-button:has(svg) {
				padding: .75em;
			}
		}
	}

	.swiper-button {
		margin-top: 0;
		position: static;
		display: flex;
		font-weight: bold;
		height: auto;
		padding: calc(1rem - var(--swiper-navigation-size) / 2) 1rem;
		pointer-events: auto;

		&:has(svg) {
			padding: 0;
			width: auto;

			> span {
				display: flex;
			}

			&::after {
				display: none;
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		background-color: var(--swiper-navigation-background-color);
	}

	.swiper-pagination {
		position: static;
		display: flex;
		justify-content: center;
		pointer-events: none;

		&--alignment\:top {
			margin-bottom: var(--unitone--controls-gap);
		}

		&--alignment\:top-inside {
			position: absolute;
			inset: 0 0 auto;
			z-index: 1;
		}

		&--alignment\:bottom {
			margin-top: var(--unitone--controls-gap);
		}

		&--alignment\:bottom-inside {
			position: absolute;
			inset: auto 0 0;
			z-index: 1;
		}

		&--justification\:left {
			justify-content: flex-start;
		}

		&--justification\:center {
			justify-content: center;
		}

		&--justification\:right {
			justify-content: flex-end;
		}
	}

	.swiper-pagination-bullets.swiper-pagination-horizontal {
		gap: var(--swiper-pagination-bullet-horizontal-gap);

		.swiper-pagination-bullet {
			position: relative;
			margin: var(--unitone--s-2) 0;
		}
	}

	.swiper-pagination-bullet {
		background-color: var(--swiper-pagination-bullet-inactive-color);
		pointer-events: auto;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			height: calc(100% + var(--swiper-pagination-bullet-horizontal-gap));
			width: calc(100% + var(--swiper-pagination-bullet-horizontal-gap));
		}

		&.swiper-pagination-bullet-active {
			background-color: var(--swiper-pagination-bullet-active-color);
		}
	}

	.swiper-pagination-progressbar {
		background-color: var(--swiper-pagination-progressbar-inactive-color);
	}

	.swiper-pagination-progressbar-fill {
		background-color: var(--swiper-pagination-progressbar-active-color);
	}

	.swiper-fade {
		overflow: hidden;
	}

	// For some reason, the slide before the first one is not fully transparent.
	.swiper-fade .swiper-slide.swiper-slide-visible.swiper-slide-prev {
		opacity: 0 !important;
	}
	.swiper-fade .swiper-slide.swiper-slide-visible.swiper-slide-active {
		opacity: 1 !important;
	}

	.unitone-slider-thumbnails {
		margin-top: var(--unitone--controls-gap);
		display: grid;
		grid-template-columns: repeat(var(--unitone--thumbnails-columns), 1fr);
		gap: var(--unitone--thumbnails-gap);

		> :where(.unitone-slider__slide) {
			position: relative;
			cursor: pointer;
			width: auto;
			zoom: calc(1 / var(--unitone--thumbnails-columns));
			overflow: hidden;
			opacity: .25;
			transition: opacity .2s;

			> * {
				pointer-events: none;
				user-select: none;
			}

			&:where(:focus-visible, :hover, :active, [data-slide-active=true]) {
				opacity: 1;
			}
		}
	}
}
