@import '../../../node_modules/swiper/swiper.scss';
@import '../../../node_modules/swiper/modules/autoplay.scss';
@import '../../../node_modules/swiper/modules/effect-fade.scss';
@import '../../../node_modules/swiper/modules/navigation.scss';
@import '../../../node_modules/swiper/modules/pagination.scss';

.unitone-slider {
	--unitone--gap: var(--unitone--global--gap);
	--unitone--slide-width: 100%;
	--swiper-navigation-size: .5em;
	--swiper-navigation-color: var(--wp--preset--color--unitone-accent);
	--swiper-buttons-gap: var(--unitone--global--text-gap);
	--swiper-pagination-color: var(--wp--preset--color--unitone-accent);
	--swiper-pagination-gap: var(--unitone--global--text-gap);
	--swiper-pagination-bullet-inactive-color: var(--wp--preset--color--unitone-dark-gray);
	--swiper-pagination-bullet-horizontal-gap: var(--swiper-pagination-gap);

	position: relative;

	&--hide-outside {
		.unitone-slider__canvas {
			overflow: hidden;
		}
	}

	&__canvas-wrapper,
	&__canvas {
		position: relative;
	}

	&__canvas {
		&[data-unitone-swiper-autoplay-delay="0"] {
			.swiper-wrapper {
				transition-timing-function:linear;
			}
		}
	}

	&__wrapper {
		> *:not(:last-child) {
			margin-right: var(--unitone--gap);
		}
	}

	&__slide {
		display: flex;
		height: auto;
		width: min(100%, var(--unitone--slide-width));
	}

	.swiper-buttons {
		display: flex;
		flex-wrap: nowrap;
		gap: var(--swiper-buttons-gap);
		justify-content: center;

		&--alignment\:top {
			margin-bottom: var(--swiper-buttons-gap);
		}

		&--alignment\:center {
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			z-index: 1;
			transform: translateY(-50%);
		}

		&--alignment\:bottom {
			margin-top: var(--swiper-buttons-gap);
		}

		&--justification\:left {
			justify-content: flex-start;
		}

		&--justification\:center {
			justify-content: center;
		}

		&--justification\:right {
			justify-content: flex-end;
		}

		&--justification\:space-between {
			justify-content: space-between;
		}
	}

	.swiper-button {
		margin-top: 0;
		position: static;
		display: flex;
		font-weight: bold;
		height: auto;
		padding: calc(1rem - var(--swiper-navigation-size) / 2) 1rem;
	}

	.swiper-pagination {
		position: static;
		display: flex;
		justify-content: center;

		&--alignment\:top {
			margin-bottom: var(--swiper-pagination-gap);
		}

		&--alignment\:bottom {
			margin-top: var(--swiper-pagination-gap);
		}

		&--justification\:left {
			justify-content: flex-start;
		}

		&--justification\:center {
			justify-content: center;
		}

		&--justification\:right {
			justify-content: flex-end;
		}
	}

	.swiper-pagination-bullets.swiper-pagination-horizontal {
		gap: var(--swiper-pagination-bullet-horizontal-gap);

		.swiper-pagination-bullet {
			margin: 0;

			&::after {
				content: '';
				display: block;
				height: calc(100% + var(--swiper-pagination-bullet-horizontal-gap));
				width: calc(100% + var(--swiper-pagination-bullet-horizontal-gap));
			}
		}
	}

	.swiper-fade {
		overflow: hidden;
	}

	// For some reason, the slide before the first one is not fully transparent.
	.swiper-fade .swiper-slide.swiper-slide-visible.swiper-slide-prev {
		opacity: 0 !important;
	}
	.swiper-fade .swiper-slide.swiper-slide-visible.swiper-slide-active {
		opacity: 1 !important;
	}
}
