[data-type="unitone/timeline-dots"] {
	&:not(.is-selected) {
		> .block-list-appender:only-child {
			pointer-events: none;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				border: 1px dashed;
				pointer-events: none;
			}

			.block-editor-button-block-appender {
				opacity: 0;
			}
		}
	}
}

[data-type="unitone/timeline-dots-column"] {
	&:not(.is-selected) {
		> .block-list-appender:only-child {
			pointer-events: none;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				border: 1px dashed;
				pointer-events: none;
			}

			.block-editor-inserter {
				opacity: 0;
			}
		}
	}
}
