[data-unitone-layout~="layers"] {
	&:is(
		[data-unitone-layout~="-cover"],
		[data-unitone-layout~="-fill"]
	) {
		> :first-child > :is([data-type="core/image"], [data-type="core/video"]),
		> :is([data-type="core/video"], [data-type="core/image"]):first-child {
			:is(
				.components-resizable-box__container,
				.components-disabled,
				div:not([class])
			) {
				display: contents !important;
			}

			:is(.components-resizable-box__container, .components-disabled) {
				> div:not(:has(video)) {
					display: none; // Remove resizer
				}

				> div:has(video) {
					display: contents !important;
				}
			}

			figcaption {
				display: none;
			}

			:is(
				.block-editor-media-placeholder,
				.components-placeholder,
				video
			) {
				height: 100%;
				width: 100%;
			}
		}
	}

	&[data-unitone-layout~="-cover"] {
		> :first-child > [data-type="core/post-featured-image"] {
			height: 100%;
			width: 100%;

			> .has-illustration {
				height: 100%;
			}
		}
	}

	> .block-list-appender {
		grid-row: auto;
	}
}

[data-type="unitone/layers"] {
	&:not(.is-selected) {
		> .block-list-appender:only-child {
			pointer-events: none;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				border: 1px dashed;
				pointer-events: none;
			}

			.block-editor-inserter {
				opacity: 0;
			}
		}
	}
}
