[data-unitone-layout~="layers"] {
	&[data-unitone-layout~="-cover"],
	&[data-unitone-layout~="-fill"] {
		> :first-child > [data-type="core/image"],
		> [data-type="core/image"]:first-child {
			.components-resizable-box__container,
			.components-disabled,
			div:not([class]) {
				display: contents !important;
			}

			.components-resizable-box__container,
			.components-disabled {
				> div {
					display: none; // Remove resizer
				}
			}

			figcaption {
				display: none;
			}
		}
	}

	&[data-unitone-layout~="-cover"] {
		> :first-child > [data-type="core/post-featured-image"] {
			height: 100%;
			width: 100%;

			> .has-illustration {
				height: 100%;
			}
		}
	}

	> .block-list-appender {
		grid-row: auto;
	}
}
