.unitone-child-pages {
	--unitone--padding: 0px;

	padding: var(--unitone--padding);
}

:root :where(
	.unitone-child-pages.is-style-box,
	.unitone-child-pages.is-style-panel,
	.unitone-child-pages.is-style-rich-media
) {
	--unitone--item-padding: var(--unitone--padding);

	&:not(:root) {
		background-color: transparent !important;
		border: none !important;
		border-radius: none !important;
		padding: 0 !important;
	}

	:where([data-unitone-layout~="responsive-grid"]) {
		--unitone--column-min-width: 280px;
	}
}

:root :where(
	.unitone-child-pages.is-style-box,
	.unitone-child-pages.is-style-panel
) {
	--unitone--padding: var(--unitone--p1);
}

:root :where(.unitone-child-pages.is-style-box) {
	> :where([data-unitone-layout~="responsive-grid"]) {
		> :where([data-unitone-layout~="decorator"]) {
			--unitone--padding: var(--unitone--item-padding);

			background-color: var(--wp--preset--color--unitone-bright-gray);
		}
	}
}

:root :where(.unitone-child-pages.is-style-panel) {
	> :where([data-unitone-layout~="responsive-grid"]) {
		> :where([data-unitone-layout~="decorator"]) {
			--unitone--padding: var(--unitone--item-padding);

			background-color: var(--wp--preset--color--unitone-background);
		}
	}
}

:root :where(.unitone-child-pages.is-style-rich-media) {
	--unitone--padding: 0px;

	&:where(.has-background, .has-border-color) {
		--unitone--padding: var(--unitone--p1);
	}

	:where(.unitone-child-pages__item) {
		:where([data-unitone-layout~="decorator"]) {
			--unitone--padding: var(--unitone--item-padding);
		}
	}

	:where(.unitone-child-pages__item__content) {
		padding-bottom: 0;
	}

	:where(.unitone-child-pages__item__action) {
		padding-top: 0;
	}
}

:root :where(.unitone-child-pages.is-style-stack-divided-stripe) {
	:where([data-unitone-layout~="stack"]) {
		--unitone--gap: var(--unitone--s-1);
	}

	:where([data-unitone-layout~="-divider:stripe"] [data-unitone-layout~="-divider:stripe"] > :last-child)::before {
		border-bottom-width: 0px !important;
	}

	:where(li li a) { margin-left: 1em; }
	:where(li li li a) { margin-left: 2em; }
	:where(li li li li a) { margin-left: 3em; }
	:where(li li li li li a) { margin-left: 4em; }
	:where(li li li li li li a) { margin-left: 5em; }
}
