.unitone-child-pages {
	--unitone--padding: 0px;

	padding: var(--unitone--padding);
}

:root :where(
	.unitone-child-pages--layout\:box,
	.unitone-child-pages--layout\:panel,
	.unitone-child-pages--layout\:rich-media,
	.unitone-child-pages.is-style-box, /* @deprecated */
	.unitone-child-pages.is-style-panel, /* @deprecated */
	.unitone-child-pages.is-style-rich-media /* @deprecated */
) {
	--unitone--item-padding: var(--unitone--padding);

	&:not(:root) {
		background-color: transparent !important;
		border: none !important;
		border-radius: initial !important;
		padding: 0 !important;
	}

	:where([data-unitone-layout~="responsive-grid"]) {
		--unitone--column-min-width: 280px;
	}
}

:root :where(
	.unitone-child-pages--layout\:box,
	.unitone-child-pages--layout\:panel,
	.unitone-child-pages.is-style-box, /* @deprecated */
	.unitone-child-pages.is-style-panel /* @deprecated */
) {
	--unitone--padding: var(--unitone--p1);
}

:root :where(
	.unitone-child-pages--layout\:cluster,
	.unitone-child-pages--layout\:stack
) {
	--unitone--divider-width: 1px;
	--unitone--divider-style: solid;
	--unitone--divider-color: var(--wp--preset--color--unitone-light-gray);

	--unitone--layout-divider-width: var(--unitone--divider-width);
	--unitone--layout-divider-style: var(--unitone--divider-style);
	--unitone--layout-divider-color: var(--unitone--divider-color);

	:where(
		[data-unitone-layout~="cluster"][data-unitone-layout*="-divider\:"],
		[data-unitone-layout~="stack"][data-unitone-layout*="-divider\:"]
	) {
		--unitone--divider-width: var(--unitone--layout-divider-width);
		--unitone--divider-style: var(--unitone--layout-divider-style);
		--unitone--divider-color: var(--unitone--layout-divider-color);
	}
}

:root :where(
	.unitone-child-pages--layout\:box,
	.unitone-child-pages.is-style-box /* @deprecated */
) {
	> :where([data-unitone-layout~="responsive-grid"]) {
		> :where([data-unitone-layout~="decorator"]) {
			--unitone--padding: var(--unitone--item-padding);

			background-color: var(--wp--preset--color--unitone-bright-gray);
		}
	}
}

:root :where(
	.unitone-child-pages--layout\:panel,
	.unitone-child-pages.is-style-panel /* @deprecated */
) {
	> :where([data-unitone-layout~="responsive-grid"]) {
		> :where([data-unitone-layout~="decorator"]) {
			--unitone--padding: var(--unitone--item-padding);

			background-color: var(--wp--preset--color--unitone-background);
		}
	}
}

:root :where(
	.unitone-child-pages--layout\:rich-media,
	.unitone-child-pages.is-style-rich-media /* @deprecated */
) {
	--unitone--padding: 0px;

	&:where(.has-background, .has-border-color) {
		--unitone--padding: var(--unitone--p1);
	}

	:where(.unitone-child-pages__item) {
		:where([data-unitone-layout~="decorator"]) {
			--unitone--padding: var(--unitone--item-padding);
		}
	}

	:where(.unitone-child-pages__item__content) {
		padding-bottom: 0;
	}

	:where(.unitone-child-pages__item__action) {
		padding-top: 0;
	}
}

:root :where(
	.unitone-child-pages--layout\:stack:has([data-unitone-layout~="-divider:stripe"]),
	.unitone-child-pages.is-style-stack-divided-stripe /* @deprecated */
) {
	:where([data-unitone-layout~="stack"]) {
		--unitone--gap: var(--unitone--s-1);
	}

	:where([data-unitone-layout~="-divider:stripe"] [data-unitone-layout~="-divider:stripe"] > :last-child)::before {
		border-bottom-width: 0px !important;
	}

	:where(li li a) { margin-left: 1em; }
	:where(li li li a) { margin-left: 2em; }
	:where(li li li li a) { margin-left: 3em; }
	:where(li li li li li a) { margin-left: 4em; }
	:where(li li li li li li a) { margin-left: 5em; }
}
