.unitone-child-pages {
	&.is-style-box,
	&.is-style-panel,
	&.is-style-rich-media {
		background-color: transparent !important;

		[data-unitone-layout~="responsive-grid"] {
			--unitone--column-min-width: min(max(375px, (100% - var(--unitone--gap) * 2) / 3), 100%);
		}
	}

	&.is-style-stack-divided-stripe {
		[data-unitone-layout~="stack"] {
			--unitone--gap: var(--unitone--s-1);
		}
	}
}
