@use '../../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

.wp-block-quote {
	@include text.abstract-text();
	@include text.abstract-text--gap();
	--unitone--max-width: inherit;

	box-sizing: border-box;
	font-style: italic;
	padding: 0;

	cite,
	footer {
		display: block;
		color: currentColor;
		font-size: var(--wp--preset--font-size--unitone-s);
		font-style: normal;
	}
}

:where(body .wp-block-quote) > * {
	margin-block-start: var(--unitone--global--text-gap);
	margin-block-end: 0;
}

:root :where(
	.wp-block-quote.is-style-default,
	.wp-block-quote:not([class*="is-style-"])
) {
	border-left: 0.25em solid currentColor;
	padding-left: var(--unitone--global--text-gap);

	&:where(.has-text-align-right) {
		border-left: none;
		border-right: 0.25em solid currentColor;
		padding-left: 0;
		padding-right: var(--unitone--global--text-gap);
	}

	&:where(.has-text-align-center) {
		border: none;
		padding-left: 0;
	}
}
