[data-type="unitone/texture"] {
	&:not(.is-selected) {
		> .block-list-appender:only-child {
			pointer-events: none;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				border: 1px dashed;
				pointer-events: none;
			}

			.block-editor-inserter {
				opacity: 0;
			}
		}
	}
}
