.unitone-mega-menu {
	.unitone-mega-menu__placement {
		> .block-list-appender {
			background-color: #fff;

			.block-editor-button-block-appender {
				padding: 12px !important;
			}
		}
	}
}

.unitone-mega-menu.has-child-selected {
	.unitone-mega-menu__placement {
		> .block-list-appender {
			display: none;
		}
	}
}
