.unitone-mega-menu__container {
	--unitone--font-size: 0;

	background-color: transparent;
	color: var(--wp--preset--color--unitone-text-black);
	font-weight: normal;

	position: absolute;
	inset: 100% 0 auto calc(var(--unitone--diffx, 0px) * -1 + var(--unitone--global--gutters));
	z-index: 11; // If it is not 10 or higher, the editor will give priority to the hover of the template part on the virtual layer.
	width: calc(100vw - var(--unitone--global--gutters) * 2);
	height: 0;
	opacity: 0;
	transition: opacity .1s linear;
	visibility: hidden;
}

.unitone-mega-menu [aria-expanded=true] ~ .unitone-mega-menu__container,
.wp-block-navigation__responsive-container.is-menu-open .unitone-mega-menu__container {
	height: auto;
	opacity: 1;
	visibility: visible;
}

.wp-block-navigation__responsive-container.is-menu-open .unitone-mega-menu__container {
	position: relative;
	inset: auto;
	width: auto;
}
