.unitone-mega-menu__container {
	--unitone--top: 0px;

	height: 0;
	opacity: 0;
	visibility: hidden;

	position: fixed;
	transition: opacity .1s linear;
	overflow: hidden;

	display: grid;
	place-items: center stretch;
}

.unitone-mega-menu__placement {
	--unitone--font-size: 0;

	background-color: var(--wp--preset--color--unitone-background);
	color: var(--wp--preset--color--unitone-text-black);
	font-weight: normal;
}

:where(.unitone-mega-menu__container.has-background) > .unitone-mega-menu__placement {
	background-color: transparent;
}

:where(.unitone-mega-menu [aria-expanded=true]) ~ .unitone-mega-menu__container {
	z-index: 11; // If it is not 10 or higher, the editor will give priority to the hover of the template part on the virtual layer.

	height: auto;
	opacity: 1;
	visibility: visible;

	inset: var(--unitone--top) 0 auto;
	max-width: 100%;
	max-height: calc(100vh - var(--unitone--top));
	overflow: auto;
}

// Overlay.
:where(.wp-block-navigation__responsive-container.is-menu-open){
	.unitone-mega-menu__container {
		height: auto;
		opacity: 1;
		visibility: visible;

		position: relative;
		inset: auto;
		max-height: none;
	}
}

// Style: unitone (Accordion)
.wp-block-navigation:where(.is-style-unitone-accordion) {
	// Overlay
	:where(.wp-block-navigation__responsive-container.is-menu-open) {
		[aria-expanded=false] ~ .unitone-mega-menu__container {
			height: 0;
			opacity: 0;
			visibility: hidden;
		}
	}
}
