.unitone-mega-menu__container {
	pointer-events: none;
	height: 0;
	opacity: 0;
	visibility: hidden;

	position: absolute;
	transition: opacity .1s linear;
	overflow: hidden;

	display: grid;
	place-items: start stretch;
}

.unitone-mega-menu__placement {
	--unitone--font-size: 0;

	pointer-events: initial;
	margin-right: auto;
	margin-left: auto;
	background-color: var(--wp--preset--color--unitone-background);
	color: var(--wp--preset--color--unitone-text-black);
	font-weight: normal;
	width: 100%;
}

:where(.unitone-mega-menu__container.has-background) > .unitone-mega-menu__placement {
	background-color: transparent;
}

:where(.unitone-mega-menu) .unitone-mega-menu__container {
	height: auto;

	inset: 100% auto auto calc(var(--unitone--rect-left) * -1);
	max-width: 100vw;
	width: 100vw;
}

:where(.unitone-mega-menu [aria-expanded=true]) ~ .unitone-mega-menu__container {
	z-index: 11; // If it is not 10 or higher, the editor will give priority to the hover of the template part on the virtual layer.

	opacity: 1;
	visibility: visible;
}

:where(.unitone-mega-menu--width\:content, .unitone-mega-menu--width\:wide) .unitone-mega-menu__container {
	left: calc(50% + var(--unitone--mega-menu-diff, 0px));
	translate: -50% 0;
}

:where(.unitone-mega-menu--width\:wide) .unitone-mega-menu__container {
	max-width: var(--wp--style--global--wide-size);
}

:where(.unitone-mega-menu--width\:content) .unitone-mega-menu__container {
	max-width: var(--wp--style--global--content-size);
}

// Overlay.
:where(.wp-block-navigation__responsive-container.is-menu-open) {
	.unitone-mega-menu__container {
		height: auto;
		opacity: 1;
		visibility: visible;

		position: relative;
		inset: auto;
		max-width: 100%;
		width: auto;
	}

	.unitone-mega-menu__placement {
		max-width: 100%;
	}
}

// Style: unitone (Accordion)
.wp-block-navigation:where(.is-style-unitone-accordion) {
	// Overlay
	:where(.wp-block-navigation__responsive-container.is-menu-open) {
		[aria-expanded=false] ~ .unitone-mega-menu__container {
			height: 0;
			opacity: 0;
			visibility: hidden;
		}
	}
}
