.wp-block-site-logo {
	.custom-logo-link {
		display: inline-flex;
		color: inherit;
	}

	img {
		display: table;
	}

	.components-resizable-box__container {
		height: auto !important;
	}
}

// When a horizontal navigation is folded into a single column,
// the margins of the navigation items are aligned with the margins above the logo.
:where(.site-header .wp-block-site-logo) {
	.custom-logo-link {
		padding-top: var(--unitone--s-2);
		padding-bottom: var(--unitone--s-2);
	}
}
