@use '../../../node_modules/@inc2734/unitone-css/src/foundation/foundation';

@mixin foundation() {
	@include foundation.foundation();

	:root {
		--unitone--container-max-width: 1180px;
	}

	body {
		overflow-x: hidden;
	}

	:where(a) {
		color: var(--wp--preset--color--unitone-accent);
	}

	code,
	kbd {
		--unitone--font-size: -1;

		display: inline-block;
		background-color: var(--wp--preset--color--unitone-light-gray);
		padding: 0 var(--unitone--s-2);
		border-radius: var(--unitone--global--border-radius);
	}

	:where(
		[type=email],
		[type=number],
		[type=password],
		[type=search],
		[type=tel],
		[type=text],
		[type=url],
		textarea
	) {
		border: 1px solid var(--wp--preset--color--unitone-gray);
		padding: calc(var(--unitone--s-2) / 2) var(--unitone--s-2);
		border-radius: var(--unitone--global--border-radius);
	}

	:where(select) {
		border: 1px solid var(--wp--preset--color--unitone-gray);
		padding: var(--unitone--s-2) var(--unitone--s-2);
		border-radius: var(--unitone--global--border-radius);
	}

	:where(
		[type=button],
		[type=reset],
		[type=submit],
		button
	) {
		border: 1px solid var(--wp--preset--color--unitone-gray);
		padding: calc(var(--unitone--s-2) / 2) var(--unitone--s-2);
		border-radius: var(--unitone--global--border-radius);

		&:active {
			border-color: var(--wp--preset--color--unitone-dark-gray);
		}
	}
}
