@use "sass:meta";

@include meta.load-css("../../../node_modules/@inc2734/unitone-css/src/foundation/foundation");
@include meta.load-css("../../../node_modules/@inc2734/unitone-css/src/helper/helper");

html,
body {
	overflow-x: clip;
}

code,
kbd {
	--unitone--font-size: -1;
	--unitone--border-radius: var(--unitone--global--border-radius);

	display: inline-block;
	background-color: var(--wp--preset--color--unitone-light-gray);
	padding: 0 var(--unitone--p-2);
	border-radius: var(--unitone--border-radius);
}

:where(figure) {
	margin-bottom: 0;
}

:where(
	[type=email],
	[type=number],
	[type=password],
	[type=search],
	[type=tel],
	[type=text],
	[type=url],
	textarea
) {
	--unitone--border-radius: var(--unitone--global--border-radius);
	--unitone--padding: calc(var(--unitone--p-1) / 1.5);

	border: 1px solid var(--wp--preset--color--unitone-gray);
	padding: var(--unitone--padding);
	border-radius: var(--unitone--border-radius);
	font-family: inherit;
	max-width: 100%;
}

:where(select) {
	--unitone--border-radius: var(--unitone--global--border-radius);
	--unitone--padding: calc(var(--unitone--p-1) / 1.5);

	border: 1px solid var(--wp--preset--color--unitone-gray);
	padding: var(--unitone--padding);
	border-radius: var(--unitone--border-radius);
	font-family: inherit;
	max-width: 100%;
}

:where(
	[type=reset]:not(.wp-element-button),
	[type=submit]:not(.wp-element-button)
) {
	--unitone--border-radius: var(--unitone--global--border-radius);
	--unitone--padding: var(--unitone--p-1);
	--unitone--padding-block: calc(var(--unitone--padding) / 1.5);
	--unitone--padding-inline: var(--unitone--padding);

	border: 1px solid var(--wp--preset--color--unitone-gray);
	padding: var(--unitone--padding-block) var(--unitone--padding-inline);
	border-radius: var(--unitone--border-radius);
	font-family: inherit;

	&:active {
		border-color: var(--wp--preset--color--unitone-dark-gray);
	}
}

fieldset {
	border: 1px solid var(--wp--preset--color--unitone-light-gray);
	padding: var(--unitone--p-1);
	min-width: auto;
}

legend {
	padding-right: var(--unitone--s-2);
	padding-left: var(--unitone--s-2);
}

[data-unitone-layout*="-link-decoration\:"] {
	a:where(:not(.wp-element-button)) {
		text-decoration-line: var(--unitone--link-decoration);
	}
}

[data-unitone-layout~="-link-decoration\:none"] {
	a:where(:not(.wp-element-button)) {
		&:where(:focus-visible) {
			text-decoration-line: underline;
		}

		@media (any-hover: hover) {
			&:where(:hover) {
				text-decoration-line: underline;
			}
		}
	}
}

:where(
	.has-text-color-hover,
	.has-background-hover,
	.has-gradient-background-hover,
	.has-border-color-hover
) {
	--unitone--transition-duration: .2s;

	transition-property:
		var(--unitone--hover-text-color-transition-property, dummy),
		var(--unitone--hover-background-color-transition-property, dummy),
		var(--unitone--hover-background-image-transition-property, dummy),
		var(--unitone--hover-border-image-transition-property, dummy);
	transition-duration: var(--unitone--transition-duration);
}

:where(.wp-block-button__link) {
	transition: inherit;
}

.has-text-color-hover {
	--unitone--hover-text-color-transition-property: color;
}

.has-background-hover {
	--unitone--hover-background-color-transition-property: background-color;
}

.has-gradient-background-hover {
	--unitone--hover-background-image-transition-property: background-image;
}

.has-border-hover {
	--unitone--hover-border-color-transition-property: border-color;
}

@media (any-hover: hover) {
	:is(
		.has-text-color-hover:not(.wp-block-button):hover,
		.has-text-color-hover > .wp-block-button__link:hover
	) {
		color: var(--unitone--color--hover) !important;
	}

	:is(
		.has-background-hover:not(.wp-block-button):hover,
		.has-background-hover > .wp-block-button__link:hover
	) {
		background-color: var(--unitone--background-color--hover) !important;
		background-image: none !important;
	}

	:is(
		.has-gradient-background-hover:not(.wp-block-button):hover,
		.has-gradient-background-hover > .wp-block-button__link:hover
	) {
		background-image: var(--unitone--background-image--hover) !important;
		background-color: transparent !important;
	}

	:is(
		.has-border-color-hover:not(.wp-block-button):hover,
		.has-border-color-hover > .wp-block-button__link:hover
	) {
		border-color: var(--unitone--border-color--hover) !important;
	}
}

[data-unitone-layout~="-position\:sticky-top"]:not(:root) {
	--unitone--position: sticky !important;
	--unitone--top: 0px;
	--unitone--z-index: 1;
}

[data-unitone-layout~="-position\:sticky-top-admin-bar"]:not(:root) {
	--unitone--position: sticky !important;
	--unitone--top: var(--wp-admin--admin-bar--height, 0px);
	--unitone--z-index: 1;
}

:where([data-unitone-layout~="-background-clip"] [data-unitone-block-list~="block"]),
[data-unitone-layout~="-background-clip"] :is(.block-editor-block-list__layout, .block-editor-block-list__block) {
	@supports (background-clip: text) {
		position: static;
	}
}
