@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/layout-primitives';
@use '../../../node_modules/@inc2734/unitone-css/src/helper/helper';

@mixin layout-primitives() {
	@include layout-primitives.layout-primitives();
	@include helper.helper();

	[data-unitone-layout~="cover"] {
		--unitone--min-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
	}

	[data-unitone-layout~="layers"][data-unitone-layout~="-cover"] {
		[data-unitone-layout~="layers__layer"] {
			position: relative;
		}
	}

	[data-unitone-layout~="decorator"] {
		--unitone--position: relative;
	}
}
