@use '../../../node_modules/@inc2734/basis2/src/layout-primitives/layout-primitives';
@use '../../../node_modules/@inc2734/basis2/src/helper/helper';

@mixin layout-primitives() {
	@include layout-primitives.layout-primitives();
	@include helper.helper();

	[data-layout~="cover"] {
		--min-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
	}

	[data-layout~="layers"][data-layout~="-cover"] {
		[data-layout~="layers__layer"] {
			position: relative;
		}
	}

	[data-layout~="decorator"] {
		--position: relative;
	}
}
