@mixin include() {
	.wp-site-blocks {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));

		> * + * {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}

		> * {
			flex: 1 0 auto;
		}

		> .site-header,
		> .site-footer {
			z-index: 1;
			flex: none;
		}
	}

	.site-contents {
		display: flex;
		flex-direction: column;

		> * {
			flex: 0 0 auto;
		}

		> .site-footer-breadcrumbs {
			margin-top: auto;
		}
	}

	.site-header {
		&.-header-position\:fixed {
			position: fixed;
			right: 0;
			left: 0;
			z-index: 1;
		}

		&.-header-position\:overlay {
			position: absolute;
			right: 0;
			left: 0;
			z-index: 1;
		}
	}

	.site-footer {
		.wp-block-navigation-submenu__toggle,
		.wp-block-navigation__submenu-container {
			display: none !important;
		}

		.wp-block-navigation.is-vertical {
			gap: var(--unitone--s-1);
		}
	}

	.wp-oembed-blog-card {
		&,
		&:hover,
		&:active,
		&:focus {
			box-shadow: var(--unitone--global--box-shadow);
		}

		> a,
		> span {
			padding: var(--unitone--s1);
		}

		&__domain {
			display: flex;
			align-items: center;
		}

		&__favicon {
			top: 0;
			height: 13px !important;
			width: auto;
		}
	}

	// For iframe on the block editor
	.rich.wp-block-embed__wrapper {
		//height: calc(max-content + 15px);
		padding-bottom: 18px;

		.wp-oembed-blog-card {
			margin: 5px 14px 0 !important;
		}
	}

	// For the block editor
	.wp-block-embed figure.wp-block-embed {
		margin-top: -5px;
		margin-right: -14px;
		margin-left: -14px;
		width: calc(100% + 14px * 2);
		max-width: none;

		figcaption {
			position: relative;
			margin-top: -18px;

			> span {
				font-size: inherit;
			}
		}
	}

	.page-template-page-right-sidebar,
	.post-template-single-right-sidebar {
		.entry-content {
			> :where(:not(.alignleft):not(.alignright)) {
				max-width: 100%;
			}

			.alignright {
				margin-right: 0;
			}

			.alignleft {
				margin-left: 0;
			}
		}
	}
}
