#wpadminbar {
	position: fixed !important;
}

.site-header {
	// @deprecated
	&.-header-position\:fixed {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1;
	}

	// @deprecated
	&.-header-position\:overlay {
		position: absolute;
		right: 0;
		left: 0;
		z-index: 1;
	}
}

.site-footer {
	.wp-block-navigation-submenu__toggle,
	.wp-block-navigation__submenu-container {
		display: none !important;
	}

	.wp-block-navigation.is-vertical {
		gap: var(--unitone--s-1);
	}
}

// For iframe on the block editor
.rich.wp-block-embed__wrapper .wp-oembed-blog-card {
	margin: 0 !important;
}

.home {
	.site-footer-breadcrumbs {
		display: none;
	}
}

.site-container-left-header {
	--unitone--sidebar-width: clamp(var(--unitone--cg2), 30%, var(--unitone--cg3));

	@media (min-width: 600px) {
		> :first-child {
			position: fixed;
			z-index: 2;
			width: var(--unitone--sidebar-width);
			top: var(--wp-admin--admin-bar--height, 0px);
			bottom: 0;
			left: 0;
			padding-top: calc(var(--unitone--s3) - var(--unitone--s-1));
			padding-bottom: calc(var(--unitone--s3) - var(--unitone--s-1));
		}

		> :not(:first-child) {
			margin-left: var(--unitone--sidebar-width);
		}
	}
}
