.site-footer {
	.wp-block-navigation-submenu__toggle,
	.wp-block-navigation__submenu-container {
		display: none !important;
	}
}

// For iframe on the block editor
.rich.wp-block-embed__wrapper .wp-oembed-blog-card {
	margin: 0 !important;
}

.home {
	.site-footer-breadcrumbs {
		display: none;
	}
}

.site-container-left-header:where(.unitone-grid) {
	@media (min-width: 600px) {
		.site-header {
			position: sticky;
			top: var(--wp-admin--admin-bar--height, 0px);
			z-index: 2;
			max-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
			padding-top: var(--unitone--s2);
			padding-bottom: var(--unitone--s2);
			overflow: auto;

			&:where(.block-editor-block-list__layout) {
				overflow: visible;
			}

			> .unitone-section > [data-unitone-layout~="gutters"],
			> [data-unitone-layout~="container"] > [data-unitone-layout~="gutters"] {
				--unitone--padding: 0 !important;
			}
		}
	}
}

// @deprecated
.site-header {
	&.-header-position\:fixed {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1;
	}

	&.-header-position\:overlay {
		position: absolute;
		right: 0;
		left: 0;
		z-index: 1;
	}
}

// @deprecated
.site-container-right-sidebar {
	.entry-content,
	.wp-block-post-content {
		--wp--style--global--content-size: 100%;
		--wp--style--global--wide-size: 100%;
		--unitone--gutters: 0px;
	}
}

// @deprecated
.site-container-left-header:where([data-unitone-layout~="cover"]) {
	--unitone--sidebar-width: clamp(var(--unitone--cg2), 30%, var(--unitone--cg3));

	@media (min-width: 600px) {
		display: grid;
		grid-template-rows: 1fr auto;
		grid-template-columns: var(--unitone--sidebar-width) minmax(0, 1fr);

		> * {
			margin: 0;
		}

		> :first-child {
			grid-row: 1 / -1;
			position: sticky;
			top: var(--wp-admin--admin-bar--height, 0px);
			height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
			overflow: visible clip;
			z-index: 2;
		}

		.site-header {
			flex-basis: var(--unitone--sidebar-width);
			overflow: auto;
			height: 100%;

			&:where(.block-editor-block-list__layout) {
				overflow: visible;
			}

			> [data-unitone-layout~="container"] {
				padding-top: calc(var(--unitone--s3) - var(--unitone--s-1));
				padding-bottom: calc(var(--unitone--s3) - var(--unitone--s-1));

				> [data-unitone-layout~="gutters"] {
					> [data-unitone-layout~="both-sides"] {
						> * {
							flex-basis: 100%;
						}
					}
				}
			}
		}

		.site-header .wp-block-navigation.is-vertical {
			--navigation-layout-align: stretch;

			flex: auto;

			.wp-block-navigation__container {
				> :where(.wp-block-page-list) > :where(.wp-block-pages-list__item),
				> :where(.wp-block-navigation-item) {
					> .wp-block-navigation-item__content {
						flex: auto;
					}
				}
			}
		}
	}
}
