.site-header {
	// @deprecated
	&.-header-position\:fixed {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1;
	}

	// @deprecated
	&.-header-position\:overlay {
		position: absolute;
		right: 0;
		left: 0;
		z-index: 1;
	}
}

.site-footer {
	.wp-block-navigation-submenu__toggle,
	.wp-block-navigation__submenu-container {
		display: none !important;
	}

	.wp-block-navigation.is-vertical {
		gap: var(--unitone--s-1);
	}
}

// For iframe on the block editor
.rich.wp-block-embed__wrapper .wp-oembed-blog-card {
	margin: 0 !important;
}

.home {
	.site-footer-breadcrumbs {
		display: none;
	}
}

.site-container-right-sidebar {
	.wp-block-post-content.is-layout-constrained {
		--unitone--gutters: 0;

		> .alignfull {
			margin-right: 0 !important;
			margin-left: 0 !important;
		}
	}
}

.site-container-left-header {
	--unitone--sidebar-width: clamp(var(--unitone--cg2), 30%, var(--unitone--cg3));

	@media (min-width: 600px) {
		display: grid;
		grid-template-rows: 1fr auto;
		grid-template-columns: var(--unitone--sidebar-width) minmax(0, 1fr);

		> * {
			margin: 0;
		}

		> :first-child {
			grid-row: 1 / -1;
			position: sticky;
			top: var(--wp-admin--admin-bar--height, 0px);
			padding-top: calc(var(--unitone--s3) - var(--unitone--s-1));
			padding-bottom: calc(var(--unitone--s3) - var(--unitone--s-1));
		}

		.site-header {
			flex-basis: var(--unitone--sidebar-width);
		}
	}
}
