@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

@mixin wp-blocks {
	.wp-block-code,
	.wp-block-preformatted {
		border: none;
		border-radius: 0;
	}

	.wp-block-code {
		background-color: var(--unitone--color-text);
		color: var(--unitone--color-white);
		padding: var(--unitone--s-1);
		overflow: auto;

		code {
			background-color: transparent;
			border: none;
			border-radius: 0;
			color: inherit;
			font-size: inherit;
			padding: 0;
			white-space: inherit;
		}
	}

	.wp-block-embed {
		width: auto;
	}

	.wp-block-image {
		margin-top: 0;
		margin-bottom: 0;

		> a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}

	.wp-block-post-featured-image {
		> a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}

	.wp-block-social-links {
		--wp--style--block-gap: var(--unitone--s-2);
	}

	.wp-block-quote,
	.wp-block-pullquote blockquote {
		@include text.abstract-text();
		--unitone--max-width: inherit;

		> * {
			--unitone--gap: var(--unitone--s-1);
		}
	}

	.wp-block-quote {
		padding: 0;

		&:where(:not(.is-style-plain)) {
			padding-left: var(--unitone--s1);
		}

		cite,
		footer {
			font-size: var(--wp--preset--font-size--unitone-s);
		}
	}

	.wp-block-pullquote {
		padding: var(--unitone--s1) 0;
		max-width: var(--unitone--max-width);
		width: auto;
	}

	.wp-block-navigation {
		--wp--style--block-gap: var(--unitone--s1);

		// No background-color
		&:not(.has-background) {
			.wp-block-navigation__submenu-container {
				background-color: var(--wp--preset--color--unitone-accent);
				color: var(--wp--preset--color--white);
			}
		}
	}

	.wp-block-navigation__responsive-container {
		@media (max-width: 599px) {
			top: var(--wp-admin--admin-bar--height, 0px);
		}

		// Drawer
		&.is-menu-open {
			padding: var(--unitone--rem1);

			.wp-block-navigation-item {
				gap: inherit;
			}

			.wp-block-navigation__responsive-container-content {
				.has-child {
					.wp-block-navigation__submenu-container {
						padding-right: var(--unitone--s1);
						padding-left: var(--unitone--s1);
					}
				}

				.wp-block-navigation__submenu-container {
					gap: inherit;
					padding-top: 0;
				}
			}
		}

		// Global navigation
		&:not(.is-menu-open) {
			.wp-block-navigation__responsive-container-content {
				> .wp-block-navigation__container,
				> .wp-block-page-list {
					row-gap: 0 !important;

					> .wp-block-navigation-item {
						> .wp-block-navigation-item__content {
							padding-top: var(--unitone--s-1);
							padding-bottom: var(--unitone--s-1);
						}

						> .wp-block-navigation__submenu-container {
							transform: translateX(-50%);
							left: 50%;
							border: none;
							font-weight: normal;

							.wp-block-navigation__submenu-container {
								top: 0;
							}

							.wp-block-navigation-item__content {
								padding: var(--unitone--s-2) var(--unitone--s-1);
							}

							.wp-block-navigation__submenu-icon {
								margin-right: var(--unitone--s-2);
							}
						}
					}
				}
			}
		}
	}

	.wp-block-navigation .wp-block-navigation__submenu-icon {
		margin-left: var(--unitone--s-2);
	}

	.wp-block-site-logo {
		a {
			padding-top: var(--unitone--s-1);
			padding-bottom: var(--unitone--s-1);
		}

		img {
			display: table;
		}
	}

	.wp-block-site-title {
		a {
			color: currentColor;
			text-decoration: none;
		}
	}

	.wp-block-site-logo + .wp-block-site-title {
		display: none;
	}

	.wp-block-query {
		display: flex;
		flex-direction: column;
		gap: var(--unitone--s2);
	}

	.wp-block-navigation-item {
		margin: 0;
	}

	.wp-block-post-template {
		> * {
			margin: 0;
		}
	}

	.wp-block-post-title {
		font-feature-settings: "palt" 1;
		font-kerning: normal;
	}

	.wp-block-post-template:not(.is-flex-container),
	.wp-block-query-loop:not(.is-flex-container) {
		display: grid;
		gap: var(--unitone--s1);
	}

	.wp-block-post-template.is-flex-container,
	.wp-block-query-loop.is-flex-container {
		gap: var(--unitone--s1);

		@media (min-width: 600px) {
			&.is-flex-container.columns-2 > li {
				width: calc((100% / 2) - var(--unitone--s1) + (var(--unitone--s1) / 2));
			}
			&.is-flex-container.columns-3 > li {
				width: calc((100% / 3) - var(--unitone--s1) + (var(--unitone--s1) / 3));
			}
			&.is-flex-container.columns-4 > li {
				width: calc((100% / 4) - var(--unitone--s1) + (var(--unitone--s1) / 4));
			}
			&.is-flex-container.columns-5 > li {
				width: calc((100% / 5) - var(--unitone--s1) + (var(--unitone--s1) / 5));
			}
			&.is-flex-container.columns-6 > li {
				width: calc((100% / 6) - var(--unitone--s1) + (var(--unitone--s1) / 6));
			}
		}
	}

	.wp-block-query-pagination {
		display: flex;
		justify-content: center;
	}

	.wp-block-query-pagination-numbers,
	.wp-block-comments-pagination-numbers {
		display: flex;
		flex-wrap: wrap;
		gap: var(--unitone--s-2);
		align-items: center;

		> * {
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 3rem;
			min-height: 3rem;
			padding: var(--unitone--s-2);
			color: currentColor;
			text-decoration: none;
		}

		> .current,
		> .dots {
			color: var(--wp--preset--color--unitone-gray);
		}
	}

	.wp-block-buttons {
  	--wp--style--block-gap: var(--unitone--s-1);
	}
	.wp-block-button {
		--unitone--padding: var(--unitone--s-2);
	}
	.wp-block-button__link {
		font-size: inherit;
		background-color: var(--wp--preset--color--black);
		padding: var(--unitone--padding) var(--unitone--s1);
	}
	.is-style-outline > :where(.wp-block-button__link),
	:where(.wp-block-button__link).is-style-outline {
		border-width: 1px;
	}

	.wp-block-search {
		display: flex;
		flex-direction: column;
		gap: var(--unitone--s-2);
	}
	.wp-block-search__inside-wrapper {
		display: flex;
		gap: var(--unitone--s-2);
	}
	.wp-block-search__button {
		margin: 0;
		padding: var(--unitone--s-2) var(--unitone--s-1);
	}

	.wp-block-comment-template,
	.wp-block-comment-template .comment,
	.wp-block-comment-template ol,
	.wp-block-post-comments-form,
	.comment-form {
		display: flex;
		flex-direction: column;
	}

	.wp-block-comment-template,
	.wp-block-comment-template .comment,
	.wp-block-comment-template ol {
		gap: var(--unitone--s1);
	}

	.wp-block-comment-template {
		.comment,
		.block-editor-block-list__layout {
			margin: 0;
		}

		ol {
			padding-left: var(--unitone--s1);
		}
	}

	.wp-block-comment-author-name a {
		color: inherit;
		text-decoration: none;
		font-weight: bold;
	}

	.wp-block-comment-date a,
	.wp-block-comment-edit-link a {
		color: inherit;
	}

	.wp-block-post-comments-form {
		gap: var(--unitone--s-1);
	}

	.comment-form {
		gap: var(--unitone--s-1);

		> [class*="comment-form-"] {
			display: flex;
			flex-direction: column;
			gap: var(--unitone--s-2);

			label {
				margin-bottom: 0;
			}
		}

		.comment-form-cookies-consent {
			flex-direction: row;
		}
	}

	p.has-background,
	.wp-block-preformatted.has-background,
	.wp-block-template-part.has-background,
	.wp-block-group.has-background {
		padding: var(--unitone--s1);
	}

	ul.has-background,
	ol.has-background {
		padding: var(--unitone--s1);
	}

	.required {
		color: var(--wp--preset--color--vivid-red);
	}
}
