/**
 * Using add_editor_style() causes specificity issues.
 * The order of loading CSS for the core editor changes depending on the WP_DEBUG status.
 * Therefore, load CSS with enqueue_block_editor_assets instead of add_editor_styles().
 * However, the CSS output by @use settings includes :root, html and body,
 * which should be replaced by .editor-styles-wrapper in PHP.
 */

@use '../../../node_modules/@inc2734/unitone-css/src/settings/settings';

@use 'foundation';
@use 'blocks';
@use 'wp-blocks/wp-blocks';
@use 'main';
@use 'block-styles/block-styles';

.editor-styles-wrapper {
	@include foundation.include();
	@include blocks.include();
	@include wp-blocks.include();
	@include main.include();
	@include block-styles.include();

	.is-root-container.is-outline-mode.is-focus-mode {
		> [data-unitone-layout~="position"] {
			position: static;
		}
	}

	.edit-post-visual-editor__post-title-wrapper {
		margin-top: 0;
		margin-bottom: var(--unitone--s2);
		border-bottom: 1px solid #e0e0e0;
		padding-top: var(--unitone--s1);
		padding-bottom: var(--unitone--s1);

		> * {
			max-width: var(--wp--custom--container-max-width) !important;
		}
	}

	:where([data-unitone-layout~="stack"] > *) {
		margin-right: 0;
		margin-left: 0;
	}

	[data-unitone-layout~="stack"],
	[data-unitone-layout~="center"] {
		> .block-list-appender:first-child {
			width: 100%;
		}
	}

	[data-unitone-layout~="frame"],
	[data-unitone-layout~="layers__layer"] {
		> figure {
			display: block;

			> .components-resizable-box__container,
			> .components-disabled {
				height: 100% !important;
				width: 100% !important;
				max-width: 100% !important;
				max-height: 100% !important;
				vertical-align: top;

				> div {
					display: none; // Remove resizer
				}
			}

			> figcaption {
				display: none;
			}
		}
	}

	.wp-block-embed-wp-oembed-blog-card figure.wp-block-embed {
		margin-top: -5px;
		margin-right: -14px;
		margin-left: -14px;
		width: calc(100% + 14px * 2);
		max-width: none;

		figcaption {
			position: relative;
			margin-top: -18px;
			margin-right: 14px;
			margin-left: 14px;

			> span {
				font-size: inherit;
			}
		}
	}

	[data-unitone-layout~="text"] {
		&[class*="wp-container-"] > *, // @todo For WordPress 6.0
		&.is-layout-constrained > * {
			max-width: min(100%,var(--unitone--max-width));
		}

		&[data-unitone-layout~="-column"][class*="wp-container-"] > *, // @todo For WordPress 6.0
		&[data-unitone-layout~="-column"].is-layout-constrained > * {
			max-width: initial;
		}
	}

	[data-unitone-layout~="layers"] {
		> .block-list-appender {
			align-self: end;
			justify-self: end;
		}
	}

	[data-type="unitone/cover"] {
		> .block-editor-block-variation-picker.has-many-variations {
			> .components-placeholder__fieldset {
				max-width: 100%;
			}
		}
	}

	[data-type="unitone/cluster-divided"],
	[data-type="unitone/stack-divided"] {
		> .block-list-appender {
			border: none;
			padding: 0;
			margin: 0;

			&::before {
				display: none;
			}
		}
	}
}
