/**
 * Using add_editor_style() causes specificity issues.
 * The order of loading CSS for the core editor changes depending on the WP_DEBUG status.
 * Therefore, load CSS with enqueue_block_editor_assets instead of add_editor_styles().
 * However, the CSS output by @use settings includes :root, html and body,
 * which should be replaced by .editor-styles-wrapper in PHP.
 */

@use "sass:meta";
@use '../../../node_modules/@inc2734/unitone-css/src/settings/settings';

@include meta.load-css("../../js/editor/hooks/section-divider/section-divider");
@include meta.load-css("../../js/editor/hooks/animation/scroll-animation");

/**
 * ## Non iframe
 * .editor-styles-wrapper.block-editor-writing-flow
 *  .is-root-container.wp-block-post-content.block-editor-block-list__layout
 *
 * ## iframe
 * .editor-styles-wrapper.block-editor-iframe__body
 *  .is-root-container.wp-block-post-content.block-editor-block-list__layout
*/
div:where(.editor-styles-wrapper.block-editor-writing-flow),
:where(.editor-styles-wrapper.block-editor-iframe__body) {
	@include meta.load-css("foundation");
	@include meta.load-css("wp-blocks/wp-blocks");
	@include meta.load-css("site");

	.is-root-container.is-outline-mode.is-focus-mode {
		> [data-unitone-layout~="position"] {
			position: static;
		}
	}

	[data-type="core/image"] .components-resizable-box__container:not([style*="aspect-ratio\:"]) {
		max-width: 100% !important;
	}

	:where(h1, h2, h3, h4, h5, h6):where(.is-highlighted) {
		text-wrap: wrap;
	}

	.wp-block-video:not(.is-selected),
	.wp-block-image:not(.is-selected) {
		.components-placeholder {
			display: flex;

			.components-placeholder__illustration {
				position: absolute;
				height: 100%;
				width: 100%;
			}
		}
	}

	.block-editor-block-list__block.wp-block-embed {
		.wp-block-embed {
			margin-right: auto;
			margin-left: auto;
		}

		.is-provider-wp-oembed-blog-card {
			width: 100%;
		}
	}

	.wp-block-table:not(:has(> table)) {
		width: auto;
	}
}
