.unitone-breadcrumbs {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: var(--unitone--s-2) var(--unitone--s-1);

	&__item {
		margin: 0;
		padding: 0;
		display: flex;
		gap: var(--unitone--s-1);

		&:not(:first-child) {
			&::before {
				display: inline-block;
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
				content: '/';
			}
		}
	}

	a {
		color: inherit;
	}

	&--divider\:slash .unitone-breadcrumbs__item:not(:first-child)::before {
		content: '/';
	}

	&--divider\:hyphen .unitone-breadcrumbs__item:not(:first-child)::before {
		content: '-';
	}

	&--divider\:underscore .unitone-breadcrumbs__item:not(:first-child)::before {
		content: '_';
	}

	&--divider\:greater-than .unitone-breadcrumbs__item:not(:first-child)::before {
		content: '>';
	}

	&--divider\:arrow .unitone-breadcrumbs__item:not(:first-child)::before {
		content: '→';
	}
}

.editor-styles-wrapper .unitone-breadcrumbs__item {
	margin-left: 0;
}
