.unitone-grid .unitone-grid__content {
	display: grid;
	align-self: stretch;
	justify-self: stretch;
}

.unitone-grid__content__content {
	align-self: var(--unitone--align-self);
	justify-self: var(--unitone--justify-self);
}

.unitone-grid:where([data-unitone-layout*="-divider\:"]) {
	--unitone--divider-width: 1px;
	--unitone--divider-style: solid;
	--unitone--divider-color: var(--wp--preset--color--unitone-light-gray);

	visibility: hidden;

	&[data-unitone-layout~="divider:initialized"] {
		visibility: visible;
	}

	> * {
		position: relative;
	}

	> ::before {
		content: '';
		position: absolute;
		inset: 0;
		user-select: none;
		pointer-events: none;
		border-width: 0;
		border-style: var(--unitone--divider-style);
		border-color: var(--unitone--divider-color);
	}
}

.unitone-grid[data-unitone-layout~="-divider\:stripe"] {
	row-gap: 0;

	> * {
		padding: calc(var(--unitone--row-gap) + var(--unitone--divider-width)) 0;

		&::before {
			left: calc(var(--unitone--column-gap) * -1);
			border-width: var(--unitone--divider-width) 0;
		}
	}

	> [data-unitone-layout~="-bol"]::before {
		left: 0;
	}

	> [data-unitone-layout~="-linewrap"] {
		padding-top: var(--unitone--row-gap);

		&::before {
			border-top-width: 0;
		}
	}
}

.unitone-grid[data-unitone-layout~="-divider\:underline"] {
	row-gap: 0;

	> * {
		padding: 0 0 calc(var(--unitone--row-gap) + var(--unitone--divider-width));

		&::before {
			left: calc(var(--unitone--column-gap) * -1);
			border-width: 0 0 var(--unitone--divider-width);
		}
	}

	> [data-unitone-layout~="-bol"]::before {
		left: 0;
	}

	> [data-unitone-layout~="-linewrap"] {
		padding-top: var(--unitone--row-gap);
	}
}

.unitone-grid[data-unitone-layout~="-divider\:bordered"] {
	gap: 0;

	> * {
		padding: calc(var(--unitone--column-gap) + var(--unitone--divider-width));

		&::before {
			border-width: var(--unitone--divider-width);
		}
	}

	> :not([data-unitone-layout~="-bol"]) {
		padding-left: var(--unitone--column-gap);

		&::before {
			border-left-width: 0;
		}
	}

	> [data-unitone-layout~="-linewrap"] {
		padding-top: var(--unitone--column-gap);

		&::before {
			border-top-width: 0;
		}
	}

	&[data-unitone-layout~="-stack"] {
		> * {
			padding: calc(var(--unitone--row-gap) + var(--unitone--divider-width));
		}

		> [data-unitone-layout~="-linewrap"] {
			padding-top: var(--unitone--row-gap);
		}
	}
}
