/**
 * @see https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/separator/theme.scss
 */
.wp-block-separator {
	margin-left: auto;
	margin-right: auto;

	&.has-alpha-channel-opacity {
		opacity: initial;
	}

	// Default, thin style
	&:not(.is-style-wide):not(.is-style-dots) {
		width: 100px;
	}
}
