.wp-block-separator {
	margin-left: auto;
	margin-right: auto;

	&.has-alpha-channel-opacity {
		opacity: initial;
	}
}

:where(
	.wp-block-separator.is-style-default,
	.wp-block-separator:not([class*="is-style-"])
) {
	width: 100px;
}

:where(.wp-block-separator.is-style-wide) {
	width: 100%;
}
