.wp-block-list {
	padding-inline-start: 0;

	:where(li) {
		margin-inline-start: 1.5rem;
	}
}

:root :where(.wp-block-list.is-style-no-marker) {
	list-style-type: none;

	:where(li) {
		margin-inline-start: 0;

		> :where(.wp-block-list) {
			margin-inline-start: 1.5rem;
		}
	}
}
