.unitone-reference-sources {
	&__loading {
		display: flex;
		gap: var(--unitone--s-2);
		align-items: center;
		padding: var(--unitone--s1);

		.components-spinner {
			margin: 0 !important;
		}
	}

	.components-placeholder {
		.components-placeholder__fieldset {
			align-items: center;
			justify-content: space-between;
		}
	}
}

.unitone-reference-sources__list:has(+ .unitone-reference-sources__loading) {
	visibility: hidden;
}
