[data-unitone-layout*="-section-divider-"] {
	--unitone--section-divider-max-height: var(--unitone--s4);

	--unitone--section-divider-top-level: 0;
	--unitone--section-divider-top-size: 0;
	--unitone--section-divider-top-x: 0;

	--unitone--section-divider-bottom-level: 0;
	--unitone--section-divider-bottom-size: 0;
	--unitone--section-divider-bottom-x: 0;
	--unitone--section-divider-bottom-trim: 100;

	padding-top: calc(var(--unitone--section-divider-max-height) * (var(--unitone--section-divider-top-level) / 100) * (1 - (var(--unitone--section-divider-top-trim) / 100)));
	padding-bottom: calc(var(--unitone--section-divider-max-height) * (var(--unitone--section-divider-bottom-level) / 100) * (1 - (var(--unitone--section-divider-bottom-trim) / 100)));
}

:where(
	[data-unitone-layout~="-section-divider-top\:triangle"],
	[data-unitone-layout~="-section-divider-bottom\:triangle"]
) {
	clip-path: polygon(
		var(--unitone--top-section-divider-path, 0 0, 100% 0),
		var(--unitone--bottom-section-divider-path, 100% 100%, 0 100%)
	);
}

[data-unitone-layout~="-section-divider-top\:triangle"] {
	$x2: calc(50% - var(--unitone--section-divider-top-size) * 1% / 2);
	$x3: calc(var(--unitone--section-divider-top-x) * 1%);
	$y3: calc(var(--unitone--section-divider-top-level) / 100 * var(--unitone--section-divider-max-height));
	$x4: calc(50% + var(--unitone--section-divider-top-size) * 1% / 2);

	--unitone--top-section-divider-path:
		0 0,
		#{ $x2 } 0,
		clamp(#{ $x2 }, #{ $x3 }, #{ $x4 }) #{ $y3 },
		#{ $x4 } 0,
		100% 0;
}

[data-unitone-layout~="-section-divider-bottom\:triangle"] {
	$x6: calc(50% + var(--unitone--section-divider-bottom-size) * 1% / 2);
	$x7: calc(var(--unitone--section-divider-bottom-x) * 1%);
	$y7: calc(100% - var(--unitone--section-divider-bottom-level) / 100 * var(--unitone--section-divider-max-height));
	$x8: calc(50% - var(--unitone--section-divider-bottom-size) * 1% / 2);

	--unitone--bottom-section-divider-path:
		100% 100%,
		#{ $x6 } 100%,
		clamp(#{ $x8 }, #{ $x7 }, #{ $x6 }) #{ $y7 },
		#{ $x8 } 100%,
		0% 100%;
}

:where(
	[data-unitone-layout~="-section-divider-top\:curve"],
	[data-unitone-layout~="-section-divider-bottom\:curve"]
) {
	--unitone--section-divider-top-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M0 0H100Q50 100 0 0Z"/></svg>');
	--unitone--section-divider-bottom-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M0 100H100Q50 0 0 100Z"/></svg>');

	mask-image:
		var(--unitone--section-divider-top-mask-image),
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><rect x="0" y="0" height="100" width="100"/></svg>'),
		var(--unitone--section-divider-bottom-mask-image);
	mask-composite: exclude, subtract;
	mask-position:
		50% 0,
		0 0,
		50% 100%;
	mask-size:
		calc(var(--unitone--section-divider-top-size) * 1%)
		calc(var(--unitone--section-divider-top-level) / 50 * var(--unitone--section-divider-max-height)),
		100%
		100%,
		calc(var(--unitone--section-divider-bottom-size) * 1%)
		calc(var(--unitone--section-divider-bottom-level) / 50 * var(--unitone--section-divider-max-height));
	mask-repeat:
		no-repeat,
		repeat,
		no-repeat;
}

:where(
	[data-unitone-layout~="-section-divider-top\:wave"],
	[data-unitone-layout~="-section-divider-top\:scattering-wave"],
	[data-unitone-layout~="-section-divider-bottom\:wave"],
	[data-unitone-layout~="-section-divider-bottom\:scattering-wave"]
) {
	--unitone--section-divider-top-mask-image: url('data:image/svg+xml,<svg/>');
	--unitone--section-divider-bottom-mask-image: url('data:image/svg+xml,<svg/>');

	mask-image:
		var(--unitone--section-divider-top-mask-image),
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><rect x="0" y="0" height="100" width="100"/></svg>'),
		var(--unitone--section-divider-bottom-mask-image);
	mask-composite: exclude, subtract;
	mask-position:
		calc(var(--unitone--section-divider-top-x) * 10px) 0,
		0 0,
		calc(var(--unitone--section-divider-bottom-x) * 10px) 100%;
	mask-size:
		calc(var(--unitone--section-divider-top-size) * 2.5%) calc(var(--unitone--section-divider-top-level) / 100 * var(--unitone--section-divider-max-height)),
		100% 100%,
		calc(var(--unitone--section-divider-bottom-size) * 2.5%) calc(var(--unitone--section-divider-bottom-level) / 100 * var(--unitone--section-divider-max-height));
	mask-repeat:
		repeat-x,
		repeat,
		repeat-x;
}

[data-unitone-layout~="-section-divider-top\:wave"] {
	--unitone--section-divider-top-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 15" preserveAspectRatio="none"><path d="M0,0h0v15c6.7,0,13.3-2.5,20-7.5S33.3,0,40,0s13.3,2.5,20,7.5,13.3,7.5,20,7.5,13.3-2.5,20-7.5S113.3,0,120,0s13.3,2.5,20,7.5,13.3,7.5,20,7.5,13.3-2.5,20-7.5S193.3,0,200,0s13.3,2.5,20,7.5,13.3,7.5,20,7.5,13.3-2.5,20-7.5S273.3,0,280,0s13.3,2.5,20,7.5,13.3,7.5,20,7.5V0h0c0,0-320,0-320,0Z"/></svg>');
}

[data-unitone-layout~="-section-divider-bottom\:wave"] {
	--unitone--section-divider-bottom-mask-image: url('data:image/svg+xml,<svg viewBox="0 0 320 15" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path d="M0 15V0C6.7 0 13.3 2.5 20 7.5C26.7 12.5 33.3 15 40 15C46.7 15 53.3 12.5 60 7.5C66.7 2.5 73.3 0 80 0C86.7 0 93.3 2.5 100 7.5C106.7 12.5 113.3 15 120 15C126.7 15 133.3 12.5 140 7.5C146.7 2.5 153.3 0 160 0C166.7 0 173.3 2.5 180 7.5C186.7 12.5 193.3 15 200 15C206.7 15 213.3 12.5 220 7.5C226.7 2.5 233.3 0 240 0C246.7 0 253.3 2.5 260 7.5C266.7 12.5 273.3 15 280 15C286.7 15 293.3 12.5 300 7.5C306.7 2.5 313.3 0 320 0V15H0Z"/></svg>');
}

[data-unitone-layout~="-section-divider-top\:scattering-wave"] {
	--unitone--section-divider-top-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 15" preserveAspectRatio="none"><path opacity="0.5" d="M80.1,7.5V0H20c6.7,0,13.3,2.5,20,7.5s13.3,7.5,20,7.5,13.3-2.5,20-7.5h0Z"/><path opacity="0.5" d="M160,0h-60.1c6.7,0,13.3,2.5,20,7.5s13.3,7.5,20,7.5,13.3-2.5,20-7.5h.1V0Z"/><path opacity="0.5" d="M240,0h-60.1c6.7,0,13.3,2.5,20,7.5s13.3,7.5,20,7.5,13.3-2.5,20-7.5h.1V0Z"/><path opacity="0.5" d="M320,0h-60.1c6.7,0,13.3,2.5,20,7.5s13.3,7.5,20,7.5,13.3-2.5,20-7.5h.1V0Z"/><path d="M320,0h0v10.1c-6.7,0-13.3-1.7-20-5-6.7-3.3-13.3-5-20-5s-13.3,1.7-20,5c-6.7,3.3-13.3,5-20,5s-13.3-1.7-20-5C213.3,1.8,206.7,0,200,0s-13.3,1.7-20,5c-6.7,3.3-13.3,5-20,5s-13.3-1.7-20-5C133.3,1.8,126.7,0,120,0s-13.3,1.7-20,5c-6.7,3.3-13.3,5-20,5s-13.3-1.7-20-5C53.3,1.8,46.7,0,40,0s-13.3,1.7-20,5C13.3,8.4,6.7,10.1,0,10.1V0h0c0,0,320,0,320,0Z"/></svg>');
}

[data-unitone-layout~="-section-divider-bottom\:scattering-wave"] {
	--unitone--section-divider-bottom-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 15" preserveAspectRatio="none"><path opacity="0.5" d="M80.1 7.5V15H20C26.7 15 33.3 12.5 40 7.5C46.7 2.5 53.3 0 60 0C66.7 0 73.3 2.5 80 7.5H80.1Z"/><path opacity="0.5" d="M160 15H99.9C106.6 15 113.2 12.5 119.9 7.5C126.6 2.5 133.2 0 139.9 0C146.6 0 153.2 2.5 159.9 7.5H160V15Z"/><path opacity="0.5" d="M240 15H179.9C186.6 15 193.2 12.5 199.9 7.5C206.6 2.5 213.2 0 219.9 0C226.6 0 233.2 2.5 239.9 7.5H240V15Z"/><path opacity="0.5" d="M320 15H259.9C266.6 15 273.2 12.5 279.9 7.5C286.6 2.5 293.2 0 299.9 0C306.6 0 313.2 2.5 319.9 7.5H320V15Z"/><path d="M320 15V4.9C313.3 4.9 306.7 6.6 300 9.9C293.3 13.2 286.7 14.9 280 14.9C273.3 14.9 266.7 13.2 260 9.9C253.3 6.6 246.7 4.9 240 4.9C233.3 4.9 226.7 6.6 220 9.9C213.3 13.2 206.7 15 200 15C193.3 15 186.7 13.3 180 10C173.3 6.7 166.7 5 160 5C153.3 5 146.7 6.7 140 10C133.3 13.2 126.7 15 120 15C113.3 15 106.7 13.3 100 10C93.3 6.7 86.7 5 80 5C73.3 5 66.7 6.7 60 10C53.3 13.2 46.7 15 40 15C33.3 15 26.7 13.3 20 10C13.3 6.6 6.7 4.9 0 4.9V15H320Z"/></svg>');
}

[data-unitone-layout~="-section-overlap\:top"] {
	margin-top: calc(-.2px + var(--unitone--section-divider-max-height) * var(--unitone--section-divider-top-level) / -100) !important;
}
