[data-unitone-layout*="-section-divider-"] {
	--unitone--section-divider-max-height: var(--unitone--s4);

	--unitone--section-divider-top-level: 0;
	--unitone--section-divider-top-size: 0;
	--unitone--section-divider-top-x: 0;

	--unitone--section-divider-bottom-level: 0;
	--unitone--section-divider-bottom-size: 0;
	--unitone--section-divider-bottom-x: 0;
	--unitone--section-divider-bottom-trim: 100;

	padding-top: calc(var(--unitone--section-divider-max-height) * (var(--unitone--section-divider-top-level) / 100) * (1 - (var(--unitone--section-divider-top-trim) / 100)));
	padding-bottom: calc(var(--unitone--section-divider-max-height) * (var(--unitone--section-divider-bottom-level) / 100) * (1 - (var(--unitone--section-divider-bottom-trim) / 100)));
}

:where([data-unitone-layout~="-section-divider-top\:triangle"]) {
	clip-path: polygon(
		var(--unitone--top-section-divider-path, 0 0, 100% 0),
		var(--unitone--bottom-section-divider-path, 100% 100%, 0 100%)
	);
}

[data-unitone-layout~="-section-divider-top\:triangle"] {
	$x2: calc(50% - var(--unitone--section-divider-top-size) * 1% / 2);
	$x3: calc(var(--unitone--section-divider-top-x) * 1%);
	$y3: calc(var(--unitone--section-divider-top-level) / 100 * var(--unitone--section-divider-max-height));
	$x4: calc(50% + var(--unitone--section-divider-top-size) * 1% / 2);

	--unitone--top-section-divider-path:
		0 0,
		#{ $x2 } 0,
		clamp(#{ $x2 }, #{ $x3 }, #{ $x4 }) #{ $y3 },
		#{ $x4 } 0,
		100% 0;
}

[data-unitone-layout~="-section-divider-bottom\:triangle"] {
	$x6: calc(50% + var(--unitone--section-divider-bottom-size) * 1% / 2);
	$x7: calc(var(--unitone--section-divider-bottom-x) * 1%);
	$y7: calc(100% - var(--unitone--section-divider-bottom-level) / 100 * var(--unitone--section-divider-max-height));
	$x8: calc(50% - var(--unitone--section-divider-bottom-size) * 1% / 2);

	--unitone--bottom-section-divider-path:
		100% 100%,
		#{ $x6 } 100%,
		clamp(#{ $x8 }, #{ $x7 }, #{ $x6 }) #{ $y7 },
		#{ $x8 } 100%,
		0% 100%;
}

:where(
	[data-unitone-layout~="-section-divider-top\:wave"],
	[data-unitone-layout~="-section-divider-top\:scattering-wave"]
) {
	--unitone--section-divider-top-mask-image: url('data:image/svg+xml,<svg/>');
	--unitone--section-divider-bottom-mask-image: url('data:image/svg+xml,<svg/>');

	mask-image:
		var(--unitone--section-divider-top-mask-image),
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><rect x="0" y="0" height="100" width="100"/></svg>'),
		var(--unitone--section-divider-bottom-mask-image);
	mask-composite: exclude, subtract;
	mask-position:
		calc(var(--unitone--section-divider-top-x) * 10px) -.3px,
		0 0,
		calc(var(--unitone--section-divider-bottom-x) * 10px) calc(100% + .3px);
	mask-size:
		calc(var(--unitone--section-divider-top-size) * 2.5%) calc(var(--unitone--section-divider-top-level) / 100 * var(--unitone--section-divider-max-height)),
		100% 100%,
		calc(var(--unitone--section-divider-bottom-size) * 2.5%) calc(var(--unitone--section-divider-bottom-level) / 100 * var(--unitone--section-divider-max-height));
	mask-repeat:
		repeat-x,
		repeat,
		repeat-x;
}

[data-unitone-layout~="-section-divider-top\:wave"] {
	--unitone--section-divider-top-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 15" preserveAspectRatio="none"><path d="M0,0h0v15c6.7,0,13.3-2.5,20-7.5S33.3,0,40,0s13.3,2.5,20,7.5,13.3,7.5,20,7.5,13.3-2.5,20-7.5S113.3,0,120,0s13.3,2.5,20,7.5,13.3,7.5,20,7.5,13.3-2.5,20-7.5S193.3,0,200,0s13.3,2.5,20,7.5,13.3,7.5,20,7.5,13.3-2.5,20-7.5S273.3,0,280,0s13.3,2.5,20,7.5,13.3,7.5,20,7.5V0h0c0,0-320,0-320,0Z"/></svg>');
}

[data-unitone-layout~="-section-divider-bottom\:wave"] {
	--unitone--section-divider-bottom-mask-image: url('data:image/svg+xml,<svg viewBox="0 0 320 15" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"><path d="M.5,14.5h0V-.5C7.2-.5,13.8,2,20.5,7s13.3,7.5,20,7.5,13.3-2.5,20-7.5S73.8-.5,80.5-.5s13.3,2.5,20,7.5,13.3,7.5,20,7.5,13.3-2.5,20-7.5,13.3-7.5,20-7.5,13.3,2.5,20,7.5,13.3,7.5,20,7.5,13.3-2.5,20-7.5,13.3-7.5,20-7.5,13.3,2.5,20,7.5,13.3,7.5,20,7.5,13.3-2.5,20-7.5,13.3-7.5,20-7.5v14.9h0c0,0-320,0-320,0Z"/></svg>');
}

[data-unitone-layout~="-section-divider-top\:scattering-wave"] {
	--unitone--section-divider-top-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 15" preserveAspectRatio="none"><path opacity="0.5" d="M80.1,7.5V0H20c6.7,0,13.3,2.5,20,7.5s13.3,7.5,20,7.5,13.3-2.5,20-7.5h0Z"/><path opacity="0.5" d="M160,0h-60.1c6.7,0,13.3,2.5,20,7.5s13.3,7.5,20,7.5,13.3-2.5,20-7.5h.1V0Z"/><path opacity="0.5" d="M240,0h-60.1c6.7,0,13.3,2.5,20,7.5s13.3,7.5,20,7.5,13.3-2.5,20-7.5h.1V0Z"/><path opacity="0.5" d="M320,0h-60.1c6.7,0,13.3,2.5,20,7.5s13.3,7.5,20,7.5,13.3-2.5,20-7.5h.1V0Z"/><path d="M320,0h0v10.1c-6.7,0-13.3-1.7-20-5-6.7-3.3-13.3-5-20-5s-13.3,1.7-20,5c-6.7,3.3-13.3,5-20,5s-13.3-1.7-20-5C213.3,1.8,206.7,0,200,0s-13.3,1.7-20,5c-6.7,3.3-13.3,5-20,5s-13.3-1.7-20-5C133.3,1.8,126.7,0,120,0s-13.3,1.7-20,5c-6.7,3.3-13.3,5-20,5s-13.3-1.7-20-5C53.3,1.8,46.7,0,40,0s-13.3,1.7-20,5C13.3,8.4,6.7,10.1,0,10.1V0h0c0,0,320,0,320,0Z"/></svg>');
}

[data-unitone-layout~="-section-divider-bottom\:scattering-wave"] {
	--unitone--section-divider-bottom-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 15" preserveAspectRatio="none"><path opacity="0.5" d="M80,7.5h0c-6.7-5-13.3-7.5-20-7.5s-13.3,2.5-20,7.5-13.3,7.5-20,7.5h60.1v-7.5h0Z"/><path opacity="0.5" d="M160,7.5h-.1c-6.7-5-13.3-7.5-20-7.5s-13.3,2.5-20,7.5-13.3,7.5-20,7.5h60.1v-7.5Z"/><path opacity="0.5" d="M240,7.5h-.1c-6.7-5-13.3-7.5-20-7.5s-13.3,2.5-20,7.5-13.3,7.5-20,7.5h60.1v-7.5Z"/><path opacity="0.5" d="M320,7.5h-.1c-6.7-5-13.3-7.5-20-7.5s-13.3,2.5-20,7.5-13.3,7.5-20,7.5h60.1v-7.5Z"/><path d="M320,15h0V4.9c-6.7,0-13.3,1.7-20,5-6.7,3.3-13.3,5-20,5s-13.3-1.7-20-5c-6.7-3.3-13.3-5-20-5s-13.3,1.7-20,5c-6.7,3.3-13.3,5-20,5s-13.3-1.7-20-5c-6.7-3.3-13.3-5-20-5s-13.3,1.7-20,5c-6.7,3.3-13.3,5-20,5s-13.3-1.7-20-5c-6.7-3.3-13.3-5-20-5s-13.3,1.7-20,5c-6.7,3.3-13.3,5-20,5s-13.3-1.7-20-5C13.3,6.6,6.7,4.9,0,4.9v10h0c0,0,320,0,320,0Z"/></svg>');
}

[data-unitone-layout~="-section-overlap\:top"] {
	margin-top: calc(var(--unitone--section-divider-max-height) * var(--unitone--section-divider-top-level) / -100) !important;
}
