.unitone-accordion {
	--unitone--border-width: 0px;
	--unitone--border-style: solid;
	--unitone--border-color: transparent;
	--unitone--padding: var(--unitone--p-2);

	border: var(--unitone--border-width) var(--unitone--border-style) var(--unitone--border-color);

	&[open] {
		.unitone-accordion__icon {
			transform: rotate(180deg);
		}

		&.unitone-accordion--mark\:cross .unitone-accordion__icon {
			transform: rotate(45deg);
		}
	}

	&__summary {
		display: block;
		cursor: pointer;
		user-select: none;

		&::-webkit-details-marker {
			display: none;
		}
	}

	&__content {
		border-top: var(--unitone--border-width) var(--unitone--border-style) var(--unitone--border-color);
	}

	&__summary,
	&__content {
		padding-top: var(--unitone--padding);
		padding-bottom: var(--unitone--padding);
	}

	&__summary-content[data-unitone-layout~="with-sidebar -sidebar:right"],
	&__content[data-unitone-layout~="with-sidebar -sidebar:right"] {
		--unitone--gap: var(--unitone--global--text-gap);
	}

	&__icon {
		margin-top: calc(1.375em * var(--unitone--half-leading));
		display: flex;
		height: .65em;
		width: .65em;
		min-width: initial !important;
	}
}

:root :where(
	.unitone-accordion.is-style-box,
	.unitone-accordion.is-style-panel
) {
	--unitone--padding: var(--unitone--global--text-gap);

	background-color: var(--wp--preset--color--unitone-background);
	color: var(--wp--preset--color--unitone-text);

	> :where(
		.unitone-accordion__summary,
		.unitone-accordion__content
	) {
		padding: var(--unitone--padding);
	}
}

:root :where(.unitone-accordion.is-style-panel) {
	--unitone--box-shadow: var(--unitone--global--box-shadow);

	box-shadow: var(--unitone--box-shadow);

	&:where(:not(.has-border-color)) > :where(.unitone-accordion__content) {
		border-top: 1px solid var(--wp--preset--color--unitone-light-gray);
	}
}
