.unitone-accordion {
	--unitone--padding: var(--unitone--s-2);

	&[open] {
		.unitone-accordion__icon {
			transform: rotate(180deg);
		}
	}

	&.is-style-box,
	&.is-style-panel {
		--unitone--padding: var(--unitone--global--text-gap);

		background-color: var(--wp--preset--color--white);
		color: var(--unitone--color--text);

		> .unitone-accordion__summary,
		> .unitone-accordion__content {
			padding: var(--unitone--padding);
		}
	}

	&.is-style-panel {
		box-shadow: var(--unitone--global--box-shadow);

		> .unitone-accordion__content {
			border-top: 1px solid var(--wp--preset--color--unitone-light-gray);
		}
	}

	&__summary {
		display: block;
		cursor: pointer;

		&::-webkit-details-marker {
			display: none;
		}
	}

	&__summary,
	&__content {
		padding-top: var(--unitone--padding);
		padding-bottom: var(--unitone--padding);
	}

	&__summary-content[data-unitone-layout~="with-sidebar"],
	&__content[data-unitone-layout~="with-sidebar"] {
		--unitone--gap: var(--unitone--global--text-gap);
	}

	&__icon {
		margin-top: calc(1.375em * var(--unitone--half-leading));
		display: flex;
		height: .75rem;
		width: .75rem;
		min-width: initial !important;
	}
}
