.unitone-accordion {
	--unitone--border-width: 0px;
	--unitone--border-style: solid;
	--unitone--border-color: transparent;
	--unitone--padding: var(--unitone--p-2);

	border: var(--unitone--border-width) var(--unitone--border-style) var(--unitone--border-color);

	&[open] {
		.unitone-accordion__icon {
			transform: rotate(180deg);
		}

		&.unitone-accordion--mark\:cross .unitone-accordion__icon {
			transform: rotate(45deg);
		}
	}

	&.is-style-box,
	&.is-style-panel {
		--unitone--padding: var(--unitone--global--text-gap);

		background-color: var(--wp--preset--color--white);
		color: var(--wp--preset--color--unitone-text);

		> .unitone-accordion__summary,
		> .unitone-accordion__content {
			padding: var(--unitone--padding);
		}
	}

	&.is-style-panel {
		--unitone--box-shadow: var(--unitone--global--box-shadow);

		box-shadow: var(--unitone--box-shadow);

		&:not(.has-border-color) > .unitone-accordion__content {
			border-top: 1px solid var(--wp--preset--color--unitone-light-gray);
		}
	}

	&__summary {
		display: block;
		cursor: pointer;

		&::-webkit-details-marker {
			display: none;
		}
	}

	&__content {
		border-top: var(--unitone--border-width) var(--unitone--border-style) var(--unitone--border-color);
	}

	&__summary,
	&__content {
		padding-top: var(--unitone--padding);
		padding-bottom: var(--unitone--padding);
	}

	&__summary-content[data-unitone-layout~="with-sidebar -sidebar:right"],
	&__content[data-unitone-layout~="with-sidebar -sidebar:right"] {
		--unitone--gap: var(--unitone--global--text-gap);
	}

	&__icon {
		margin-top: calc(1.375em * var(--unitone--half-leading));
		display: flex;
		height: .75rem;
		width: .75rem;
		min-width: initial !important;
	}
}
