.wp-block-query {
	--unitone--gap: var(--unitone--global--gap);

	display: flex;
	flex-direction: column;
	gap: var(--unitone--gap);

	&.is-layout-flow > * + * {
		margin-top: 0;
	}
}

.wp-block-post-template {
	--unitone--gap: var(--unitone--global--text-gap);
	--unitone--post--padding: var(--unitone--gap);

	gap: var(--unitone--gap) !important;

	> * {
		margin: 0;
	}

	&.is-layout-flow > * + * {
		margin-top: var(--unitone--gap);
	}

	&.is-flex-container.is-flex-container[class*=columns-] > .wp-block-post {
		width: auto;
	}

	&.is-flex-container[class*=columns-] {
		display: grid;

		@media (min-width: 782px) {
			@for $i from 2 through 6 {
				&.columns-#{ $i } {
					grid-template-columns: repeat(#{ $i }, minmax(0, 1fr));
				}
			}
		}

		@media (min-width: 601px) and (max-width: 781px) {
			@for $i from 3 through 6 {
				&.columns-#{ $i } {
					grid-template-columns: repeat(2, minmax(0, 1fr));
				}
			}
		}
	}

	&.is-layout-grid[class*=columns-] {
		@media (min-width: 601px) and (max-width: 781px) {
			@for $i from 3 through 6 {
				&.columns-#{ $i } {
					grid-template-columns: repeat(2, minmax(0, 1fr));
				}
			}
		}
	}
}

.wp-block-post {
	--unitone--padding: var(--unitone--post--padding);
	--unitone--padding-top: 0;
	--unitone--padding-right: 0;
	--unitone--padding-bottom: 0;
	--unitone--padding-left: 0;

	padding-top: var(--unitone--padding-top);
	padding-right: var(--unitone--padding-right);
	padding-bottom: var(--unitone--padding-bottom);
	padding-left: var(--unitone--padding-left);

	&:has(> [data-unitone-layout~="-outer-block-link"]) {
		padding: 0;

		> [data-unitone-layout~="-outer-block-link"] {
			display: block;
			color: inherit;
			text-decoration: none;
			padding-top: var(--unitone--padding-top);
			padding-right: var(--unitone--padding-right);
			padding-bottom: var(--unitone--padding-bottom);
			padding-left: var(--unitone--padding-left);
		}
	}
}

.wp-block-post-title a {
	color: inherit;
	text-decoration: none;
}

.wp-block-query.is-layout-constrained > .wp-block-post-template,
.wp-block-post-template.is-layout-constrained > .wp-block-post {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.wp-block-query-pagination {
	display: flex;
	justify-content: center;
}

.wp-block-query-pagination-numbers,
.wp-block-comments-pagination-numbers {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	> * {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 3rem;
		min-height: 3rem;
		color: inherit;
		text-decoration: none;
	}

	> .current,
	> .dots {
		color: var(--wp--preset--color--unitone-gray);
	}
}

/**
 * Common styles fo all block styles with divider.
 */
:root :where(
	.wp-block-query.is-style-underline,
	.wp-block-query.is-style-bordered,
	.wp-block-query.is-style-stripe,
	.wp-block-query.is-style-block-link-underline,
	.wp-block-query.is-style-block-link-bordered,
	.wp-block-query.is-style-block-link-stripe
) {
	--unitone--divider-color: var(--wp--preset--color--unitone-light-gray);
	--unitone--divider-style: solid;
	--unitone--divider-width: 1px;

	.wp-block-post-template {
		gap: 0 !important;

		> * {
			margin-top: 0;
		}
	}

	.wp-block-post,
	.block-editor-block-preview__live-content {
		position: relative;
	}
}

/**
 * Common styles of all block styles with block link.
 */
:root :where(
	.wp-block-query.is-style-block-link,
	.wp-block-query.is-style-block-link-underline,
	.wp-block-query.is-style-block-link-bordered,
	.wp-block-query.is-style-block-link-stripe
) {
	.wp-block-post:has(.wp-block-post-title > a) {
		cursor: pointer;
	}
}

/**
 * Common styles of all block styles with underline / stripe.
 */
:root :where(
	.wp-block-query.is-style-underline,
	.wp-block-query.is-style-stripe,
	.wp-block-query.is-style-block-link-underline,
	.wp-block-query.is-style-block-link-stripe
) {
	:where(.wp-block-post) {
		--unitone--padding-top: var(--unitone--padding);
		--unitone--padding-bottom: var(--unitone--padding);

		border-bottom: var(--unitone--divider-width) var(--unitone--divider-style) var(--unitone--divider-color);
	}

	:where(
		.wp-block-post-template.is-layout-grid,
		.wp-block-post-template.is-flex-container[class*=columns-]
	) {
		:where(.wp-block-post) {
			@media (min-width: 600px) {
				--unitone--padding-right: calc(var(--unitone--padding) / 2);
				--unitone--padding-left: calc(var(--unitone--padding) / 2);
			}
		}
	}
}

/**
 * Common styles of all block styles with stripe.
 */
:root :where(
	.wp-block-query.is-style-stripe,
	.wp-block-query.is-style-block-link-stripe
) {
	border-top: var(--unitone--divider-width) var(--unitone--divider-style) var(--unitone--divider-color);
}

/**
 * Common styles of all block styles with underline.
 */
:root :where(
	.wp-block-query.is-style-underline,
	.wp-block-query.is-style-block-link-underline
) {
	:where(.wp-block-post-template.is-layout-flow .wp-block-post:first-child) {
		padding-top: 0;
	}

	:where(
		.wp-block-post-template.is-layout-grid,
		.wp-block-post-template.is-flex-container[class*=columns-]
	) {
		:where(.wp-block-post:first-child) {
			@media not all and (min-width: 600px) {
				padding-top: 0;
			}
		}
	}


	@for $i from 2 through 6 {
		:where(
			.wp-block-post-template.is-layout-grid.columns-#{ $i },
			.wp-block-post-template.is-flex-container.columns-#{ $i }
		) {
			:where(.wp-block-post:nth-child(-n + #{ $i } of :not([style]))) {
				@media (min-width: 600px) {
					padding-top: 0;
				}
			}
		}
	}
}

/**
 * Common styles of all block styles with bordered.
 */
:root :where(
	.wp-block-query.is-style-bordered,
	.wp-block-query.is-style-block-link-bordered
) {
	:where(.wp-block-post) {
		--unitone--padding-top: var(--unitone--padding);
		--unitone--padding-right: var(--unitone--padding);
		--unitone--padding-bottom: var(--unitone--padding);
		--unitone--padding-left: var(--unitone--padding);

		border: var(--unitone--divider-width) var(--unitone--divider-style) var(--unitone--divider-color);
	}

	:where(.wp-block-post-template:not(.is-layout-grid):not(.is-flex-container[class*=columns-]) .wp-block-post:not(:first-child)) {
		border-top: none;
	}

	:where(
		.wp-block-post-template.is-layout-grid,
		.wp-block-post-template.is-flex-container[class*=columns-]
	) {
		border-left: var(--unitone--divider-width) var(--unitone--divider-style) var(--unitone--divider-color);

		:where(.wp-block-post) {
			border-left: none;
		}

		@media not all and (min-width: 600px) {
			border-bottom: var(--unitone--divider-width) var(--unitone--divider-style) var(--unitone--divider-color);

			:where(.wp-block-post) {
				border-bottom: none;
			}
		}
	}

	@for $i from 2 through 6 {
		:where(
			.wp-block-post-template.is-layout-grid.columns-#{ $i },
			.wp-block-post-template.is-flex-container.columns-#{ $i }
		) {
			:where(.wp-block-post:nth-child(n + #{ $i + 1} of :not([style]))) {
				@media (min-width: 600px) {
					border-top: none;
				}
			}
		}
	}

	:where(
		.wp-block-post-template.is-layout-grid.columns-5,
		.wp-block-post-template.is-flex-container.columns-5,
		.wp-block-post-template.is-layout-grid.columns-6,
		.wp-block-post-template.is-flex-container.columns-6
	) {
		:where(.wp-block-post) {
			@media (min-width: 600px) {
				--unitone--padding: var(--unitone--global--text-gap);
			}
		}
	}
}
