.wp-block-social-links {
	--unitone--gap: var(--unitone--s-2);

	.wp-social-link,
	.wp-block-social-link-anchor {
		font-size: inherit;
		line-height: inherit;
	}
}

.wp-block-social-links:not(:root) {
	gap: var(--unitone--gap);
}
