.unitone-section {
	--unitone--gap: var(--unitone--s3);
	--unitone--gutters: var(--unitone--global--gutters);
	--unitone--max-width: var(--wp--style--global--wide-size);
	--unitone--padding: var(--unitone--s4);
	--unitone--overflow: visible;
	--unitone--position: relative;
	--unitone--top: auto;
	--unitone--right: auto;
	--unitone--bottom: auto;
	--unitone--left: auto;
	--unitone--z-index: auto;
	--unitone--backdrop-filter-blur: 0px;
	--unitone--backdrop-filter-brightness: 100%;
	--unitone--backdrop-filter-contrast: 100%;
	--unitone--backdrop-filter-grayscale: 0%;
	--unitone--backdrop-filter-hue-rotate: 0deg;
	--unitone--backdrop-filter-invert: 0%;
	--unitone--backdrop-filter-saturate: 100%;
	--unitone--backdrop-filter-sepia: 0%;

	--unitone--section--gap: var(--unitone--gap);
	--unitone--section--gutters: var(--unitone--gutters);
	--unitone--section--max-width: var(--unitone--max-width);
	--unitone--section--padding: var(--unitone--padding);

	max-width: none;
	overflow: var(--unitone--overflow);
	position: var(--unitone--position);
	top: var(--unitone--top);
	right: var(--unitone--right);
	bottom: var(--unitone--bottom);
	left: var(--unitone--left);
	z-index: var(--unitone--z-index);

  backdrop-filter: blur(var(--unitone--backdrop-filter-blur))
                   brightness(var(--unitone--backdrop-filter-brightness))
                   contrast(var(--unitone--backdrop-filter-contrast))
                   grayscale(var(--unitone--backdrop-filter-grayscale))
                   hue-rotate(var(--unitone--backdrop-filter-hue-rotate))
                   invert(var(--unitone--backdrop-filter-invert))
                   sepia(var(--unitone--backdrop-filter-sepia))
                   saturate(var(--unitone--backdrop-filter-saturate));

	> [data-unitone-layout~="gutters"] {
		--unitone--padding: var(--unitone--section--padding);

		> [data-unitone-layout~="container"] {
			--unitone--gutters: var(--unitone--section--gutters);
			--unitone--max-width: var(--unitone--section--max-width);

			> [data-unitone-layout~="stack"] {
				--unitone--gap: var(--unitone--section--gap);
			}
		}
	}
}

@for $i from -2 through 7 {
	.unitone-section[data-unitone-layout~="-padding\:#{ $i }"] {
		--unitone--padding: var(--unitone--s#{ $i }) !important;
	}
}

.unitone-section[data-unitone-layout*="-section-divider-"] {
	--unitone--section-divider-max-height: var(--unitone--section--padding);
}
