.unitone-media-link {
	position: relative;

	&__popover {
		max-width: min(360px, 90vw);
	}

	&__embed-input {
		flex: 1;
		min-width: 0;

		.components-base-control__field {
			margin: 0;
		}
	}

	&__target-input {
		flex: 1;
		min-width: 0;

		.components-base-control__field {
			margin: 0;
		}
	}
}

.unitone-lightbox-overlay {
	&.zoom.active .unitone-lightbox-container {
		animation: none !important;
		z-index: 9999999 !important; // > .close-button
	}

	&.zoom.active .close-button {
		right: env(safe-area-inset-right);
		top: env(safe-area-inset-top);
		z-index: 99999999; // > .unitone-lightbox-container
		background-color: var(--wp--preset--color--white) !important;
	}

	&:has(.unitone-lightbox-embed-container.indeterminate-size) {
		display: grid;
		place-items: center;
	}
}

html:has(.unitone-lightbox-overlay.zoom.active) {
	overflow: clip;
}

.unitone-lightbox-embed-container {
	&.indeterminate-size {
		--wp--lightbox-container-width: min(100%, var(--wp--style--global--content-size));

		position: relative;
		inset: auto;
		display: flex;
		transform: initial;
		padding: var(--unitone--global--gutters);
		max-height: 100%;
		overflow: hidden;

		.unitone-lightbox-embed-container__inner {
			display: block;
			overflow: auto;
		}
	}

	&__inner {
		display: contents;

		p:last-child {
			margin: 0;
		}
	}

	&__embed {
		display: contents;

		iframe {
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.unitone-lightbox-target-container {
	--wp--lightbox-container-width: 100%;

	cursor: zoom-out;
	padding: var(--unitone--global--gutters);

	.unitone-lightbox-container__inner {
		max-height: calc(100vh - var(--wp-admin--admin-bar--height, 0px));
		overflow-y: auto;

		> * {
			cursor: initial;
		}
	}
}

.unitone-lightbox-container[hidden] {
	display: none;
}
