[data-type="unitone/responsive-switcher"] {
	&:not(.is-selected):not(.has-child-selected) {
		> [data-type="unitone/responsive-switcher-container"] > .block-list-appender:only-child {
			pointer-events: none;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				border: 1px dashed;
				pointer-events: none;
			}

			.block-editor-inserter {
				opacity: 0;
			}
		}
	}
}
