[data-unitone-layout~="vertical-writing"] {
	&.block-editor-block-list__layout {
		position: static !important;
	}

	> .block-list-appender {
		height: auto;
		max-height: none;
	}

	> .block-list-appender:not(:first-child) {
		inset: auto auto 0 24px;
		height: auto;
	}

	.block-editor-button-block-appender {
		width: auto;
		block-size: 100%;
	}

	> :has(+ .unitone-fluild-typography-ref) {
		margin-block-end: 0;
	}
}

[data-type="unitone/vertical-writing"] {
	&:not(.is-selected) {
		> .block-editor-block-list__layout > .block-list-appender:only-child {
			pointer-events: none;

			&::after {
				content: "";
				position: absolute;
				inset: 0;
				border: 1px dashed;
				pointer-events: none;
			}

			.block-editor-inserter {
				opacity: 0;
			}
		}
	}
}
