@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/vertical-writing/vertical-writing';

@include vertical-writing.vertical-writing();

[data-unitone-layout~="vertical-writing-wrapper"] {
  --unitone--gap: var(--unitone--global--text-gap);
  --unitone--column-gap: var(--unitone--global--gap);
  --unitone--row-gap: var(--unitone--gap);
	--unitone--max-width: min(100%, var(--wp--style--global--wide-size));
	--unitone--max-height: calc(9 * var(--wp--style--global--content-size) / 16);

	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	width: var(--unitone--max-width);
	max-width: 100%;

	&[data-unitone-layout~="-align\:start"] > * {
		margin-right: auto !important;
		margin-left: 0 !important;
		width: fit-content;
		max-width: 100%;
	}

	&[data-unitone-layout~="-align\:center"] > * {
		margin-right: auto !important;
		margin-left: auto !important;
		width: fit-content;
		max-width: 100%;
	}

	&[data-unitone-layout~="-align\:end"] > * {
		margin-right: 0 !important;
		margin-left: auto !important;
		width: fit-content;
		max-width: 100%;
	}
}

[data-unitone-layout~="vertical-writing"] {
	--unitone--gap: inherit;
  --unitone--column-gap: inherit;
  --unitone--row-gap: inherit;
	--unitone--max-height: inherit;
}
