@use '../../js/editor/plugins/wireframe-generator';
@use '../../js/editor/plugins/featured-image-generator';

.block-editor-iframe__html {
	overflow-x: clip;
}

.editor-styles-wrapper {
	z-index: 0;
}

.wp-block-query .components-placeholder__illustration {
	position: absolute;
}

.editor-styles-wrapper .alignfull + .alignfull {
	margin-top: 2px;
}

// Non iframe post editor
:not(.block-editor-iframe__body):not(.block-editor-block-preview__content-iframe) {
	> .is-root-container:where(:not(.wp-site-blocks)) {
		--unitone--gutters: var(--unitone--global--gutters);
	}
}

// iframe editor
:not(.block-editor-block-preview__content-iframe) {
	> .block-editor-iframe__body {
		// Site editor
		// .is-root-container:where(.wp-site-blocks) {
		// }

		// Post editor
		.is-root-container:where(:not(.wp-site-blocks)) {
			--unitone--gutters: var(--unitone--global--gutters);
		}
	}
}

// iframe preview
.block-editor-block-preview__content-iframe {
	.is-root-container {
		> .wp-block-query {
			margin: var(--unitone--global--gutters);
		}
	}

	[data-unitone-layout~=text] {
		> .block-list-appender:only-child {
			display: block;
		}
	}

	header[data-type=core\/template-part].block-editor-block-content-overlay {
		[data-unitone-layout~=cover] {
			--unitone--min-height: 400px !important;
		}
	}
}

.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper {
	margin-top: 0 !important;
	margin-bottom: var(--unitone--global--gap);
	border-bottom: 1px solid #e0e0e0;
	padding: var(--unitone--global--text-gap) var(--unitone--global--gutters);

	> * {
		max-width: var(--wp--style--global--wide-size) !important;
	}
}

.block-editor-block-inspector {
	> div:not([class]) {
		display: flex;
		flex-direction: column;
	}

	.components-panel__body:not([class*="block-editor-"]) {
		order: -1;
	}
}

.block-editor-block-list__block .block-list-appender.block-list-appender:only-child {
	align-self: initial;
}

// @todo
[data-unitone-block-outline]::after,
[data-unitone-block-outline] .block-editor-block-list__block::after {
	content: '';
	display: block;
	position: absolute;
	inset: 0;
	z-index: 0;
	box-shadow: 0 0 0 0.5px rgba(#007cba, .5);
	border-radius: 0;
	outline: 2px solid transparent;
	pointer-events: none;
}

.block-editor-block-list__layout .block-editor-block-list__block.rich-text.is-highlighted:after,
.block-editor-block-list__layout .block-editor-block-list__block.is-highlighted:after,
.block-editor-block-list__layout .block-editor-block-list__block.is-highlighted ~ .is-multi-selected:after,
.block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable=true]):focus:after,
.block-editor-block-list__layout.is-navigate-mode .block-editor-block-list__block.is-selected:after {
  inset: -1px !important;
}

.is-outline-mode .block-editor-block-list__block:not(.remove-outline).is-selected:after {
	inset: 0;
}

.block-editor-block-patterns-list__list-item {
	break-inside: avoid;

	// Fixed an issue where the iframe would be crushed when using vh in the preview.
	.block-editor-block-preview__container {
		.block-editor-block-preview__content {
			.block-editor-iframe__scale-container > iframe {
				min-height: 100vh !important;
			}
		}
	}
}

.block-editor-block-inspector {
	code {
		display: inline-block;
		font-size: 11px;
		text-transform: initial;
	}
}

.block-editor-block-pattern-setup__carousel {
	padding-right: 32px;
	padding-left: 32px;
}

.components-color-palette__custom-color[style*="background: var(--unitone--color--"] .components-color-palette__custom-color-value {
	display: none;
}

// Featured image placeholder
.editor-post-featured-image__preview .editor-post-featured-image__preview-image {
	aspect-ratio: initial !important;
}

// For WordPress 6.0
// Template part replace button
.wp-block-template-part__block-control-group + .wp-block-template-part__block-control-group {
	display: none;
}

// Remove the bottom margin of the element before one of the block list appender.
// Since there is no the block list appender at the front.
.editor-styles-wrapper .block-editor-block-list__layout:not(.is-root-container):not([data-unitone-layout~="cover"]):has(> .block-list-appender) > .wp-block:nth-last-child(2) {
	margin-block-end: 0;
}

// Expands hierarchy of list view
.block-editor-list-view-leaf {
	@for $i from 2 through 14 {
		&[aria-level="#{ $i }"] .block-editor-list-view__expander {
			margin-left: 16px * ($i - 1);
		}
	}
}

// In writing-mode: vertical-xxx, inline inserter button position fix.
.block-editor-block-list__empty-block-inserter:not(:root) {
	inset: auto 0 0 auto;
}

// Variaton picker.
.block-editor-block-variation-picker {
	&.has-many-variations {
		.components-placeholder__fieldset {
			max-width: 100%;
		}
	}

	&__variations {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 16px;

		> li {
			margin: 0;
		}
	}

	&__variation {
		width: 40px;
		height: 40px;
	}

	&__variation-label {
		font-size: 12px;
	}
}

// Variaton picker icons color.
.block-editor-block-variation-picker__skip svg,
.block-editor-block-variation-picker__variations svg,
.wp-block-group-placeholder__variations svg {
	fill: #1e1e1e !important;
}

.components-text-control__input[disabled] {
	background-color: #f0f0f0;
}

.unitone-button-group {
	display: flex;

	> * {
		box-shadow: inset 0 0 0 1px #ccc;
	}

	> :not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	> :not(:first-child) {
		margin-left: -1px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.unitone-toggle-group-control {
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;

	&__body {
		display: grid;
		gap: 16px;
		padding: 16px 8px !important;
		border: 1px solid rgb(148, 148, 148);
		border-top: none;
		border-radius: 0 0 2px 2px;
	}
}

.unitone-width-control {
	.components-base-control {
		flex: 1;
	}

	.components-base-control__label:empty {
		display: none;
	}
}

.unitone-responsive-settings-container {
	.components-base-control__label {
		margin-bottom: 0 !important;
	}
}

.unitone-animation-tools-panel {
	grid-column: 1 / -1;

	> .components-tools-panel-item:not(:first-child) {
		> .components-item-group {
			border-top: none;
		}
	}
}

.unitone-grid-visualizer {
	pointer-events: none;

	&__cells {
		display: grid;
		border-color: transparent !important;
	}
}

.unitone-grid-cell {
	align-self: auto;
	justify-self: auto;
	grid-column: var(--unitne--grid-column);
	grid-row: var(--unitne--grid-row);
	outline: 1px solid color-mix(in srgb, pink, transparent 40%);
	pointer-events: none;
}

[data-rich-text-placeholder] {
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
	font-feature-settings: initial;
}

// @todo Since unitone has a parent-child block selection toolbar, is there no need for the core parent block selection button?
.components-popover.block-editor-block-list__block-popover .block-editor-block-contextual-toolbar.has-parent {
	margin-left: 0;
}
.block-editor-block-parent-selector {
	display: none;
}

// @todo Support for the fact that the preview and draft buttons are hidden on the top toolbar, depending on the screen size.
@media (min-width: 960px) {
	.is-fullscreen-mode .block-editor-block-contextual-toolbar.is-fixed {
		width: auto;
	}
}
