@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

.editor-styles-wrapper {
	z-index: 0;
}

.is-root-container.block-editor-block-list__layout:not(.wp-site-blocks) {
	--unitone--gutters: var(--unitone--global--gutters);

	padding-right: var(--unitone--global--gutters);
	padding-left: var(--unitone--global--gutters);
}

.block-editor-block-preview__content-iframe {
	.is-root-container.block-editor-block-list__layout:not(.wp-site-blocks) {
		padding-right: 0;
		padding-left: 0;
	}
}

.editor-styles-wrapper .alignfull + .alignfull {
	margin-top: 2px !important;
}

.block-editor-block-preview__content-iframe {
	[data-unitone-layout~=text] {
		> .block-list-appender:only-child {
			display: block;
		}
	}

	header[data-type=core\/template-part].block-editor-block-content-overlay {
		[data-unitone-layout~=cover] {
			--unitone--min-height: 400px !important;
		}
	}
}

.edit-post-visual-editor__post-title-wrapper {
	margin-top: 0 !important;
	margin-bottom: var(--unitone--global--gap);
	border-bottom: 1px solid #e0e0e0;
	padding: var(--unitone--global--text-gap) var(--unitone--global--gutters);

	> * {
		max-width: var(--wp--custom--container-max-width) !important;
	}
}

.block-editor-block-inspector {
	> div:not([class]) {
		display: flex;
		flex-direction: column;
	}

	.components-panel__body:not([class*="block-editor-"]) {
		order: -1;
	}
}

.block-editor-block-list__block .block-list-appender.block-list-appender:only-child {
	align-self: initial;
}

// @todo
.block-editor-block-list__layout .block-editor-block-list__block:hover::after,
.block-editor-block-list__block:hover .block-editor-block-list__block::after {
	z-index: 1;
	top: 1px;
	bottom: 1px;
	left: 1px;
	right: 1px;
	box-shadow: 0 0 0 0.5px rgba(#007cba, .5);
	border-radius: 0;
	outline: 2px solid transparent;
}
.block-editor-block-list__layout .block-editor-rich-text__editable:hover::after {
	box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
}

.block-editor-block-patterns-list__item {
	height: auto;
}

.block-editor-block-inspector {
	code {
		text-transform: initial;
	}
}

.block-editor-block-pattern-setup__carousel {
	padding-right: 32px;
	padding-left: 32px;
}

.components-color-palette__custom-color[style*="background: var(--unitone--color--"] .components-color-palette__custom-color-value {
  display: none;
}

// For WordPress 6.0
// Template part replace button
.wp-block-template-part__block-control-group + .wp-block-template-part__block-control-group {
	display: none;
}

// Remove the bottom margin of the element before one of the block list appender.
// Since there is no the block list appender at the front.
.editor-styles-wrapper .block-editor-block-list__layout:not(.is-root-container):not([data-unitone-layout~="cover"]) > .wp-block:nth-last-child(2) {
	margin-block-end: 0;
}

// Expands hierarchy of list view
.block-editor-list-view-leaf {
	&[aria-level="10"] .block-editor-list-view__expander {
		margin-left: 248px;
	}

	&[aria-level="11"] .block-editor-list-view__expander {
		margin-left: 276px;
	}

	&[aria-level="12"] .block-editor-list-view__expander {
		margin-left: 304px;
	}
}

// Scroll list view
@media (min-width: 782px) {
	.interface-interface-skeleton__secondary-sidebar .edit-post-editor__list-view-panel-content {
		max-width: 447px;
		overflow: auto;
	}
}

// In writing-mode: vertical-xxx, inline inserter button position fix.
.block-editor-block-list__empty-block-inserter:not(:root) {
	inset: auto 0 0 auto;
}

.block-editor-block-variation-picker.has-many-variations .components-placeholder__fieldset {
	max-width: 100%;
}

.unitone-toggle-group-control {
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;

	&__body {
		display: grid;
		gap: 16px;
		padding: 16px 8px !important;
		border: 1px solid rgb(148, 148, 148);
		border-top: none;
		border-radius: 0 0 2px 2px;
	}
}
