@use '../../js/editor/plugins/wireframe-generator';
@use '../../js/editor/plugins/featured-image-generator';
@use '../../js/editor/plugins/paste-styles';

.block-editor-iframe__html {
	overflow-x: clip;
}

.editor-styles-wrapper {
	z-index: 0;
}

.wp-block-query .components-placeholder__illustration {
	position: absolute;
}

.editor-styles-wrapper .alignfull + .alignfull {
	margin-top: 2px;
}

// Non iframe post editor
:not(.block-editor-iframe__body):not(.block-editor-block-preview__content-iframe) {
	> .is-root-container:where(:not(.wp-site-blocks)) {
		--unitone--gutters: var(--unitone--global--gutters);
	}
}

// iframe editor
:not(.block-editor-block-preview__content-iframe) {
	> .block-editor-iframe__body {
		// Site editor
		// .is-root-container:where(.wp-site-blocks) {
		// }

		// Post editor
		.is-root-container:where(:not(.wp-site-blocks)) {
			--unitone--gutters: var(--unitone--global--gutters);
		}
	}
}

// iframe preview
.block-editor-block-preview__content-iframe {
	.is-root-container {
		> .wp-block {
			max-width: none;
		}

		> .wp-block-query {
			margin: var(--unitone--global--gutters);
		}
	}

	[data-unitone-layout~=text] {
		> .block-list-appender:only-child {
			display: block;
		}
	}

	header[data-type=core\/template-part].block-editor-block-content-overlay {
		[data-unitone-layout~=cover] {
			--unitone--min-height: 400px !important;
		}
	}
}

.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper {
	margin-top: 0 !important;
	margin-bottom: var(--unitone--global--gap);
	border-bottom: 1px solid #e0e0e0;
	padding: var(--unitone--global--text-gap) var(--unitone--global--gutters);

	> * {
		max-width: var(--wp--style--global--wide-size) !important;
	}
}

.block-editor-block-inspector {
	> div:not([class]) {
		display: flex;
		flex-direction: column;
	}

	.components-panel__body:not([class*="block-editor-"]) {
		order: -1;
	}
}

.block-editor-block-list__block .block-list-appender.block-list-appender:only-child {
	align-self: initial;
}

// @todo
[data-unitone-block-outline]::after,
[data-unitone-block-outline] .block-editor-block-list__block::after {
	content: '';
	display: block;
	position: absolute;
	inset: 0;
	z-index: 0;
	box-shadow: 0 0 0 0.5px rgba(#007cba, .5);
	border-radius: 0;
	outline: 2px solid transparent;
	pointer-events: none;
}

.block-editor-block-list__layout .block-editor-block-list__block.rich-text.is-highlighted:after,
.block-editor-block-list__layout .block-editor-block-list__block.is-highlighted:after,
.block-editor-block-list__layout .block-editor-block-list__block.is-highlighted ~ .is-multi-selected:after,
.block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable=true]):focus:after,
.block-editor-block-list__layout.is-navigate-mode .block-editor-block-list__block.is-selected:after {
  inset: -1px !important;
}

.is-outline-mode .block-editor-block-list__block:not(.remove-outline).is-selected:after {
	inset: 0;
}

.block-editor-block-patterns-list__list-item {
	break-inside: avoid;

	// Fixed an issue where the iframe would be crushed when using vh in the preview.
	.block-editor-block-preview__container {
		.block-editor-block-preview__content {
			.block-editor-iframe__scale-container > iframe {
				min-height: 100vh !important;
			}
		}
	}
}

.block-editor-block-inspector {
	code {
		display: inline-block;
		font-size: 10px;
		text-transform: initial;
		padding: 2px 3px;
	}
}

.block-editor-block-pattern-setup__carousel {
	padding-right: 32px;
	padding-left: 32px;
}

// Featured image placeholder
.editor-post-featured-image__preview .editor-post-featured-image__preview-image {
	aspect-ratio: initial !important;
}

// For WordPress 6.0
// Template part replace button
.wp-block-template-part__block-control-group + .wp-block-template-part__block-control-group {
	display: none;
}

// Remove the bottom margin of the element before one of the block list appender.
// Since there is no the block list appender at the front.
.editor-styles-wrapper .block-editor-block-list__layout:not(.is-root-container):not([data-unitone-layout~="cover"]):has(> .block-list-appender) > .wp-block:nth-last-child(2) {
	margin-block-end: 0;
}

// Expands hierarchy of list view
.block-editor-list-view-leaf {
	@for $i from 2 through 14 {
		&[aria-level="#{ $i }"] .block-editor-list-view__expander {
			margin-left: 16px * ($i - 1);
		}
	}
}

// In writing-mode: vertical-xxx, inline inserter button position fix.
.block-editor-block-list__empty-block-inserter:not(:root) {
	inset: auto 0 0 auto;
}

// Set the color of button-block-appender to be the same as the text color.
.block-editor-inserter {
	color: inherit;
}
.block-editor-button-block-appender {
	color: inherit;
	box-shadow: inset 0 0 0 1px currentColor;
}

// The core specifies bottom and right but not top and left, so they may be overwritten by the block's CSS.
.block-editor-block-list__block .block-list-appender {
	top: auto;
	left: auto;
	margin: 0;
	padding: 0;
}

// Variaton picker.
.block-editor-block-variation-picker {
	&.has-many-variations {
		.components-placeholder__fieldset {
			max-width: 100%;
		}
	}

	&__variations {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 16px;

		> li {
			margin: 0;
		}
	}

	&__variation {
		width: 40px;
		height: 40px;
	}

	&__variation-label {
		font-size: 12px;
	}
}

// Variaton picker icons color.
.block-editor-block-variation-picker__skip svg,
.block-editor-block-variation-picker__variations svg,
.wp-block-group-placeholder__variations svg {
	fill: #1e1e1e !important;
}

// Block breadcrumbs.
.block-editor-block-breadcrumb {
	white-space: nowrap;
	overflow-x: auto;
}

:is(.component-color-indicator, .components-circular-option-picker__option) {
	&:is([style*="inherit"], [style*="currentcolor"]) {
		color: transparent !important;
	}

	&[style*="inherit"] {
		background-image: linear-gradient(90deg, #333 50%, #666 0) !important;
	}

	&[style*="currentcolor"] {
		background-image: linear-gradient(0deg, #333 50%, #666 0) !important;
	}
}

// @todo Prevent specific colors in the color palette from being changed in the site editor.
.edit-site-global-styles-color-palette-panel {
	// Global Styles > Colors > Palette
	> :first-child .components-circular-option-picker__option-wrapper:where(
		:nth-child(2), /* Text (Immutable) */
		:nth-child(3), /* Background */
		:nth-child(4), /* Text */
		:nth-child(5), /* Background (Alt) */
		:nth-child(6), /* Text (Alt) */
		:has(
			[style*="inherit"],
			[style*="currentcolor"],
			[style*="transparent"]
		)
	) .components-button,
	// Global Styles > Colors > Palette > Detail
	> :first-child [role="listitem"]:where(
		:nth-child(2), /* Text (Immutable) */
		:nth-child(3), /* Background */
		:nth-child(4), /* Text */
		:nth-child(5), /* Background (Alt) */
		:nth-child(6), /* Text (Alt) */
		:has(
			[style*="inherit"],
			[style*="currentcolor"],
			[style*="transparent"]
		)
	) .components-button {
		pointer-events: none !important;
		background-image: linear-gradient(45deg, transparent 0%, transparent 49%, #999 49%, #999 51%, transparent 51%, transparent 100%) !important;
		color: transparent !important;
		background-color: #ccc !important;
	}
}

.components-text-control__input[disabled] {
	background-color: #f0f0f0;
}

.unitone-button-group {
	display: flex;

	> * {
		box-shadow: inset 0 0 0 1px #ccc;
	}

	> :not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	> :not(:first-child) {
		margin-left: -1px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.unitone-toggle-group-control {
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;

	&__body {
		display: grid;
		gap: 16px;
		padding: 16px 8px !important;
		border: 1px solid rgb(148, 148, 148);
		border-top: none;
		border-radius: 0 0 2px 2px;
	}
}

.unitone-width-control {
	.components-base-control {
		flex: 1;
	}

	.components-base-control__label:empty {
		display: none;
	}
}

.unitone-backdrop-filter-progressive-control {
	.components-angle-picker-control {
		.components-number-control {
			display: none;
		}
	}
}

.unitone-responsive-settings-container {
	.components-base-control__label {
		margin-bottom: 0 !important;
	}

	.block-editor-hooks__flex-layout-justification-controls {
		margin-bottom: 0 !important;
	}

	.components-dropdown .components-button.has-icon {
		padding: 0;
		min-width: 24px;
		height: 24px;
	}
}

.unitone-help-container {
	&.-layout\:horizontal {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		justify-content: space-between;
		gap: 4px;

		&:has(.components-base-control__label) {
			grid-template-rows: auto auto;

			.components-base-control {
				display: contents;

				.components-base-control__field {
					display: grid;
					grid-template-rows: subgrid;
					grid-row: 1 / -1;
				}
			}

			.unitone-help-container__content {
				display: grid;
				grid-template-rows: subgrid;
				grid-column: 1 / -2;
				grid-row: 1 / -1;
				gap: 0;
			}

			.unitone-help-container__action {
				display: grid;
				grid-template-rows: subgrid;
				grid-column: 2 / -1;
				grid-row: -2 / -1;
				align-items: center;
			}
		}
	}

	&__action {
		.has-icon {
			box-shadow: none !important;
			outline: none !important;

			&:focus-visible {
				color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
			}
		}
	}
}

.unitone-help-popover {
	&__content {
		background-color: #1e1e1e;
		color: #fff;
		font-size: 11px;
		display: flex;
		gap: 4px;
		padding: 12px 4px 12px 12px;
		width: 240px;
	}

	.components-button {
		color: inherit;
	}

	code {
		background-color: rgb(255 255 255 / 0.1);
		font-size: inherit;
	}
}

.unitone-animation-tools-panel {
	grid-column: 1 / -1;

	> .components-tools-panel-item:not(:first-child) {
		> .components-item-group {
			border-top: none;
		}
	}
}

.unitone-grid-visualizer {
	pointer-events: none;

	&__cells {
		display: grid;
		border-color: transparent !important;
	}
}

.unitone-grid-cell {
	align-self: auto;
	justify-self: auto;
	grid-column: var(--unitne--grid-column);
	grid-row: var(--unitne--grid-row);
	outline: 1px solid color-mix(in srgb, pink, transparent 40%);
	pointer-events: none;
}

.unitone-settings-colors-settigs-dropdown {
	border: 1px solid var(--unitone--color--light-gray);

	> :not(:first-child) {
		border-top: 1px solid var(--unitone--color--light-gray);
	}

	.components-popover__content {
		overflow: visible !important;
	}

	.components-circular-option-picker__option-wrapper:hover {
		z-index: 1000000;
	}
}

.unitone-dimension-control {
	legend {
		font-size: 11px;
	}
}

[data-rich-text-placeholder] {
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo, sans-serif;
	font-feature-settings: initial;
}

// @todo Since unitone has a parent-child block selection toolbar, is there no need for the core parent block selection button?
.components-popover.block-editor-block-list__block-popover .block-editor-block-contextual-toolbar.has-parent {
	margin-left: 0;
}
.block-editor-block-parent-selector {
	display: none;
}

// @todo Support for the fact that the preview and draft buttons are hidden on the top toolbar, depending on the screen size.
@media (min-width: 960px) {
	.is-fullscreen-mode .block-editor-block-contextual-toolbar.is-fixed {
		width: auto;
	}
}
