@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/with-sidebar/with-sidebar';

@include with-sidebar.with-sidebar();

[data-unitone-layout~="with-sidebar__content"] {
	display: flex;
	flex-direction: column;

	> * {
		flex-grow: 1;
	}
}

// @todo
// When a template with sidebars is used, unnecessary left and right margins are added to the content in the main column.
:where([data-unitone-layout~="with-sidebar__content"]) {
	.entry-content,
	.wp-block-post-content,
	[data-unitone-layout~="text"] {
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}
}
