@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/with-sidebar/with-sidebar';

@include with-sidebar.with-sidebar();

[data-unitone-layout~="with-sidebar__content"] {
	--unitone--align-content: normal;
	--unitone--background-color: transparent;
	--unitone--background-image: none;
	--unitone--padding: 0px;
	--unitone--padding-top: var(--unitone--padding);
	--unitone--padding-right: var(--unitone--padding);
	--unitone--padding-bottom: var(--unitone--padding);
	--unitone--padding-left: var(--unitone--padding);

	&:has(> [data-unitone-layout~="with-sidebar__content__content"]) {
		background-color: transparent !important;
		background-image: none !important;
	}
}

[data-unitone-layout~="with-sidebar__content__content"] {
	display: grid;
	align-content: var(--unitone--align-content);
	align-items: var(--unitone--align-items); // Specified by with-sidebar.
	background-color: var(--unitone--background-color);
	background-image: var(--unitone--background-image);
	height: 100%;
	padding-top: var(--unitone--padding-top);
	padding-right: var(--unitone--padding-right);
	padding-bottom: var(--unitone--padding-bottom);
	padding-left: var(--unitone--padding-left);
}
