.unitone-text-stroke {
	--unitone--text-stroke-width: 0px;
	--unitone--text-stroke-color: currentColor;

	-webkit-text-stroke:
		var(--unitone--text-stroke-width)
		var(--unitone--text-stroke-color);
	paint-order: stroke;
}
