@mixin include() {
	.alignfull {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		max-width: 100%;
		width: auto;
	}

	.alignright,
	.alignleft {
		max-width: min(50%, var(--wp--custom--content-max-width));
	}

	.alignright.alignright.alignright {
		margin: 0 var(--unitone--global--gutters) var(--unitone--global--gap) var(--unitone--global--gap);
	}

	.alignleft.alignleft.alignleft {
		margin: 0 var(--unitone--global--gap) var(--unitone--global--gap) var(--unitone--global--gutters);
	}

	* > .alignright:first-child + *,
	* > .alignleft:first-child + * {
		margin-top: 0 !important;
	}

	.wp-block-image.aligncenter {
		margin-right: auto;
		margin-left: auto;
	}
}
