.is-layout-constrained,
[data-unitone-layout~="text"][data-unitone-layout~="-gutters\:root"],
.is-root-container {
	> .alignfull {
		max-width: none;
		width: auto;
	}
}

.entry-content.is-layout-constrained,
.is-root-container {
	> .alignfull {
		margin-right: calc(var(--unitone--global--gutters) * -1) !important;
		margin-left: calc(var(--unitone--global--gutters) * -1) !important;
	}
}

.alignfull + .alignfull {
	margin-block-start: 0;
}

.is-layout-flow,
.is-layout-constrained,
.is-root-container {
	> .alignright,
	> .alignleft {
		max-width: min(50%, var(--wp--style--global--content-size));

		&:first-child + * {
			margin-top: 0 !important;
		}
	}

	> .alignright.alignright {
		float: right;
		margin-bottom: var(--unitone--global--text-gap);
		margin-left: var(--unitone--global--text-gap);
	}

	> .alignleft.alignleft {
		float: left;
		margin-right: var(--unitone--global--text-gap);
		margin-bottom: var(--unitone--global--text-gap);
	}
}

.wp-block-image.aligncenter {
	margin-right: auto;
	margin-left: auto;
}
