@use '../../../../node_modules/@inc2734/unitone-css/src/variables/variables';

:where(.wp-block-button, .wp-element-button) {
	--unitone--border-radius: var(--unitone--global--border-radius);
	--unitone--padding: initial;
	--unitone--padding-top: var(--unitone--padding, var(--unitone--p-2));
	--unitone--padding-right: var(--unitone--padding, var(--unitone--p-1));
	--unitone--padding-bottom: var(--unitone--padding, var(--unitone--p-2));
	--unitone--padding-left: var(--unitone--padding, var(--unitone--p-1));

	display: inline-flex;

	.wp-block-button__link {
		--unitone--border-radius: inherit;
		--unitone--padding: inherit;
	}
}

.wp-element-button {
	display: inline-block;
}

:where(a.wp-block-button__link, a.wp-element-button) {
	@include variables.typography();
}
