:where(.wp-block-button, .wp-element-button) {
	--unitone--border-radius: var(--unitone--global--border-radius);
	--unitone--padding: var(--unitone--p-1);

	display: inline-flex;

	.wp-block-button__link {
		--unitone--border-radius: inherit;
		--unitone--padding: inherit;
	}
}

.wp-element-button {
	display: inline-block;
}
