@use "sass:map";
@use "sass:string";
@use "sass:list";
@use '../../../../node_modules/@inc2734/unitone-css/src/variables/variables';

$font-sizes: (
	(
		slug: unitone-xs,
		size: -2,
	),
	(
		slug: unitone-s,
		size: -1,
	),
	(
		slug: unitone-m,
		size: 0,
	),
	(
		slug: unitone-l,
		size: 1,
	),
	(
		slug: unitone-xl,
		size: 2,
	),
	(
		slug: unitone-2-xl,
		size: 3,
	),
	(
		slug: unitone-3-xl,
		size: 4,
	),
	(
		slug: unitone-4-xl,
		size: 5,
	),
	(
		slug: unitone-5-xl,
		size: 6,
	),
	(
		slug: unitone-6-xl,
		size: 7,
	),
);

@each $font-size in $font-sizes {
	$size: map.get($font-size, size);
	$slug: map.get($font-size, slug);
	$splited-slug: list.join(string.split(map.get($font-size, slug), '-'), '');
	$non-hyphen-slug: #{ list.nth($splited-slug, 1) }-#{ list.nth($splited-slug, 2) }#{ list.nth($splited-slug, 3) };

	.has-#{ $slug }-font-size {
		--unitone--font-size: #{ $size } !important;
		--wp--preset--font-size--#{ $slug }: var(--unitone--font-size-rem) !important;

		&[data-unitone-layout~="-fluid-typography"] {
			--wp--preset--font-size--#{ $slug }: var(--unitone--font-size-fluid) !important;
		}
	}

	:where(.has-#{ $slug }-font-size *) {
		font-size: inherit;
	}

	// For WooCommerce
	// @todo At WooCommerce 9.7, a hyphen isn't added after the number in the class/CSS vars for font size.
	// @todo At WooCommerce 9.7, setting typography in product-price block does not give .has-{slug}-font-size.
	.has-#{ $non-hyphen-slug }-font-size {
		--unitone--font-size: #{ $size } !important;
		--wp--preset--font-size--#{ $non-hyphen-slug }: var(--unitone--font-size-rem) !important;

		&[data-unitone-layout~="-fluid-typography"] {
			--wp--preset--font-size--#{ $non-hyphen-slug }: var(--unitone--font-size-fluid) !important;
		}
	}
	:where(.has-#{ $non-hyphen-slug }-font-size *) {
		font-size: inherit;
	}
	.wc-block-components-product-price {
		--wp--preset--font-size--#{ $non-hyphen-slug }: calc(var(--unitone--harmonic-sequence-base) / (var(--unitone--harmonic-sequence-base) - #{ $size }) * 1rem) !important;
	}
}
