@use "sass:map";
@use "sass:string";
@use "sass:list";

$font-sizes: (
	(
		slug: unitone-2-xs,
		token: 2xs,
	),
	(
		slug: unitone-xs,
		token: xs,
	),
	(
		slug: unitone-s,
		token: s,
	),
	(
		slug: unitone-m,
		token: m,
	),
	(
		slug: unitone-l,
		token: l,
	),
	(
		slug: unitone-xl,
		token: xl,
	),
	(
		slug: unitone-2-xl,
		token: 2xl,
	),
	(
		slug: unitone-3-xl,
		token: 3xl,
	),
	(
		slug: unitone-4-xl,
		token: 4xl,
	),
	(
		slug: unitone-5-xl,
		token: 5xl,
	),
	(
		slug: unitone-6-xl,
		token: 6xl,
	)
);

// Generate non-hyphen font size CSS var.
:root {
	@each $font-size in $font-sizes {
		$slug: map.get($font-size, slug);
		$splited-slug: list.join(string.split(map.get($font-size, slug), '-'), '');
		$non-hyphen-slug: #{ list.nth($splited-slug, 1) }-#{ list.nth($splited-slug, 2) }#{ list.nth($splited-slug, 3) };

		@if $non-hyphen-slug != $slug {
			--wp--preset--font-size--#{ $non-hyphen-slug }: var(--wp--preset--font-size--#{ $slug });
		}
	}
}

@each $font-size in $font-sizes {
	$slug: map.get($font-size, slug);
	$token: map.get($font-size, token);

	// When a font size is applied to `core/button`, a class is added to `.wp-block-button__link`;
	// however, since `-fluid-typography` is applied to `.wp-block-button`,
	// we are making adjustments using the selector.
	:root :where(
		.has-#{ $slug }-font-size[data-unitone-layout~=-fluid-typography],
		[data-unitone-layout~=-fluid-typography] > .wp-block-button__link.has-#{ $slug }-font-size
	) {
		font-size: var(--unitone--font-size-#{ $token }-fluid) !important;
	}
}

[data-unitone-layout~=-fluid-typography] > .wp-block-button__link {
	line-height: var(--unitone--line-height);
}
