p.has-background,
.wp-block-preformatted.has-background,
.wp-block-template-part.has-background,
.wp-block-group.has-background {
	--unitone--padding: var(--unitone--global--text-gap);

	padding: var(--unitone--padding);
}

ul:where(:not(.wp-block-navigation__container):not(.wp-block-navigation__submenu-container):not(.wp-block-page-list)).has-background,
ol.has-background {
	--unitone--padding: var(--unitone--global--text-gap);

	padding: var(--unitone--padding);
}

h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background {
	--unitone--padding: calc(var(--unitone--global--text-gap) / 4) calc(var(--unitone--global--text-gap) / 3);

	padding: var(--unitone--padding);
}
