/**
 * CSS loaded with wp_enqueue_block_style() will not be loaded without blocks.
 * CSS must always be loaded, which is inconvenient when a classic editor is required, such as in WooCommerce.
 */

@use '../../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

.is-layout-constrained:where(:not([data-unitone-layout~="text"])),
.wp-block-post-content:where(.is-layout-flow), // @deprecated
.is-root-container {
	@include text.abstract-text();
	@include text.abstract-text--gap();
	--unitone--max-width: 100%;
}

.is-layout-constrained,
.wp-block-post-content:where(.is-layout-flow), // @deprecated
.is-root-container {
	> .wp-block-audio,
	> .wp-block-embed,
	> .wp-block-image,
	> .wp-block-table,
	> .wp-block-video,
	> .wp-block-code {
		--unitone--text-gap-increment: calc(1em * var(--unitone--half-leading));

		&:first-child:first-child {
			margin-block-start: calc(1em * var(--unitone--half-leading));
		}

		&:not(.alignleft):not(.alignright) + * {
			--unitone--text-gap-increment: calc(1em * var(--unitone--half-leading));
		}
	}
}

.entry-content:where(.is-layout-constrained),
.wp-block-post-content:where(.is-layout-constrained) {
	--unitone--gutters: var(--unitone--global--gutters);
}
