/**
 * CSS loaded with wp_enqueue_block_style() will not be loaded without blocks.
 * CSS must always be loaded, which is inconvenient when a classic editor is required, such as in WooCommerce.
 */

@use '../../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

:where(.is-layout-constrained:not([data-unitone-layout~="text"])),
:where(.wp-block-post-content.is-layout-flow), // @deprecated
:where(.is-root-container) {
	@include text.abstract-text();
	@include text.abstract-text--gap();
	--unitone--max-width: 100%;
}

:where(.is-layout-constrained),
:where(.wp-block-post-content.is-layout-flow), // @deprecated
:where(.is-root-container) {
	> .wp-block-audio,
	> .wp-block-embed,
	> .wp-block-image,
	> .wp-block-table,
	> .wp-block-video,
	> .wp-block-code {
		--unitone--text-gap-increment: calc(1em * var(--unitone--half-leading));

		&:first-child:first-child {
			margin-block-start: calc(1em * var(--unitone--half-leading));
		}

		&:not(.alignleft):not(.alignright) + * {
			--unitone--text-gap-increment: calc(1em * var(--unitone--half-leading));
		}
	}
}

.entry-content:where(.is-layout-constrained),
.wp-block-post-content:where(.is-layout-constrained) {
	--unitone--gutters: var(--unitone--global--gutters);
}

/**
 * Almost all templates were changed to enclose content in section blocks.
 * As a result, the left and right margins of the page were determined by section blocks.
 * Therefore, padding should be 0.
 */
:where(.unitone-section > [data-unitone-layout~="gutters"] > [data-unitone-layout~="container"] > [data-unitone-layout~="stack"]) {
	> .entry-content:where(.is-layout-constrained),
	> .wp-block-post-content:where(.is-layout-constrained) {
		--unitone--gutters: 0px;
	}
}
