@use '../../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

.is-layout-constrained,
.is-root-container {
	@include text.abstract-text();

	--unitone--gutters: var(--unitone--global--gutters);

	margin-right: 0;
	margin-left: 0;
	padding-right: var(--unitone--gutters);
	padding-left: var(--unitone--gutters);

	> * {
		--unitone--global--text-gap: calc(var(--unitone--margin-top, 1) * var(--unitone--s1));
	}

	> :where(h2, h3, h4, h5, h6) {
		--unitone--margin-top: 2;

		& + :where(h2, h3, h4, h5, h6) {
			--unitone--margin-top: 0;
		}
	}

	> h5 + * {
		--unitone--margin-top: .5;
	}

	> h6 + * {
		--unitone--margin-top: .5;
	}

	&:lang(ja) {
		font-feature-settings: "palt" 0;
		font-kerning: none;

		> :where(h1, h2, h3, h4, h5) {
			font-feature-settings: "palt" 1;
			font-kerning: normal;
		}
	}
}

// @todo
// When a template with sidebars is used, unnecessary left and right margins are added to the content in the main column.
:where([data-unitone-layout~="with-sidebar__content"]) .entry-content,
:where([data-unitone-layout~="with-sidebar__content"]) .wp-block-post-content,
:where([data-unitone-layout~="with-sidebar__content"]) [data-unitone-layout~="text"] {
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}
