@mixin include() {
	.wp-block-embed {
		margin-bottom: 0;
		width: auto;

		figcaption {
			caption-side: bottom;
			text-align: left;
		}
	}

	.wp-block-embed-wp-oembed-blog-card {
		.wp-block-embed__wrapper {
			background-color: var(--wp--preset--color--white);
			color: var(--wp--preset--color--unitone-text-black);
			box-shadow: var(--unitone--global--box-shadow);
			border-radius: var(--unitone--global--border-radius);
			padding: var(--unitone--s1);
			overflow: hidden;
		}
	}
}
