@use '../../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

.is-layout-constrained,
.is-root-container {
	@include text.abstract-text();

	> * {
		--unitone--margin-top: 1; // @deprecated
		--unitone--text-gap-scale: var(--unitone--margin-top);
		--unitone--text-gap-increment: 0px;
		--unitone--global--text-gap: calc(var(--unitone--text-gap-scale, 1) * var(--unitone--s1) + var(--unitone--text-gap-increment)); // If you use --unitone--gap, what you set for "gap" will affect the margin as well.
	}

	> :where(h2, h3, h4, h5, h6) {
		--unitone--text-gap-scale: 2;

		& + :where(h2, h3, h4, h5, h6) {
			--unitone--text-gap-scale: 1;
		}
	}

	> h5 + * {
		--unitone--text-gap-scale: .5;
	}

	> h6 + * {
		--unitone--text-gap-scale: .5;
	}

	> .wp-block-audio,
	> .wp-block-embed,
	> .wp-block-image,
	> .wp-block-table,
	> .wp-block-video {
		--unitone--text-gap-increment: calc(1em * var(--unitone--half-leading));

		&:first-child {
			margin-block-start: calc(1em * var(--unitone--half-leading));
		}

		&:not(.alignleft):not(.alignright) + * {
		--unitone--text-gap-increment: calc(1em * var(--unitone--half-leading));
		}
	}
}

.entry-content.wp-block-post-content,
.entry-content[data-unitone-layout="text"],
:where(.is-root-container) {
	--unitone--gutters: var(--unitone--global--gutters);
}
