@use '../../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

@mixin include() {
	.wp-block-pullquote {
		padding: var(--unitone--global--text-gap) 0;
		max-width: var(--unitone--max-width);
		width: auto;

		blockquote {
			@include text.abstract-text();
			--unitone--max-width: inherit;
		}
	}
}
