@use '../../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

@mixin include() {
	.wp-block-quote {
		@include text.abstract-text();
		--unitone--max-width: inherit;

		box-sizing: border-box;
		padding: 0;

		&:where(:not(.is-style-plain)) {
			padding-left: var(--unitone--global--text-gap);
		}

		cite,
		footer {
			font-size: var(--wp--preset--font-size--unitone-s);
		}
	}
}
