@mixin include() {
	.wp-block-embed {
		margin-bottom: 0;
		width: auto;

		figcaption {
			margin: var(--unitone--s-2) 0 0;
			color: var(--wp--preset--color--unitone-dark-gray);
			font-size: var(--wp--preset--font-size--unitone-s);
			caption-side: bottom;
			text-align: left;
		}
	}

	.wp-block-embed-wp-oembed-blog-card {
		figcaption {
			margin-top: var(--unitone--s-1);
		}
	}
}
