.wp-block-embed {
	margin-bottom: 0;
	width: auto;

	figcaption {
		caption-side: bottom;
		text-align: left;
	}
}

.is-provider-wp-oembed-blog-card,
.is-provider-wp-oembed-blog-card-handler,
.wp-block-embed:not([class*=is-provider-]),
[data-resizable-iframe-connected] > div > .wp-oembed-blog-card {
	--wp-oembed-blog-card--background-color: var(--wp--preset--color--white);
	--wp-oembed-blog-card--border: none;
	--wp-oembed-blog-card--border-radius: var(--unitone--global--border-radius);
	--wp-oembed-blog-card--color: var(--wp--preset--color--unitone-text-black);
	--wp-oembed-blog-card--box-shadow: var(--unitone--global--box-shadow);
	--wp-oembed-blog-card--gap: var(--unitone--s1);
	--wp-oembed-blog-card--padding: var(--unitone--s1);
}

.wp-oembed-blog-card__title + .wp-oembed-blog-card__description {
	margin-top: var(--unitone--s-1);
}

.wp-oembed-blog-card__description {
	--unitone--font-size: -1;
}

.wp-oembed-blog-card__domain {
	--unitone--font-size: -2;
}

.wp-block-embed__wrapper {
	> .components-sandbox {
		display: block;
	}
}
