.wp-block-query {
	--unitone--gap: var(--unitone--global--gap);

	display: flex;
	flex-direction: column;
	gap: var(--unitone--gap);

	&.is-layout-flow > * + * {
		margin-top: 0;
	}
}

.wp-block-post-template {
	--unitone--gap: var(--unitone--global--text-gap);

	display: grid;
	gap: var(--unitone--gap) !important;

	> * {
		margin: 0;
	}

	&.is-layout-flow > * + * {
		margin-top: 0;
	}

	.wp-block-post {
		--unitone--padding: var(--unitone--gap);
	}

	.wp-block-post-title a {
		color: inherit;
		text-decoration: none;
	}
}

// Backward compatibility
.wp-block-post-template.is-flex-container {
	display: grid;

	@media (min-width: 600px) {
		@for $i from 2 through 6 {
			&.columns-#{ $i } {
				grid-template-columns: repeat(#{ $i }, minmax(0, 1fr));

				.wp-block-post {
					width: auto !important;
				}
			}
		}
	}
}

.wp-block-query.is-layout-constrained > .wp-block-post-template,
.wp-block-post-template.is-layout-constrained > .wp-block-post {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.wp-block-query-pagination {
	display: flex;
	justify-content: center;
}

.wp-block-query-pagination-numbers,
.wp-block-comments-pagination-numbers {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	> * {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 3rem;
		min-height: 3rem;
		color: inherit;
		text-decoration: none;
	}

	> .current,
	> .dots {
		color: var(--wp--preset--color--unitone-gray);
	}
}
