.wp-block-embed-youtube.wp-has-aspect-ratio {
	width: 100%;
}

[data-unitone-layout~="center"] {
	> .wp-block-embed-youtube.wp-has-aspect-ratio {
		width: var(--unitone--max-width);
		max-width: 100%;
	}
}
