.wp-block-post-terms.is-style-badge {
	--unitone--border-radius: var(--unitone--global--border-radius);
	--unitone--padding: calc(var(--unitone--p-1) / 2) var(--unitone--p-1);

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--unitone--s-2);
	background-color: transparent !important;

	a {
		--unitone--font-size: -2;

		display: inline-block;
		border-radius: var(--unitone--border-radius);
		padding: var(--unitone--padding);
		text-decoration: none;
	}

	.wp-block-post-terms__separator {
		display: none;
	}
}

.wp-block-post-terms.is-style-badge a:not(.element-button) {
	background-color: var(--wp--preset--color--unitone-accent);
	color: var(--wp--preset--color--white);
}

.wp-block-post-terms.is-style-outline {
	--unitone--padding: calc(var(--unitone--s-2) / 2) var(--unitone--s-2);

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--unitone--s-2);
	background-color: transparent !important;

	a {
		--unitone--font-size: -2;

		display: inline-block;
		border: 1px solid currentColor;
		padding: var(--unitone--padding);
		text-decoration: none;
	}
}
