.wp-block-post-terms.is-style-badge,
.wp-block-post-terms.is-style-outline {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: transparent !important;

	a:where(:not(.wp-element-button)) {
		text-decoration: none;
	}

	.wp-block-post-terms__separator {
		display: none;
	}
}

:root :where(.wp-block-post-terms.is-style-badge) {
	--unitone--font-size: -2;
	--unitone--border-radius: var(--unitone--global--border-radius);
	--unitone--padding: calc(var(--unitone--p-1) / 2) var(--unitone--p-1);

	gap: var(--unitone--s-2);

	a:where(:not(.wp-element-button)),
	span:where(:not([class]):not([data-rich-text-placeholder])) {
		background-color: var(--wp--preset--color--unitone-accent);
		color: var(--wp--preset--color--white);
		display: inline-block;
		border-radius: var(--unitone--border-radius);
		padding: var(--unitone--padding);
	}
}

:root :where(.wp-block-post-terms.is-style-outline) {
	--unitone--font-size: -2;
	--unitone--padding: calc(var(--unitone--p-2) / 2) var(--unitone--p-2);

	gap: var(--unitone--s-2);

	a:where(:not(.wp-element-button)),
	span:where(:not([class]):not([data-rich-text-placeholder])) {
		color: var(--wp--preset--color--unitone-accent);
		display: inline-block;
		border: 1px solid currentColor;
		padding: var(--unitone--padding);
	}
}
