
@function min($values...) {
	@return unquote('min(#{$values})');
}

.unitone-grid {
	--unitone--align-items: normal;
	--unitone--justify-items: legacy;

	--unitone--gap: var(--unitone--global--text-gap);
	--unitone--column-gap: var(--unitone--gap);
	--unitone--row-gap: var(--unitone--gap);

	--unitone--column-auto-repeat: auto-fit;
	--unitone--columns: 1;
	--unitone--column-min-width: 250px;
	--unitone--grid-template-columns: none;

	--unitone--md-columns: var(--unitone--columns);
	--unitone--md-column-min-width: var(--unitone--column-min-width);
	--unitone--md-grid-template-columns: var(--unitone--grid-template-columns);

	--unitone--sm-columns: var(--unitone--md-columns);
	--unitone--sm-column-min-width: var(--unitone--md-column-min-width);
	--unitone--sm-grid-template-columns: var(--unitone--md-grid-template-columns);

	--unitone--rows: 1;
	--unitone--grid-template-rows: none;

	--unitone--md-rows: var(--unitone--rows);
	--unitone--md-grid-template-rows: var(--unitone--grid-template-rows);

	--unitone--sm-rows: var(--unitone--md-rows);
	--unitone--sm-grid-template-rows: var(--unitone--md-grid-template-rows);

	display: grid;
	align-items: var(--unitone--align-items);
	justify-items: var(--unitone--justify-items);
	column-gap: var(--unitone--column-gap);
	row-gap: var(--unitone--row-gap);

	> * {
		--unitone--justify-self: auto;
		--unitone--align-self: auto;
		--unitone--grid-column: auto;
		--unitone--md-grid-column: var(--unitone--grid-column);
		--unitone--sm-grid-column: var(--unitone--md-grid-column);
		--unitone--grid-row: auto;
		--unitone--md-grid-row: var(--unitone--grid-row);
		--unitone--sm-grid-row: var(--unitone--md-grid-row);

		margin-top: 0;
		margin-bottom: 0;
		min-width: 0;
		justify-self: var(--unitone--justify-self);
		align-self: var(--unitone--align-self);
		grid-column: var(--unitone--grid-column);
		grid-row: var(--unitone--grid-row);

		@media not all and (min-width: 960px) {
			grid-column: var(--unitone--md-grid-column);
			grid-row: var(--unitone--md-grid-row);
		}

		@media not all and (min-width: 600px) {
			grid-column: var(--unitone--sm-grid-column);
			grid-row: var(--unitone--sm-grid-row);
		}
	}
}

[data-unitone-layout~="-columns\:columns"] {
	grid-template-columns: repeat(var(--unitone--columns), 1fr);
}

[data-unitone-layout~="-columns\:min"] {
	grid-template-columns: repeat(var(--unitone--column-auto-repeat), minmax(min(var(--unitone--column-min-width), 100%), 1fr));
}

[data-unitone-layout~="-columns\:free"] {
	grid-template-columns: var(--unitone--grid-template-columns);
}

@media not all and (min-width: 960px) {
	[data-unitone-layout~="-columns\:md\:columns"] {
		grid-template-columns: repeat(var(--unitone--md-columns), 1fr);
	}

	[data-unitone-layout~="-columns\:md\:min"] {
		grid-template-columns: repeat(var(--unitone--column-auto-repeat), minmax(min(var(--unitone--md-column-min-width), 100%), 1fr));
	}

	[data-unitone-layout~="-columns\:md\:free"] {
		grid-template-columns: var(--unitone--md-grid-template-columns);
	}
}

@media not all and (min-width: 600px) {
	[data-unitone-layout~="-columns\:sm\:columns"] {
		grid-template-columns: repeat(var(--unitone--sm-columns), 1fr);
	}

	[data-unitone-layout~="-columns\:sm\:min"] {
		grid-template-columns: repeat(var(--unitone--column-auto-repeat), minmax(min(var(--unitone--sm-column-min-width), 100%), 1fr));
	}

	[data-unitone-layout~="-columns\:sm\:free"] {
		grid-template-columns: var(--unitone--sm-grid-template-columns);
	}
}

[data-unitone-layout~="-rows\:rows"] {
	grid-template-rows: repeat(var(--unitone--rows), 1fr);
}

[data-unitone-layout~="-rows\:free"] {
	grid-template-rows: var(--unitone--grid-template-rows);
}

.editor-styles-wrapper .unitone-grid {
	column-gap: var(--unitone--column-gap);
	row-gap: var(--unitone--row-gap);
}

@media not all and (min-width: 960px) {
	[data-unitone-layout~="-rows\:md\:rows"] {
		grid-template-rows: repeat(var(--unitone--md-rows), 1fr);
	}

	[data-unitone-layout~="-rows\:md\:free"] {
		grid-template-rows: var(--unitone--md-grid-template-rows);
	}
}

@media not all and (min-width: 600px) {
	[data-unitone-layout~="-rows\:sm\:rows"] {
		grid-template-rows: repeat(var(--unitone--sm-rows), 1fr);
	}

	[data-unitone-layout~="-rows\:sm\:free"] {
		grid-template-rows: var(--unitone--sm-grid-template-rows);
	}
}
