@use "sass:string";

@function min($values...) {
	@return string.unquote('min(#{$values})');
}

.unitone-grid {
	--unitone--align-items: stretch;
	--unitone--justify-items: stretch;

	--unitone--gap: var(--unitone--global--text-gap);
	--unitone--column-gap: var(--unitone--gap);
	--unitone--row-gap: var(--unitone--gap);

	--unitone--column-auto-repeat: auto-fit;
	--unitone--columns: 1;
	--unitone--column-min-width: 250px;
	--unitone--grid-template-columns: none;

	--unitone--md-columns: var(--unitone--columns);
	--unitone--md-column-min-width: var(--unitone--column-min-width);
	--unitone--md-grid-template-columns: var(--unitone--grid-template-columns);

	--unitone--sm-columns: var(--unitone--md-columns);
	--unitone--sm-column-min-width: var(--unitone--md-column-min-width);
	--unitone--sm-grid-template-columns: var(--unitone--md-grid-template-columns);

	--unitone--rows: 1;
	--unitone--grid-template-rows: none;

	--unitone--md-rows: var(--unitone--rows);
	--unitone--md-grid-template-rows: var(--unitone--grid-template-rows);

	--unitone--sm-rows: var(--unitone--md-rows);
	--unitone--sm-grid-template-rows: var(--unitone--md-grid-template-rows);

	display: grid;
	align-items: var(--unitone--align-items);
	justify-items: var(--unitone--justify-items);
	column-gap: var(--unitone--column-gap);
	row-gap: var(--unitone--row-gap);

	> * {
		--unitone--justify-self: auto;
		--unitone--md-justify-self: var(--unitone--justify-self);
		--unitone--sm-justify-self: var(--unitone--md-justify-self);

		--unitone--align-self: auto;
		--unitone--md-align-self: var(--unitone--align-self);
		--unitone--sm-align-self: var(--unitone--md-align-self);

		--unitone--grid-column: auto;
		--unitone--md-grid-column: var(--unitone--grid-column);
		--unitone--sm-grid-column: var(--unitone--md-grid-column);

		--unitone--grid-row: auto;
		--unitone--md-grid-row: var(--unitone--grid-row);
		--unitone--sm-grid-row: var(--unitone--md-grid-row);

		$_self-values: (
			start: start,
			end: end,
			center: safe center,
			stretch: stretch,
		);

		@each $key, $value in $_self-values {
			&[data-unitone-layout~="-justify-self\:md\:#{ $key }"] {
				--unitone--md-justify-self: #{ $value } !important;
			}
		}

		@each $key, $value in $_self-values {
			&[data-unitone-layout~="-justify-self\:sm\:#{ $key }"] {
				--unitone--sm-justify-self: #{ $value } !important;
			}
		}

		@each $key, $value in $_self-values {
			&[data-unitone-layout~="-align-self\:md\:#{ $key }"] {
				--unitone--md-align-self: #{ $value } !important;
			}
		}

		@each $key, $value in $_self-values {
			&[data-unitone-layout~="-align-self\:sm\:#{ $key }"] {
				--unitone--sm-align-self: #{ $value } !important;
			}
		}

		margin: 0;
		min-width: 0;
		justify-self: var(--unitone--justify-self);
		align-self: var(--unitone--align-self);
		grid-column: var(--unitone--grid-column);
		grid-row: var(--unitone--grid-row);
	}
}

[data-unitone-layout~="-columns\:columns"] {
	grid-template-columns: repeat(var(--unitone--columns), 1fr);
}

[data-unitone-layout~="-columns\:min"] {
	grid-template-columns: repeat(var(--unitone--column-auto-repeat), minmax(min(var(--unitone--column-min-width), 100%), 1fr));
}

[data-unitone-layout~="-columns\:free"] {
	grid-template-columns: var(--unitone--grid-template-columns);
}


[data-unitone-layout~="-rows\:rows"] {
	grid-template-rows: repeat(var(--unitone--rows), 1fr);
}

[data-unitone-layout~="-rows\:free"] {
	grid-template-rows: var(--unitone--grid-template-rows);
}

.editor-styles-wrapper .unitone-grid {
	column-gap: var(--unitone--column-gap);
	row-gap: var(--unitone--row-gap);
}
