/**
 * For adminbar.
 */
.wp-block-navigation__responsive-container {
	@media (max-width: 599px) {
		top: var(--wp-admin--admin-bar--height, 0px);
	}
}

.has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog {
	margin-top: 0;
}

/**
 * @todo When I put wp-page-list in a submenu, it is wrapped in ul on the editor but not on the front.
 * Because of this, if there is a background color, it needs to be adjusted in the editor.
 */
.wp-block-navigation__submenu-container {
	.wp-block-page-list {
		background-color: inherit !important;
		color: inherit !important;
	}
}

// Fix core CSS bug.
.wp-block-navigation__container {
	gap: inherit !important;
}
.wp-block-navigation:where(:not([class*=has-text-decoration])) a:not(.wp-element-button) {
	text-decoration: none;
}

.wp-block-navigation {

	/**
	 * General
	 */
	& {
		--unitone--padding: 0px;
		--unitone--gap: var(--unitone--s-1);
		--unitone--column-gap: var(--unitone--gap);
		--unitone--row-gap: 0px;

		--unitone--navigation-buttons--gap: var(--unitone--s-1);

		row-gap: var(--unitone--row-gap) !important;
		column-gap: var(--unitone--column-gap) !important;

		&:where(.is-horizontal:not(.wp-block-navigation__container)) {
			--unitone--column-gap: var(--unitone--gap);
			--unitone--row-gap: 0px;
		}

		&:where(.is-vertical:not(.wp-block-navigation__container)) {
			--unitone--column-gap: 0px;
			--unitone--row-gap: var(--unitone--gap);
		}
	}

	.wp-block-navigation__responsive-container {
		padding: var(--unitone--padding);
	}

	:where(.wp-block-buttons) {
		gap: var(--unitone--navigation-buttons--gap);
	}

	/**
	 * Overlay
	 */
	&:where(:has(.is-menu-open)) {
		& {
			--unitone--padding: 1em;
			--unitone--column-gap: 0px;
			--unitone--row-gap: var(--unitone--gap);
		}
	}
}

// Setting a minimum width for a button block within a navigation block does not work.
.wp-block-navigation__responsive-container-content > *,
.wp-block-navigation__container.block-editor-block-list__layout > .wp-block-buttons {
	flex: 1 1 auto;
}

.wp-block-navigation__container.block-editor-block-list__layout {
	> .block-list-appender {
		align-self: start;
	}
}

.wp-block-navigation-item {
	margin: 0;

	&.open-on-click .wp-block-navigation-submenu__toggle + .wp-block-navigation__submenu-icon {
		pointer-events: initial;
		cursor: pointer;
	}
}

.wp-block-navigation__responsive-container.is-menu-open {
	.wp-block-navigation__submenu-container {
		flex: 100%;
	}
}

.wp-block-navigation__responsive-container.is-menu-open {
	:where(.wp-block-navigation-item) {
		gap: inherit;
	}
}

.wp-block-navigation__responsive-container.is-menu-open {
	.wp-block-navigation__responsive-container-content {
		padding-top: calc(var(--unitone--s-1) + 2rem); // The hamburger button size is 2rem.
	}
}

.wp-block-navigation__submenu-container {
	> :where(.wp-block-page-list) > :where(.wp-block-pages-list__item), // For editor.
	> :where(.wp-block-navigation-item) {
		gap: inherit;
	}
}

/**
 * Style: unitone, unitone (Accordion)
 */
.wp-block-navigation:where(.is-style-unitone, .is-style-unitone-accordion) {

	/**
	 * General
	 */
	& {
		--unitone--gap: var(--unitone--global--text-gap);

		// Items
		--unitone--navigation-item--padding-block: var(--unitone--s-2);
		--unitone--navigation-item--padding-inline: 0px;
		--unitone--navigation-item--padding: var(--unitone--navigation-item--padding-block) var(--unitone--navigation-item--padding-inline);

		// Submenus
		--unitone--navigation-submenu--min-width: 240px;

		// Submenu items
		--unitone--navigation-submenu-item--padding-block: var(--unitone--s-1);
		--unitone--navigation-submenu-item--padding-inline: var(--unitone--s-1);
		--unitone--navigation-submenu-item--padding: var(--unitone--navigation-submenu-item--padding-block) var(--unitone--navigation-submenu-item--padding-inline);
		--unitone--navigation-submenu-item--indent: 0px;

		// Submenu icons
		--unitone--navigation-submenu-icon--size: .6em;

		&:where(.is-vertical:not(.wp-block-navigation__container)) {
			--unitone--row-gap: 0px;
		}
	}

	// Menu & Submenu items.
	.wp-block-navigation-item {
		flex-wrap: wrap;
		gap: 0;
		align-items: stretch;

		&:not(:root):not(:root) {
			flex-direction: row;
		}
	}

	// Menu & Submenu labels.
	.wp-block-navigation-item__content:not(.wp-block-navigation__submenu-icon) {
		flex-grow: 1;
		flex-basis: 0%;
	}

	// Toggle icons
	.wp-block-navigation__submenu-icon:not(:root) {
		flex: 0;
		align-items: center;
		align-self: stretch;
		margin: 0 !important;
		height: auto;
		width: auto;
		padding-right: 0;
		padding-left: var(--unitone--s-2);

		svg {
			margin: 0;
			height: var(--unitone--navigation-submenu-icon--size);
			width: var(--unitone--navigation-submenu-icon--size);
		}
	}
	.wp-block-navigation__responsive-container:not(.is-menu-open) {
		.wp-block-navigation__submenu-icon {
			display: flex;
		}
	}

	// Menu items.
	// `.wp-block-navigation__submenu-icon` has `.wp-block-navigation-item__content` in the editor, so it needs to be excluded.
	.wp-block-navigation__container {
		> :where(.wp-block-page-list) > :where(.wp-block-pages-list__item),
		> :where(.wp-block-navigation-item) {
			> .wp-block-navigation-item__content:not(.wp-block-navigation__submenu-icon):not(:root) {
				padding: var(--unitone--navigation-item--padding);
			}
		}

		> .wp-block-social-links {
			padding: var(--unitone--navigation-item--padding);
		}
	}

	// Submenu positions for menu items. For horizontal.
	&.is-horizontal {
		.wp-block-navigation__responsive-container:not(.is-menu-open) {
			:where(.wp-block-navigation__container) {
				> :where(.wp-block-page-list) > :where(.wp-block-pages-list__item),
				> :where(.wp-block-navigation-item) {
					> .wp-block-navigation__submenu-container {
						left: 50%;
						translate: -50%;
					}
				}
			}
		}
	}

	&.is-vertical {
		--navigation-layout-align: stretch;
		--navigation-layout-justification-setting: stretch;

		.wp-block-navigation__responsive-container-content,
		.wp-block-navigation__container {
			> .wp-block-buttons {
				margin: var(--unitone--navigation-item--padding);
			}
		}

		:where(.wp-block-navigation__responsive-container:not(.is-menu-open)) {
			:where(.wp-block-navigation__container) {
				> :where(.wp-block-page-list) > :where(.wp-block-pages-list__item),
				> :where(.wp-block-navigation-item) {
					> .wp-block-navigation__submenu-container {
						position: fixed;
						top: var(--unitone--rect-top);
						left: var(--unitone--rect-right);
					}

					> .wp-block-navigation__submenu-container.block-editor-block-list__layout {
						position: absolute;
						top: 0;
						left: 100%;
					}
				}
			}

			[aria-expanded=true] ~ .unitone-mega-menu__container {
				position: fixed;
				inset: var(--unitone--rect-top) auto auto var(--unitone--rect-right) !important;
				max-height: calc(100vh - var(--unitone--rect-top));
				width: calc(95vw - var(--unitone--rect-right));
				overflow-y: auto;
				translate: 0 !important;

				.unitone-mega-menu__placement {
					margin-left: 0 !important;
				}
			}

			[aria-expanded=true] ~ .unitone-mega-menu__container.block-editor-block-list__layout {
				position: absolute;
				top: 0 !important;
				left: 100% !important;
				max-height: none;
				overflow: visible;
			}
		}
	}

	// Submenu item.
	// `.wp-block-navigation__submenu-icon` has `.wp-block-navigation-item__content` in the editor, so it needs to be excluded.
	.wp-block-navigation__submenu-container {
		> :where(.wp-block-page-list) > .wp-block-pages-list__item, // For editor.
		> .wp-block-navigation-item {
			.wp-block-navigation-item__content:not(.wp-block-page-list__submenu-icon) {
				padding: var(--unitone--navigation-submenu-item--padding);
			}

			&:where(.has-child) > .wp-block-navigation-item__content:not(.wp-block-page-list__submenu-icon) {
				padding-right: 0;
			}

			.wp-block-navigation__submenu-icon {
				padding-right: calc(var(--unitone--navigation-submenu-item--padding-inline) / 2);
			}
		}
	}
	&:not(.has-background) .wp-block-navigation__submenu-container {
		background-color: var(--wp--preset--color--unitone-accent);
		color: var(--wp--preset--color--unitone-background);

		> .block-list-appender .block-editor-button-block-appender {
			background-color: #fff;
		}
	}

	// Item padding for the toggle icon.
	.wp-block-navigation-item:where(:has(.wp-block-navigation__submenu-icon)) {
		.wp-block-navigation__submenu-container:not(:root):not(:root) {
			min-width: var(--unitone--navigation-submenu--min-width) !important;
		}
	}

	:where(.unitone-mega-menu a:not(.wp-element-button)) {
		padding: 0;
	}

	/**
	 * Overlay default colors.
	 */
	&:where(:not(.has-background)) :where(.wp-block-navigation__responsive-container.is-menu-open) {
		background-color: var(--wp--preset--color--unitone-background);
		color: var(--wp--preset--color--unitone-text);
	}

	/**
	 * Overlay
	 */
	&:where(:has(.is-menu-open)),
	:where(.is-menu-open .wp-block-navigation__container) {
		& {
			--navigation-layout-justification-setting: stretch;

			--unitone--gap: 0px;
			--unitone--padding: var(--unitone--global--gutters);

			// Items
			--unitone--navigation-item--padding-block: calc(var(--unitone--s-1) / 2);

			// Submenu items
			--unitone--navigation-submenu-item--padding-block: calc(var(--unitone--s-1) / 2);
			--unitone--navigation-submenu-item--padding-inline: 0;
			--unitone--navigation-submenu-item--indent: 1rem;
		}

		.wp-block-navigation__responsive-container-content,
		.wp-block-navigation__container {
			> .wp-block-buttons {
				margin: var(--unitone--navigation-item--padding);
			}
		}

		// Remove core padding for submenu container.
		.wp-block-navigation__submenu-container:not(:root):not(:root):not(:root) {
			padding-top: 0;
			padding-right: 0;
			padding-left: 0;
		}

		// Indent for submenu items.
		.wp-block-navigation__submenu-container .wp-block-navigation-item__content:not(:root):not(:root) {
			padding-left: var(--unitone--navigation-submenu-item--indent);
		}

		:where(.wp-block-navigation__submenu-container) .wp-block-navigation__submenu-container .wp-block-navigation-item__content:not(:root):not(:root) {
			padding-left: calc(var(--unitone--navigation-submenu-item--indent) * 2);
		}

		:where(.wp-block-navigation__submenu-container .wp-block-navigation__submenu-container) .wp-block-navigation__submenu-container .wp-block-navigation-item__content:not(:root):not(:root) {
			padding-left: calc(var(--unitone--navigation-submenu-item--indent) * 3);
		}

		:where(.wp-block-navigation__submenu-container .wp-block-navigation__submenu-container .wp-block-navigation__submenu-container) .wp-block-navigation__submenu-container .wp-block-navigation-item__content:not(:root):not(:root) {
			padding-left: calc(var(--unitone--navigation-submenu-item--indent) * 4);
		}
	}
}

/**
 * Replace overlay menu
 */
.unitone-overlay-menu {
	display: none;
}

.wp-block-navigation:has(.is-menu-open) {
	.unitone-overlay-menu {
		display: block;
	}

	.unitone-overlay-menu ~ * {
		display: none !important;
	}

	&.block-editor-block-list__block[style*="--unitone--help-text\:"] {
		.wp-block-navigation__responsive-container-content {
			&::before {
				content: var(--unitone--help-text);
				padding: var(--unitone--s1);
				border: 1px solid var(--wp--preset--color--unitone-light-gray);
				background-color: var(--wp--preset--color--unitone-bright-gray);
			}
		}

		.wp-block-navigation__container {
			display: none !important;
		}
	}
}

/**
 * Style: unitone (Accordion)
 */
.wp-block-navigation:where(.is-style-unitone-accordion) {
	// Toggle icons
	.wp-block-navigation__submenu-icon {
		display: flex !important;
	}

	/**
	 * Overlay
	 */
	&:where(:has(.is-menu-open)),
	:where(.is-menu-open .wp-block-navigation__container) {
		[aria-expanded=false] ~ .wp-block-navigation__submenu-container:not(:root):not(:root) {
			height: 0px;
			opacity: 0;
			overflow: hidden;
			visibility: hidden;
		}
	}
}
