.wp-block-navigation-item {
	margin: 0;
}

/**
 * For adminbar.
 */
.wp-block-navigation__responsive-container {
	@media (max-width: 599px) {
		top: var(--wp-admin--admin-bar--height, 0px);
	}
}

.has-modal-open .admin-bar .is-menu-open .wp-block-navigation__responsive-dialog {
	margin-top: 0;
}

/**
 * @todo When I put wp-page-list in a submenu, it is wrapped in ul on the editor but not on the front.
 * Because of this, if there is a background color, it needs to be adjusted in the editor.
 */
.wp-block-navigation__submenu-container {
	.wp-block-page-list {
		background-color: inherit !important;
		color: inherit !important;
	}
}

/**
 * Style: unitone
 */
.wp-block-navigation:where(.is-style-unitone) {

	/**
	 * General
	 */
	& {
		--unitone--gap: var(--unitone--global--text-gap);
		--unitone--column-gap: var(--unitone--gap);
		--unitone--row-gap: 0px;
		--unitone--padding: 0px;

		// Items
		--unitone--navigation-item--padding-block: var(--unitone--s-1);
		--unitone--navigation-item--padding-inline: 0px;
		--unitone--navigation-item--padding: var(--unitone--navigation-item--padding-block) var(--unitone--navigation-item--padding-inline);

		// Submenus
		--unitone--navigation-submenu--min-width: 240px;

		// Submenu items
		--unitone--navigation-submenu-item--padding-block: var(--unitone--s-1);
		--unitone--navigation-submenu-item--padding-inline: var(--unitone--s-1);
		--unitone--navigation-submenu-item--padding: var(--unitone--navigation-submenu-item--padding-block) var(--unitone--navigation-submenu-item--padding-inline);
		--unitone--navigation-submenu-item--indent: 0px;

		// Submenu icons
		--unitone--navigation-submenu-icon--size: .6em;
	}

	.wp-block-navigation__responsive-container-close {
		top: var(--unitone--global--gutters);
		right: var(--unitone--global--gutters);
	}

	.wp-block-navigation__container {
		padding: var(--unitone--padding);
		row-gap: var(--unitone--row-gap) !important;
		column-gap: var(--unitone--column-gap) !important;
	}

	// Menu item.
	// `.wp-block-navigation__submenu-icon` has `.wp-block-navigation-item__content` in the editor, so it needs to be excluded.
	.wp-block-navigation__container {
		> :where(.wp-block-page-list) > :where(.wp-block-pages-list__item),
		> :where(.wp-block-navigation-item) {
			> .wp-block-navigation-item__content:not(.wp-block-navigation__submenu-icon):not(:root) {
				padding: var(--unitone--navigation-item--padding);
			}
		}

		> .wp-block-social-links {
			padding: var(--unitone--navigation-item--padding);
		}
	}

	// Submenu positions for menu items. For horizontal.
	&.is-horizontal {
		.wp-block-navigation__responsive-container:not(.is-menu-open) {
			:where(.wp-block-navigation__container) {
				> :where(.wp-block-page-list) > :where(.wp-block-pages-list__item),
				> :where(.wp-block-navigation-item) {
					> .wp-block-navigation__submenu-container {
						left: 50%;
						translate: -50%;
					}
				}
			}
		}
	}

	// Submenu item.
	// `.wp-block-navigation__submenu-icon` has `.wp-block-navigation-item__content` in the editor, so it needs to be excluded.
	.wp-block-navigation__submenu-container {
		> :where(.wp-block-page-list) > .wp-block-pages-list__item, // For editor.
		> .wp-block-navigation-item {
			.wp-block-navigation-item__content:not(.wp-block-navigation-submenu__toggle) {
				padding: var(--unitone--navigation-submenu-item--padding);
			}
		}
	}
	&:not(.has-background) .wp-block-navigation__submenu-container {
		background-color: var(--wp--preset--color--unitone-accent);
		color: var(--wp--preset--color--white);
	}

	// Item padding for the toggle icon.
	:is(.has-child, .unitone-mega-menu):where(:has(.wp-block-navigation__submenu-icon)) {
		position: relative;

		> .wp-block-navigation-item__content:not(.wp-block-navigation__submenu-icon) {
			padding-right: var(--unitone--s1) !important;
		}

		.wp-block-navigation__submenu-container:not(:root):not(:root) {
			min-width: var(--unitone--navigation-submenu--min-width) !important;
		}
	}

	// Toggle icon
	.wp-block-navigation__submenu-icon {
		position: absolute;
		top: calc(50% - var(--unitone--navigation-submenu-icon--size) / 2);
		right: 0;
		margin: 0 !important;
		height: var(--unitone--navigation-submenu-icon--size);
		width: var(--unitone--navigation-submenu-icon--size);

		svg {
			margin-top: 0;
		}
	}
	.wp-block-navigation__submenu-container .wp-block-navigation__submenu-icon {
		right: calc(var(--unitone--s1) / 2 - var(--unitone--navigation-submenu-icon--size) / 2);
	}

	:where(.unitone-mega-menu a:not(.wp-element-button)) {
		padding: 0;
	}

	/**
	 * Overlay default colors.
	 */
	&:where(:not(.has-background)) :where(.wp-block-navigation__responsive-container.is-menu-open) {
		background-color: var(--wp--preset--color--unitone-background);
		color: var(--wp--preset--color--unitone-text);
	}

	/**
	 * Overlay
	 */
	&:where(:has(.is-menu-open)),
	:where(.is-menu-open .wp-block-navigation__container) {
		& {
			--navigation-layout-justification-setting: stretch;

			--unitone--gap: 0px;
			--unitone--column-gap: 0px;
			--unitone--row-gap: var(--unitone--gap);
			--unitone--padding: var(--unitone--global--gutters);

			// Items
			--unitone--navigation-item--padding: calc(var(--unitone--s-1) / 2) 0;

			// Submenu items
			--unitone--navigation-submenu-item--padding: calc(var(--unitone--s-1) / 2) 0;
			--unitone--navigation-submenu-item--indent: 1rem;
		}

		// Remove core padding for submenu container.
		.wp-block-navigation__submenu-container:not(:root):not(:root):not(:root) {
			padding-top: 0;
			padding-right: 0;
			padding-left: 0;
		}

		// Indent for submenu items.
		.wp-block-navigation__submenu-container .wp-block-navigation-item__content:not(:root):not(:root) {
			padding-left: var(--unitone--navigation-submenu-item--indent);
		}

		:where(.wp-block-navigation__submenu-container) .wp-block-navigation__submenu-container .wp-block-navigation-item__content:not(:root):not(:root) {
			padding-left: calc(var(--unitone--navigation-submenu-item--indent) * 2);
		}

		:where(.wp-block-navigation__submenu-container .wp-block-navigation__submenu-container) .wp-block-navigation__submenu-container .wp-block-navigation-item__content:not(:root):not(:root) {
			padding-left: calc(var(--unitone--navigation-submenu-item--indent) * 3);
		}

		:where(.wp-block-navigation__submenu-container .wp-block-navigation__submenu-container .wp-block-navigation__submenu-container) .wp-block-navigation__submenu-container .wp-block-navigation-item__content:not(:root):not(:root) {
			padding-left: calc(var(--unitone--navigation-submenu-item--indent) * 4);
		}
	}
}
