.unitone-responsive-image__url-placeholder {
	background-color: #f0f0f0 !important;
	box-shadow: none !important;
	padding: 1rem !important;

	.components-button.is-secondary {
		background-color: white;
	}
}
