.unitone-responsive-image-add-source-box {
	background-color: #f0f0f0 !important;
	padding: 1rem !important;

	.block-editor-media-placeholder {
		background-color: transparent !important;
		box-shadow: none !important;
		padding: 0 !important;

		.components-button.is-secondary {
			background-color: white;

			&.is-pressed {
				--wp-components-color-foreground-inverted: var(--wp-admin-theme-color);
			}
		}
	}
}

.unitone-responsive-image-source-actions {
	.components-button {
		min-height: 36px;
		padding: 6px;
	}
}
