.unitone-responsive-image {
	--unitone--drop-shadow: none;
	--unitone--overlay-color: transparent;
	--unitone--overlay-gradient: none;
	--unitone--overlay-opacity: .6;
	--unitone--overlay-radius: 0px;

	display: flow-root;
	border: none !important;
	font-size: var(--unitone--font-size-m);

	&__overlay {
		pointer-events: none;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			z-index: auto !important;
			background-image: var(--unitone--overlay-gradient);
			background-color: var(--unitone--overlay-color);
			border-radius: var(--unitone--overlay-radius);
			opacity: var(--unitone--overlay-opacity);
		}
	}

	&:is(.alignfull, .alignwide) img {
		width: 100%;
	}

	&.aligncenter {
		margin-inline-end: auto;
		margin-inline-start: auto;
	}

	&:where(.has-unitone-hover) img {
		transition-property: all;
		transition-duration: var(--unitone--transition-duration);
		transition-timing-function: var(--unitone--transition-timing-function);
	}

	@media (any-hover: hover) {
		&.has-unitone-border-color-hover:hover {
			img {
				border-color: var(--unitone--border-color--hover) !important;
			}
		}
	}

	&.has-unitone-border-color-hover:focus-visible {
		img {
			border-color: var(--unitone--border-color--hover) !important;
		}
	}

	picture {
		display: contents;
	}

	img {
		max-width: 100%;
		height: auto;
		vertical-align: bottom;
		filter: drop-shadow(var(--unitone--drop-shadow));
	}
}

:where(.unitone-responsive-image:not(:has(.components-placeholder))) {
	width: fit-content;
}

:where(.is-layout-constrained) {
	> .unitone-responsive-image {
		--unitone--text-gap-increment: calc(1em * var(--unitone--half-leading));
	}
}
