.unitone-inline-icon {
	--unitone--color: inherit;

	position: relative !important;
	display: inline-block;
	color: var(--unitone--color);

	&::before {
		content: "";
		position: absolute;
		inset: calc(var(--unitone--half-leading) * 1em) 0 0 0;
		display: block;
		background: currentcolor;
		mask-image: var(--unitone--inline-svg);
		mask-position: center center;
		mask-repeat: no-repeat;
		mask-size: contain;
		height: 1em;
		width: 1em;
	}

	a,
	span {
		display: inline-block;
		width: 1em;
		text-decoration: none !important;
	}
}

.unitone-media-link {
	position: relative;
}

.unitone-media-link__popover {
	max-width: min(360px, 90vw);
}

.unitone-media-link__embed-input {
	flex: 1;
	min-width: 0;
}

.unitone-media-link__embed-input {
	.components-base-control__field {
		margin: 0;
	}
}

.unitone-lightbox-overlay {
	&.zoom.active .lightbox-image-container {
		animation: none !important;
	}

	&--embed {
		.lightbox-image-container:not(.unitone-lightbox-embed-container) {
			display: none;
		}
	}

	&--media {
		.unitone-lightbox-embed-container {
			display: none;
		}
	}
}

.unitone-lightbox-overlay:has(.unitone-lightbox-embed-container.indeterminate-size) {
	display: grid;
	place-items: center;
}

.unitone-lightbox-embed-container {
	&.indeterminate-size {
		position: relative;
		inset: auto;
		z-index: 4000000;
		display: flex;
		transform: initial;
		padding: 1.5rem;
		max-height: 100%;
		overflow: hidden;

		.unitone-lightbox-embed-container__inner {
			display: block;
			overflow: auto;
		}
	}

	&__inner {
		display: contents;

		p:last-child {
			margin: 0;
		}
	}

	&__embed {
		display: contents;

		iframe {
			max-width: 100%;
			max-height: 100%;
		}
	}
}

.components-button .feather {
	fill: none;
}

.unitone-br {
	display: inline;

	@media (min-width: 960px) {
		&--disable\:desktop br {
			display: none;
		}
	}

	@media (max-width: 959px) and (min-width: 600px) {
		&--disable\:tablet br {
			display: none;
		}
	}

	@media not all and (min-width: 600px) {
		&--disable\:mobile br {
			display: none;
		}
	}
}

.editor-styles-wrapper .unitone-br {
	position: relative;

	&::before {
		content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0.5C11.8284 0.5 12.5 1.17157 12.5 2V8C12.5 8.82843 11.8284 9.5 11 9.5H6.69661V13L0 8L6.69661 3V6.5H9.5V2C9.5 1.17157 10.1716 0.5 11 0.5Z" fill="#cc1818" stroke="#fff" stroke-width="1.5"/></svg>');
		position: absolute;
		top: calc(50% - 6px);
		right: -.5em;
		line-height: 0;
	}
}

.editor-styles-wrapper .unitone-wbr {
	position: relative;

	&::before {
		content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0.5C11.8284 0.5 12.5 1.17157 12.5 2V8C12.5 8.82843 11.8284 9.5 11 9.5H6.69661V13L0 8L6.69661 3V6.5H9.5V2C9.5 1.17157 10.1716 0.5 11 0.5Z" fill="#cc1818" stroke="#fff" stroke-width="1.5"/></svg>');
		position: absolute;
		right: -.5em;
		line-height: 0;
		top: calc(50% - 6px);
	}
}

.unitone-text-shadow {
	--unitone--offset-x: 0px; // @deprecated
	--unitone--offset-y: 0px; // @deprecated
	--unitone--blur-radius: 0px; // @deprecated
	--unitone--color: currentColor; // @deprecated

	--unitone--text-shadow-offset-x: var(--unitone--offset-x);
	--unitone--text-shadow-offset-y: var(--unitone--offset-y);
	--unitone--text-shadow-blur-radius: var(--unitone--blur-radius);
	--unitone--text-shadow-color: var(--unitone--color);

	text-shadow:
		var(--unitone--text-shadow-offset-x)
		var(--unitone--text-shadow-offset-y)
		var(--unitone--text-shadow-blur-radius)
		var(--unitone--text-shadow-color);
}

.unitone-text-stroke {
	--unitone--text-stroke-width: 0px;
	--unitone--text-stroke-color: currentColor;

	-webkit-text-stroke:
		var(--unitone--text-stroke-width)
		var(--unitone--text-stroke-color);
	paint-order: stroke;
}

.block-editor-format-toolbar__image-popover {
	.block-editor-color-gradient-control {
		.components-custom-gradient-picker__gradient-bar {
			.components-custom-gradient-picker__control-point-button {
				padding: 0;
			}
		}
	}
}

.unitone-text-gradient {
	@supports (background-clip: text) {
		background-image: var(--unitone--text-gradient-gradient);
		background-clip: text !important;
		-webkit-text-fill-color: transparent !important;
	}
}
