.unitone-inline-icon {
	--unitone--color: inherit;

	position: relative;
	display: inline-block;
	color: var(--unitone--color);

	&::before {
		content: "";
		position: absolute;
		inset: calc(var(--unitone--half-leading) * 1em) 0 0 0;
		display: block;
		background: currentcolor;
		mask-image: var(--unitone--inline-svg);
		mask-position: center center;
		mask-repeat: no-repeat;
		mask-size: contain;
		height: 1em;
		width: 1em;
	}

	a,
	span {
		display: inline-block;
		width: 1em;
		text-decoration: none !important;
	}
}

.components-button .feather {
	fill: none;
}

.unitone-br {
	position: relative;
	display: inline;

	@media (min-width: 960px) {
		&--disable\:desktop br {
			display: none;
		}
	}

	@media (max-width: 959px) and (min-width: 600px) {
		&--disable\:tablet br {
			display: none;
		}
	}

	@media not all and (min-width: 600px) {
		&--disable\:mobile br {
			display: none;
		}
	}
}

.editor-styles-wrapper .unitone-br {
	&::before {
		content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0.5C11.8284 0.5 12.5 1.17157 12.5 2V8C12.5 8.82843 11.8284 9.5 11 9.5H6.69661V13L0 8L6.69661 3V6.5H9.5V2C9.5 1.17157 10.1716 0.5 11 0.5Z" fill="#cc1818" stroke="#fff" stroke-width="1.5"/></svg>');
		position: absolute;
		top: calc(50% - 6px);
		right: -.5em;
		line-height: 0;
	}
}

.editor-styles-wrapper .unitone-wbr {
	position: relative;

	&::before {
		content: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0.5C11.8284 0.5 12.5 1.17157 12.5 2V8C12.5 8.82843 11.8284 9.5 11 9.5H6.69661V13L0 8L6.69661 3V6.5H9.5V2C9.5 1.17157 10.1716 0.5 11 0.5Z" fill="#cc1818" stroke="#fff" stroke-width="1.5"/></svg>');
		position: absolute;
		right: -.5em;
		line-height: 0;
		top: calc(50% - 6px);
	}
}

.unitone-text-shadow {
	--unitone--offset-x: 0px;
	--unitone--offset-y: 0px;
	--unitone--blur-radius: 0px;
	--unitone--color: currentColor;

	text-shadow: var(--unitone--offset-x) var(--unitone--offset-y) var(--unitone--blur-radius) var(--unitone--color);
}
