@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/decorator/decorator';

@include decorator.decorator();

[data-unitone-layout~="decorator"] {
	--unitone--position: relative;
}

[data-unitone-layout~="decorator"]:has(> [data-unitone-layout~="decorator__inner"]) {
	padding: 0;

	> [data-unitone-layout~="decorator__inner"] {
		padding-top: var(--unitone--padding-top);
		padding-right: var(--unitone--padding-right);
		padding-bottom: var(--unitone--padding-bottom);
		padding-left: var(--unitone--padding-left);
	}
}

[data-unitone-layout~="decorator"][data-unitone-layout~="-has-link"],
[data-unitone-layout~="decorator"]:has(> [data-unitone-layout~="decorator__inner"] > [data-unitone-layout~="decorator__link"]) {
	cursor: pointer;

	&:has(:focus-visible) {
		outline: auto;
		outline: auto -webkit-focus-ring-color; /* for Chrome */
	}
}

[data-unitone-layout~="decorator__link"] {
	position: static !important;
	display: block !important;
	height: 0 !important;
	width: 0 !important;
	text-indent: -99999px !important;
}

[data-unitone-layout~="decorator"]:has(> [data-unitone-layout~="-outer-block-link"]) {
	padding: 0;

	> [data-unitone-layout~="-outer-block-link"] {
		display: block;
		color: inherit;
		text-decoration: none;

		> [data-unitone-layout~="decorator__inner"] {
			padding-top: var(--unitone--padding-top);
			padding-right: var(--unitone--padding-right);
			padding-bottom: var(--unitone--padding-bottom);
			padding-left: var(--unitone--padding-left);
		}
	}
}

[data-unitone-layout~="decorator__inner"],
[data-unitone-layout~="decorator__inner"] > div,
[data-unitone-layout~="decorator"] > [data-unitone-layout~="-outer-block-link"] {
	height: 100%;
}
