@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/decorator/decorator';

@include decorator.decorator();

[data-unitone-layout~="decorator"] {
	--unitone--position: relative;
}

:where([data-unitone-layout~="decorator"] a) {
	position: relative;
	z-index: 1;
}

[data-unitone-layout~="decorator__inner"] {
	position: static !important;
}

[data-unitone-layout~="decorator__link"] {
	position: static !important;
	display: block !important;
	height: 0 !important;
	width: 0 !important;
	text-indent: -99999px !important;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
	}
}
