[data-unitone-layout~="frame"] {
	> * {
		.components-resizable-box__container,
		.components-disabled,
		div:not([class]) {
			display: contents !important;

			> div {
				display: none; // Remove resizer
			}
		}

		figcaption {
			display: none;
		}
	}

	.block-editor-media-placeholder {
		height: 100%;
	}

	.wp-block-post-featured-image {
		:is(
			.components-placeholder,
			.wp-block-post-featured-image__placeholder
		) {
			min-height: 1px;
		}
	}
}
