[data-unitone-layout~="text"]:not([data-unitone-layout~="-column"]) {
	--wp--custom--content-max-width: var(--unitone--max-width);
}

[data-unitone-layout~="text"][data-unitone-layout~="-column"] {
	max-width: var(--wp--custom--content-max-width);

	> * {
		max-width: none !important;
	}
}
