@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

[data-unitone-layout~="text"].is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	&,
	.editor-styles-wrapper:where(.block-editor-writing-flow) & {
		margin-right: auto;
		margin-left: auto;
		max-width: min(100%, var(--unitone--max-width));
	}
}

@include text.text();

[data-unitone-layout~="text"] {
	--unitone--max-width: var(--wp--style--global--content-size);
}
