@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

@include text.text();

[data-unitone-layout~="text"] {
	--unitone--max-width: var(--wp--style--global--content-size);
}

[data-unitone-layout~="text"][data-unitone-layout~="-gap"]:not([data-unitone-layout~=-column]) > * {
	max-width: min(100%, var(--unitone--max-width));
}

[data-unitone-layout~="text"][data-unitone-layout~="-column"] {
	max-width: none;

	> * {
		max-width: min(100%, var(--unitone--max-width));
	}
}
