.editor-styles-wrapper [data-type="unitone/with-sidebar-divided"] {
	> .block-list-appender {
		position: absolute;
		border: none;
		padding: 0;
		margin: 0;

		&::before {
			display: none;
		}
	}
}
