.is-provider-wp-oembed-blog-card .wp-block-embed__wrapper,
.wp-oembed-blog-card {
	--wp-oembed-blog-card--border-radius: 0px;
	--wp-oembed-blog-card--border: 1px solid var(--wp--preset--color--unitone-light-gray, var(--unitone--color--light-gray));
	--wp-oembed-blog-card--box-shadow: none;
	--wp-oembed-blog-card--box-shadow--hover: none;
}
