.wp-block-latest-posts {
	display: flex;
	flex-direction: column;
	gap: var(--unitone--s-2);

	li {
		margin-left: 0;
	}

	&__post-author,
	&__post-date {
		font-size: var(--wp--preset--font-size--unitone-xs);
	}
}
