[data-unitone-layout~="stack"]:where([data-unitone-layout*="-divider:"]) {
	--unitone--divider-color: var(--wp--preset--color--unitone-light-gray);

	&:has(> [data-unitone-layout~="stack__content"]) {
		--unitone--padding: 0px;
		--unitone--padding-top: var(--unitone--padding);
		--unitone--padding-right: var(--unitone--padding);
		--unitone--padding-bottom: var(--unitone--padding);
		--unitone--padding-left: var(--unitone--padding);
		--unitone--children-padding-top: var(--unitone--padding-top);
		--unitone--children-padding-right: var(--unitone--padding-right);
		--unitone--children-padding-bottom: var(--unitone--padding-bottom);
		--unitone--children-padding-left: var(--unitone--padding-left);
	}
}

[data-unitone-layout~="stack__content"] {
	--unitone--background-color: transparent;
	--unitone--background-image: none;
	--unitone--background-position: 0% 0%;
	--unitone--background-repeat: repeat;
	--unitone--background-size: auto;
	--unitone--background-attachment: scroll;
	--unitone--padding: initial;
	--unitone--padding-top: var(--unitone--padding, var(--unitone--children-padding-top));
	--unitone--padding-right: var(--unitone--padding, var(--unitone--children-padding-right));
	--unitone--padding-bottom: var(--unitone--padding, var(--unitone--children-padding-bottom));
	--unitone--padding-left: var(--unitone--padding, var(--unitone--children-padding-left));

	&:not(:root) {
		background-color: transparent !important;
		background-image: none !important;
	}
}

[data-unitone-layout~="stack__content__content"] {
	background-color: var(--unitone--background-color);
	background-image: var(--unitone--background-image);
	background-position: var(--unitone--background-position);
	background-repeat: var(--unitone--background-repeat);
	background-size: var(--unitone--background-size);
	background-attachment: var(--unitone--background-attachment);
	min-height: 100%;
	padding-top: var(--unitone--padding-top);
	padding-right: var(--unitone--padding-right);
	padding-bottom: var(--unitone--padding-bottom);
	padding-left: var(--unitone--padding-left);
}
