.unitone-flex {
	--unitone--gap: var(--unitone--global--text-gap);
	--unitone--column-gap: var(--unitone--gap);
	--unitone--row-gap: var(--unitone--gap);

	flex-direction: row;
	justify-content: start;

	&.is-layout-flex {
		column-gap: var(--unitone--column-gap);
		row-gap: var(--unitone--row-gap);
	}

	> * {
		--unitone--flex-grow: initial;
		--unitone--flex-shrink: initial;
		--unitone--flex-basis: initial;

		flex-grow: var(--unitone--flex-grow);
		flex-shrink: var(--unitone--flex-shrink);
		flex-basis: var(--unitone--flex-basis);
		min-width: 0;
	}
}
