@use "easing";

/**
 * If data-unitone-hover-animation is enabled,
 * .has-unitone-hover will be added.
 */
[data-unitone-hover-animation] {
	--unitone--hover-animation-duration: .2s;
	--unitone--hover-animation-timing-function: ease;

	--unitone--transition-duration: var(--unitone--hover-animation-duration);
	--unitone--transition-timing-function: var(--unitone--hover-animation-timing-function);
}

[data-unitone-hover-animation~=scale] {
	--unitone--hover-animation-scale: 1.05;
}

[data-unitone-hover-animation~=fade] {
	--unitone--hover-animation-opacity: .75;
}

@each $_key, $_value in easing.$easings {
	[data-unitone-hover-animation~=-animation-timing-function\:#{ $_key }] {
		--unitone--hover-animation-timing-function: #{ $_value };
	}
}

@mixin active-hover-animation {
	&[data-unitone-hover-animation~=scale] {
		scale: var(--unitone--hover-animation-scale) !important;
	}

	&[data-unitone-hover-animation~=fade] {
		opacity: var(--unitone--hover-animation-opacity) !important;
	}

	&[data-unitone-hover-animation~=shadow-natural] {
		box-shadow: var(--wp--preset--shadow--unitone-natural) !important;
	}

	&[data-unitone-hover-animation~=shadow-dark] {
		box-shadow: var(--wp--preset--shadow--unitone-dark) !important;
	}
}

[data-unitone-hover-animation~=-active] {
	@include active-hover-animation;
}

[data-unitone-hover-animation-group~=-active] [data-unitone-hover-animation~="-trigger:group"] {
	@include active-hover-animation;
}

@media (any-hover: hover) {
	[data-unitone-hover-animation]:not(.wp-block):not([data-unitone-hover-animation~="-trigger:group"]):hover {
		@include active-hover-animation;
	}

	[data-unitone-hover-animation-group]:not(.wp-block):hover [data-unitone-hover-animation~="-trigger:group"] {
		@include active-hover-animation;
	}
}

[data-unitone-hover-animation]:not(.wp-block):not([data-unitone-hover-animation~="-trigger:group"]):focus-visible {
	@include active-hover-animation;
}
