[data-unitone-parallax] {
	will-change: transform;
	backface-visibility: hidden;
}

[data-unitone-parallax] > img {
	will-change: object-position;
	backface-visibility: hidden;
}

[data-unitone-parallax=disable] {
	visibility: hidden;
}

[data-unitone-parallax=enable] {
	visibility: visible;
}
