.unitone-flex[data-unitone-layout*="-divider:"] {
	&.is-horizontal {
		align-items: stretch !important;

		> .unitone-flex__content {
			justify-content: var(--unitone--align-items);
		}
	}
}

.unitone-flex__content {
	--unitone--align-items: center;

	display: flex;
	flex-direction: column;
}

.unitone-flex:where([data-unitone-layout*="-divider\:"]) {
	--unitone--divider-width: 1px;
	--unitone--divider-style: solid;
	--unitone--divider-color:var(--wp--preset--color--unitone-light-gray);

	visibility: hidden;

	&[data-unitone-layout~="divider:initialized"] {
		visibility: visible;
	}

	> * {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: var(--unitone--align-items);
	}

	> ::before {
		content: '';
		position: absolute;
		inset: 0;
		user-select: none;
		pointer-events: none;
		border-width: 0;
		border-style: var(--unitone--divider-style);
		border-color: var(--unitone--divider-color);
	}
}

.unitone-flex[data-unitone-layout~="-divider\:stripe"] {
	column-gap: 0 !important;
	align-items: stretch;

	> * {
		padding: 0 calc(var(--unitone--column-gap) + var(--unitone--divider-width));

		&::before {
			border-width: 0 var(--unitone--divider-width);
		}
	}

	> :not([data-unitone-layout~="-bol"]) {
		padding-left: var(--unitone--column-gap);

		&::before {
			border-left: 0;
		}
	}
}

.unitone-flex[data-unitone-layout~="-divider\:slash"] {
	column-gap: calc(var(--unitone--column-gap) * 2 + var(--unitone--divider-width)) !important;
	align-items: stretch;

	// Core specificity is 0 2 0.
	// .editor-styles-wrapper .is-layout-flex > *
	// &.is-layout-flex > * {
	// 	padding-right: calc(var(--unitone--column-gap) * 2 + var(--unitone--divider-width));
	// }

	> * + :not([data-unitone-layout~="-bol"])::before {
		right: auto;
		left: calc(var(--unitone--column-gap) * -1 - var(--unitone--divider-width));
		border-left-width: var(--unitone--divider-width);
		border-color: color-mix(in oklab, var(--unitone--divider-color) 97%, #000);
		transform: rotate(22.5deg) scale(.8);
}
}

.unitone-flex[data-unitone-layout~="-divider\:bordered"] {
	gap: 0 !important;
	align-items: stretch;

	> * {
		padding:
			calc(var(--unitone--row-gap) + var(--unitone--divider-width))
			calc(var(--unitone--column-gap) + var(--unitone--divider-width));

		&::before {
			border-width: var(--unitone--divider-width);
		}
	}

	> :not([data-unitone-layout~="-bol"]) {
		padding-left: var(--unitone--column-gap);

		&::before {
			border-left-width: 0;
		}
	}

	> [data-unitone-layout~="-linewrap"] {
		margin-top: calc(var(--unitone--divider-width) * -1);
	}
}
