.unitone-flex__content {
	--unitone--align-content: stretch;
	--unitone--background-color: transparent;
	--unitone--background-image: none;
	--unitone--background-position: 0% 0%;
	--unitone--background-repeat: repeat;
	--unitone--background-size: auto;
	--unitone--background-attachment: scroll;
	--unitone--padding: initial;
	--unitone--padding-top: var(--unitone--padding, var(--unitone--children-padding-top));
	--unitone--padding-right: var(--unitone--padding, var(--unitone--children-padding-right));
	--unitone--padding-bottom: var(--unitone--padding, var(--unitone--children-padding-bottom));
	--unitone--padding-left: var(--unitone--padding, var(--unitone--children-padding-left));

	align-self: stretch !important;
	justify-self: stretch !important;
	display: grid;

	&:not(:root) {
		background-color: transparent !important;
		background-image: none !important;
	}
}

.unitone-flex__content__content {
	align-self: var(--unitone--align-self);
	justify-self: var(--unitone--justify-self);
	display: grid;
	align-content: var(--unitone--align-content);
	background-color: var(--unitone--background-color);
	background-image: var(--unitone--background-image);
	background-position: var(--unitone--background-position);
	background-repeat: var(--unitone--background-repeat);
	background-size: var(--unitone--background-size);
	background-attachment: var(--unitone--background-attachment);
	padding-top: var(--unitone--padding-top);
	padding-right: var(--unitone--padding-right);
	padding-bottom: var(--unitone--padding-bottom);
	padding-left: var(--unitone--padding-left);

	> * {
		min-width: 0;
	}
}

.unitone-flex:where([data-unitone-layout*="-divider\:"]) {
	--unitone--divider-color: var(--wp--preset--color--unitone-light-gray);
	--unitone--padding: 0px;
	--unitone--padding-top: var(--unitone--padding);
	--unitone--padding-right: var(--unitone--padding);
	--unitone--padding-bottom: var(--unitone--padding);
	--unitone--padding-left: var(--unitone--padding);
	--unitone--children-padding-top: var(--unitone--padding-top);
	--unitone--children-padding-right: var(--unitone--padding-right);
	--unitone--children-padding-bottom: var(--unitone--padding-bottom);
	--unitone--children-padding-left: var(--unitone--padding-left);
}

.unitone-flex[data-unitone-layout~="-divider\:stripe"] {
	&:where(.is-horizontal, :not(.is-vertical)) {
		column-gap: 0 !important;
		align-items: stretch;

		> * {
			padding: 0 calc(var(--unitone--column-gap) + var(--unitone--divider-width));

			&::before {
				border-width: 0 var(--unitone--divider-width);
			}
		}

		> :not([data-unitone-layout~="-bol"]) {
			&::before {
				border-left: 0;
			}
		}
	}

	&:where(.is-vertical) {
		row-gap: 0 !important;

		> * {
			padding: calc(var(--unitone--row-gap) + var(--unitone--divider-width)) 0;

			&:not([data-unitone-layout~="-linewrap"])::before {
				border-width: var(--unitone--divider-width) 0;
			}

			&[data-unitone-layout~="-linewrap"]::before {
				border-bottom-width: var(--unitone--divider-width);
			}
		}
	}
}

.unitone-flex[data-unitone-layout~="-divider\:divide"] {
	&:where(.is-horizontal, :not(.is-vertical)) {
		column-gap: calc(var(--unitone--column-gap) * 2 + var(--unitone--divider-width)) !important;
		align-items: stretch;

		> :not([data-unitone-layout~="-bol"])::before {
			left: calc((var(--unitone--column-gap) + var(--unitone--divider-width)) * -1);
			right: auto;
			border-left-width: var(--unitone--divider-width);
		}
	}

	&:where(.is-vertical) {
		row-gap: calc(var(--unitone--row-gap) * 2 + var(--unitone--divider-width)) !important;

		> [data-unitone-layout~="-linewrap"]::before {
			top: calc((var(--unitone--row-gap) + var(--unitone--divider-width)) * -1);
			bottom: auto;
			border-top-width: var(--unitone--divider-width);
		}
	}
}

.unitone-flex[data-unitone-layout~="-divider\:slash"] {
	column-gap: calc(var(--unitone--column-gap) * 2 + var(--unitone--divider-width)) !important;
	align-items: stretch;

	> * + :not([data-unitone-layout~="-bol"])::before {
		left: calc((var(--unitone--column-gap) + var(--unitone--divider-width)) * -1);
		right: auto;
		border-left-width: var(--unitone--divider-width);
		border-color: color-mix(in oklab, var(--unitone--divider-color) 97%, #000);
		transform: rotate(22.5deg) scale(0.8);
	}
}

.unitone-flex[data-unitone-layout~="-divider\:bordered"] {
	gap: 0 !important;
	align-items: stretch;

	> * {
		padding:
			calc(var(--unitone--row-gap) + var(--unitone--divider-width))
			calc(var(--unitone--column-gap) + var(--unitone--divider-width));

		&::before {
			border-width: var(--unitone--divider-width);
		}
	}

	> :not([data-unitone-layout~="-bol"]) {
		&::before {
			border-left-width: 0;
		}
	}

	> [data-unitone-layout~="-linewrap"] {
		margin-top: calc(var(--unitone--divider-width) * -1);
	}
}
