@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/stack/stack';
@use '../../../node_modules/@inc2734/unitone-css/src/layout-primitives/text/text';

.woocommerce {
	h2 {
		margin-bottom: var(--unitone--s-2);
	}

	.select2-container {
		display: block;;
	}
}

// Show products result count.
.woocommerce-result-count {
	color: var(--wp--preset--color--unitone-dark-gray);
	font-size: var(--wp--preset--font-size--unitone-s);
}

// Product page title.
.woocommerce .product_title {
	font-size: var(--wp--preset--font-size--unitone-3-xl);
}

// Product page short description.
.product .entry-summary,
.woocommerce-product-details__short-description {
	@include text.abstract-text();
	--unitone--max-width: 100%;
}
:where(.product .entry-summary > *, .woocommerce-product-details__short-description > *) {
	max-width: var(--unitone--max-width);
}
.product .entry-summary {
	.product_title {
		--unitone--margin-bottom: 0;
	}

	.woocommerce-product-rating {
		--unitone--margin-top: 0;
	}

	.price {
		* {
			font-size: inherit;
		}
	}
}

.woocommerce div.product div.images,
.woocommerce div.product div.summary {
	margin-bottom: var(--unitone--s2);
}

// Product page tabs.
.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin: 0 0 -1px;
	display: flex;
	padding: 0;
	overflow: auto;
  white-space: nowrap;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	margin: 0;
	border: 1px solid var(--wp--preset--color--unitone-gray);
	border-radius: 0;
	background-color: var(--wp--preset--color--unitone-light-gray);
	padding: 0 var(--unitone--s1);

	&.active {
		border-bottom-color: #fff;
	}

	&:not(:first-child) {
		border-left: none;
	}

	a {
		font-weight: normal;
	}
}
.woocommerce div.product .woocommerce-tabs .panel {
	--unitone--max-width: 100%;
	margin: 0;
	border: 1px solid var(--wp--preset--color--unitone-gray);
	padding: var(--unitone--s2);
}

// Align button and text field sizes.
.woocommerce .input-text {
  height: 36px;
	padding-right: var(--unitone--s-2);
	padding-left: var(--unitone--s-2);
}

// Star rating.
.woocommerce .star-rating {
	width: 5.3em;

	&::before,
	span,
	span::before {
		font-size: inherit !important;
		line-height: inherit !important;
	}
}
.woocommerce .star-rating span::before {
	color: #fab005;
}

// Single product review.
.woocommerce-Reviews {
	#comments {
		@include stack.abstract-stack();
	}

	.woocommerce-Reviews-title {
		font-size: var(--wp--preset--font-size--unitone-xl);

		> span {
			font-size: inherit;
		}
	}

	.comment-respond {
		display: flex;
		flex-direction: column;
		gap: var(--unitone--s-1);
	}

	.comment-reply-title {
		font-size: var(--wp--preset--font-size--unitone-l);
		font-weight: bold;
	}

	#review_form #respond p {
		margin: 0;
	}

	.comment-form .comment-form-cookies-consent #wp-comment-cookies-consent {
		margin-top: 0.35em;
	}

	p.stars {
		span {
			display: flex;
		}

		a {
			color: #d3ced2;
		}

		&:hover a {
			color: #fab005;
		}

		a:hover ~ a {
			color: #d3ced2;
		}

		&.selected a {
			color: #fab005;
		}

		&.selected:not(:hover) a.active ~ a {
			color: #d3ced2;
		}
	}
}

// Coupon code entry field on checkout page.
.coupon .input-text {
	width: 10em !important;
}

// Checkout page.
.woocommerce-checkout {
	> [id=order_review_heading] {
		margin-top: var(--unitone--s1);
		margin-bottom: var(--unitone--s-1);
		font-size: var(--wp--preset--font-size--unitone-l);
	}
}

// Order recieved page.
.woocommerce-order {
	display: flex;
	flex-direction: column;
	gap: var(--unitone--s1);

	> * {
		margin: 0 !important;

		> h2 {
			margin: 0 0 var(--unitone--s-2);
			font-size: var(--wp--preset--font-size--unitone-l);
		}
	}
}

.woocommerce .woocommerce-customer-details {
	address {
		padding: var(--unitone--s1);
	}
}

// My Account page.
.woocommerce-MyAccount-navigation {
	ul {
		list-style: none;
	}

	li {
		margin-left: 0;

		& + li {
			margin-top: var(--unitone--s-1);
		}
	}

	a {
		text-decoration: none;

		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
}
.woocommerce-MyAccount-content {
	@include text.abstract-text();

	h3 {
		margin-bottom: var(--unitone--s1);
		font-size: var(--wp--preset--font-size--unitone-l);
	}

	.woocommerce-notices-wrapper:empty {
		margin-bottom: 0;
	}

	.woocommerce-notices-wrapper:empty + * {
		margin-top: 0;
	}

	.form-row {
		display: flex;
		flex-direction: column;
		gap: var(--unitone--s-2);

		&::before,
		&::after {
			display: none !important;
		}
	}

	form > div > p:last-child {
		margin-top: var(--unitone--s1);
	}
}
