@use '../../../../node_modules/@inc2734/unitone-css/src/variables/variables';

.wp-block-rss {
	display: flex;
	flex-direction: column;
	gap: var(--unitone--s-2);

	&__item {
		margin-left: 0;
	}

	&__item-publish-date,
	&__item-author,
	&__item-excerpt {
		--unitone--font-size: -2;

		@include variables.typography();
	}
}
